[2012-03-26 08:48] dlecan opened #1 "Allow deployment on servlet 2.4/2.5 container"
Allow deployment on servlet 2.4/2.5 container
Need synchronous communication with Akka invokers

[2012-03-26 08:49] dlecan opened #2 "Allow deployment on Servlet 3.0 container"
Allow deployment on Servlet 3.0 container
Use AsyncContext to communicate with akka invokers

[2012-03-26 08:52] dlecan opened #3 "Provide a "war" task for sbt to package Play2 application"
Provide a "war" task for sbt to package Play2 application

[2012-03-26 08:54] dlecan opened #4 "Allow project to provide custom deployment files (web.xml, jboss-web.xml, ...)"
web.xml
jboss-web.xml
...

[2012-03-26 08:55] dlecan opened #5 "Allow project to customize generated web.xml"
Allow project to customize generated web.xml

[2012-03-26 09:01] dlecan opened #6 "Disable external log files"
In standard Play2 configuration (`logger.xml`) :

[code]

When deployed in a Servlet container, none will want this file.
So we need to disable it (by code, documentation, ...)

[2012-03-26 09:06] dlecan opened #7 "Provide a simple way to launch package process"
To package a Play 2.0 app, it should be as simple as :
- play war

[2012-03-26 09:11] dlecan opened #8 "Study Atmosphere framework"
Cf. https://github.com/Atmosphere/atmosphere

[2012-03-26 09:46] dlecan opened #9 "Handle all types of resources"
- Pages
- Assets
- Images
- Cookies
- ...

[2012-03-26 09:48] dlecan opened #10 "Every thing must be configured within the war package"
Especially log files.

[2012-03-26 09:50] dlecan opened #11 "Allow to deploy war package on popular PaaS providers"
- Cloudbees
- Cloud Foundry
- ...

[2012-03-27 12:09] dlecan opened #12 "WAR packages should be tested"
In different environments, such as :
- Tomcat
- JBoss
- GF
- ...

Use cargo to do the work

[2012-03-27 12:11] dlecan opened #13 "Play2 applications should be able to consume external Datasources"
Setup a new Play Plugin to provide Datasources ?

[2012-03-27 12:13] dlecan opened #14 "WAR package libraries should be clean-up"
WAR package contains many useless dependencies, such H2 database driver (if not used), Netty, Servlet API, ...

They should be removed.

[2012-04-03 10:16] dlecan commented on #3
Done, simply use "play war"

[2012-04-03 10:16] #3 closed, assigned to nobody

[2012-04-03 10:17] dlecan commented on #7
Accomplish by #3

[2012-04-03 10:17] #7 closed, assigned to nobody

[2012-04-03 13:08] dlecan opened #15 "No response on JBoss 7.0.x @Cloudbees"
Config :
- Play 2 war plugin : 0.2-SNAPSHOT
- JBoss 7.0.x
- Servlet 3.x mode

No reponse from server.

See http://servlet30.play-war.cloudbees.net

[2012-04-05 10:28] dlecan commented on #2
Done, works on Tomcat 7
Fill in now specific bugs for each container where package doesn't work.

[2012-04-05 10:28] #2 closed, assigned to nobody

[2012-04-05 10:29] dlecan commented on #9
- Asset : ok
- SimpleResult : ok
- WebSocketResult : ok (500 error)

Remains :
- ChunkResult
- Cookies

[2012-04-05 10:31] dlecan commented on #11
Done, works on Jelastic

[2012-04-05 10:31] #11 closed, assigned to nobody

[2012-04-05 20:38] imeredith commented on #15
This is working now. Need to run the following command in the future with the cloudbees sdk for new deployments to different appid's.

 bees app:update play-war/<appid> disableProxyBuffering=true

-Ivan [CloudBees Engineering]

[2012-04-06 07:30] dlecan commented on #15
Yeh ! Cloudbees hidden features :-)

Many thanks Ivan

[2012-04-06 07:30] #15 closed, assigned to dlecan

[2012-04-06 08:40] imeredith commented on #15
It's a hidden feature that may become standard possibly.

I'm looking at doing a deployment plugin for sbt which will set that.

Of course native support is coming soon and that will be the recommended way eventaully, but it's great to have support for war's in the mean time.

[2012-04-06 09:55] dlecan commented on #9
Feature matrix is up-to-date, chunked response feature is not available for v0.2.
Will be done later.

[2012-04-12 22:39] olivierntk opened #17 "Assets are not being packaged"
When running play war, the application is packed in a war file. However, when deployed to Tomcat7, the war is exploded but does not contain any assets (CS/JavaScript files).

[2012-04-12 23:12] olivierntk commented on #17
nevermind, the app needs to run as ROOT as mentionned in the docs. Closing the issue.

[2012-04-12 23:12] #17 closed, assigned to nobody

[2012-04-14 15:11] andreaturli opened #18 "Running sample application in play2-war-plugin"
Cannot run play war in the sample application created to test this project.

Here the stacktrace:

sample andrea$ play war
[info] Loading project definition from /Users/andrea/workspaces/andrea/play2-war-plugin/sample/project
[warn]  module not found: com.github.play2war#play2-war-plugin;0.2-SNAPSHOT
[warn] ==== typesafe-ivy-releases: tried
[warn]   http://repo.typesafe.com/typesafe/ivy-releases/c

[2012-04-14 19:14] dlecan commented on #18
How did you configure Play2war repositories? In project/Build.scala AND in
project/build.sbt.
Le 14 avr. 2012 17:11, "Andrea Turli" <
reply@reply.github.com>
a écrit :

[2012-04-14 22:46] andreaturli commented on #18
I'm using this project files
https://github.com/dlecan/play2-war-plugin/tree/develop/sample/project

Is there any other files/repo I've to configure on my machine?

Thanks

[2012-04-15 17:43] #18 closed, assigned to nobody

[2012-04-15 17:51] dlecan commented on #18
I added mssing external repo. Thanks for reporting this.

[2012-04-16 07:51] andreaturli commented on #18
Now it's ok. Thanks

[2012-04-18 07:53] shootall opened #19 "Why doesn't support Route?"
After deployed the war file to Tomcat7, my play 2.0 app can't find any mapping defined in the Route file. WHY ? Should I add the mapping to the web.xml manually ?

[2012-04-18 07:54] shootall opened #20 "Why doesn't support Route?"
After deployed the war file to Tomcat7, my play 2.0 app can't find any mapping defined in the Route file. WHY ? Should I add the mapping to the web.xml manually ?

[2012-04-18 08:12] dlecan commented on #19
Duplicates #20

[2012-04-18 08:12] #19 closed, assigned to nobody

[2012-04-18 08:29] dlecan commented on #20
Did you deploy you war as ROOT context in Tomcat ? (deployed as ROOT.was)
Can you give more details ? Plugin version, Route configuration, ...

If you look at sample, you can see severals routes, which are all OK.
https://github.com/dlecan/play2-war-plugin/blob/develop/sample/conf/routes

[2012-04-20 01:17] shootall commented on #20
I make my war file through 'play war' command in my play2 app directory. Then in the manager page of Tomcat7.0, I deploy the war file through the deploy button. I check the tomcat directory: My app was deployed in the webapps (not ROOT) directory, but I can't find the web.xml in the WEB-INF directory (or the web.xml is not necessary ?). The web.xml file can't be found in the war file made by the p

[2012-04-20 12:39] dlecan commented on #20
This configuration looks correct.

I don't know Tomcat manager page, but war package MUST be deployed at root
context in order to work and serve requests.

Is it deployed at root context?
Le 20 avr. 2012 03:17, "shootall" <
reply@reply.github.com>
a écrit :

[2012-04-21 20:36] antoineleclair opened #21 "Should be able to set cookie"
I saw a `// TODO` around that place in the code. I just wanted to signify my interest in this feature since it's a show stopper for us.

I'm new to Scala/sbt and I was not able to set `play2-war-plugin` for local development. I would have tried to add the feature otherwise. If you have instructions for building and using the plugin without using the build repository, I might help.

[2012-04-23 04:01] shootall commented on #20
I make the war file through "play war" command in the play1.2.4(The web.xml file is included in the war file), and put the war file into the webapps directory of Tomcat7.After restarting Tomcat7 evrything is OK. But in the play2 and with the warplugin it can not run correctly.The web.xml is needed in every war file, but I can't find it.WHere is it ?

[2012-04-23 07:49] dlecan opened #22 "Explain how to develop on play2-war-plugin"
How to develop on play2-war-plugin should be explain somewhere.

[2012-04-23 07:49] dlecan commented on #21
You're right, cookies are not handled. It's on the roadmap for next release, v0.3 (see issue #9).
See issue #22 for development on play2-war-plugin.

[2012-04-23 08:03] dlecan commented on #20
What are errors for :
- http://your_host:8080/ ?
- http://your_host:8080/list ?

[2012-04-23 10:20] dlecan commented on #6
Already done, configuration explains that default logger.xml should be overriden.

[2012-04-23 10:20] #6 closed, assigned to dlecan

[2012-04-23 11:55] dlecan opened #23 "404 Not Found status should be handled"
404 Not Found status should be handled

[2012-04-23 11:55] dlecan opened #24 "302 Redirect should be handled"
302 Redirect should be handled

[2012-04-23 12:43] dlecan opened #25 "500 Internal error should be handled"
500 Internal error should be handled

[2012-04-23 12:45] #23 closed, assigned to dlecan

[2012-04-23 12:56] dlecan commented on #12
Done on Tomcat. Others containers will be added later.

[2012-04-23 12:56] #12 closed, assigned to dlecan

[2012-04-23 12:57] dlecan opened #26 "Integration tests should be run on JBoss"
Integration tests should be run on JBoss

[2012-04-23 12:58] dlecan opened #27 "Integration tests should be run on Glassfish 4"
Integration tests should be run on Glassfish 4

[2012-04-23 12:58] dlecan opened #28 "Integration tests should be run on Jetty"
Integration tests should be run on Jetty

[2012-04-24 04:15] shootall commented on #20
The "http://my_host:8080/list"  errors is:
The requested resource (/list) is not available.

It must be the problem of file web.xml:
In the  web.xml of war file packaged by the war command embeded in play1.2.4, I can find the servletmapping of the app:all the mapping is refered to the class play.server.ServletWrapper.
But in the war file packaged by the warplugin with play2, I can't find the web.x

[2012-04-24 11:23] dlecan commented on #20
web.xml is not mandatory any more with Servlet 3.0 containers, such as Tomcat 7.

Is it possible to share your war file ? (better, source project) => dev at dlecan.com

[2012-04-24 14:02] #21 closed, assigned to dlecan

[2012-04-24 14:22] antoineleclair commented on #21
Thanks!

[2012-04-24 14:37] dlecan opened #29 "[Tomcat7x] Memory leaks when container stops"
When Tomcat7 container stops, many errors logs are thrown :
### 1/

SEVERE: The web application [] appears to have started a thread named [com.google.common.base.internal.Finalizer] but has failed to stop it. This is very likely to create a memory leak.
### 2/

SEVERE: The web application [] appears to have started a thread named [play-akka.actor.default-dispatcher-1] but has failed to stop it. Th

[2012-04-24 14:38] dlecan commented on #29
1/ is caused by http://code.google.com/p/guava-libraries/issues/detail?id=92, through BoneCP connection pool (see http://jolbox.com/forum/viewtopic.php?f=3&t=124 also).

[2012-04-24 14:40] dlecan commented on #29
2/ is caused by https://play.lighthouseapp.com/projects/82401-play-20/tickets/281-play-server-should-wait-for-akka-invoker-shutdown, and is fixed in Play 2 master branch (for next 2.1 release).

Will may be released in 2.0.x maintenance branch.

[2012-04-24 16:20] #24 closed, assigned to dlecan

[2012-04-24 16:42] #25 closed, assigned to dlecan

[2012-04-24 16:43] dlecan commented on #9
See #21, #23, #24, #25

[2012-04-24 16:44] dlecan opened #30 "Handle Play ChunkedResult"
Handle Play ChunkedResult

[2012-04-24 16:44] dlecan commented on #9
See #30 for ChunkedResult handling.

[2012-04-24 16:45] dlecan commented on #9
All resources are handled, except ChunkedResult (see #30)

[2012-04-24 16:45] #9 closed, assigned to dlecan

[2012-04-25 09:37] dlecan commented on #21
See https://github.com/dlecan/play2-war-plugin/wiki/How-to-help for instructions about how to develop with Play2War plugin.

[2012-04-25 09:38] dlecan commented on #22
Done here : https://github.com/dlecan/play2-war-plugin/wiki/How-to-help

[2012-04-25 09:38] #22 closed, assigned to dlecan

[2012-04-26 12:28] dlecan commented on #28
Almost done, tests are ok, but Cargo snapshot binaries are necessary.

So wait for Cargo 1.2.2 to enable Jetty container.

[2012-04-26 12:54] dlecan commented on #10
Already done

[2012-04-26 12:54] #10 closed, assigned to dlecan

[2012-04-26 12:57] dlecan commented on #14
Filter H2 driver by calling DB plugin to know if H2 driver is needed by application ?

[2012-04-27 15:58] dlecan opened #31 "[Tomcat 7x] Download of file (size > 3Mio) hangs"
Download of file (size > 3Mio) hangs

[2012-05-04 23:29] onyxraven opened #32 "Play 2.0.1: /*:war: java.util.zip.ZipException: duplicate entry: WEB-INF/lib/play.play_2.9.1-2.0.1.jar"
With the upgrade to Play 2.0.1, both `play dist` and `play war` throw the following:

 % play dist
[info] Loading project definition from /Users/jhart/dev/Server/project
[info] Set current project to Server (in build file:/Users/jhart/dev/Server/)
[error] {file:/Users/jhart/dev/Server/}Server/*:dist: java.util.zip.ZipException: duplicate entry:server-1.0-SNAPSHOT/lib/play.play_2.9.1-2.0.1.jar

 %

[2012-05-07 08:30] dlecan opened #33 "Upgrade to Play 2.0.1"
Play 2.0.1 is out !

[2012-05-07 08:34] dlecan commented on #32
I'am not able to reproduce this issue.

Can you provide a project test case ?

[2012-05-07 08:46] #33 closed, assigned to nobody

[2012-05-07 08:48] dlecan commented on #32
Anyway, Play2War plugin is not binary compable with PLay 2.0.1. I will release a 0.3.1 version compatible with Play 2.0.1 (see bug #33)

[2012-05-10 10:47] tisoft opened #34 "play2war plugin 0.3.1 not found"
[warn] ==== Play2war plugins release: tried
[warn]   http://repository-play-war.forge.cloudbees.com/release/com/github/play2war/play2-war-plugin_2.9.1_0.11.2/0.3.1/play2-war-plugin-0.3.1.pom

[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  ::          UNRESOLVED DEPENDENCIES         ::
[warn]  ::::::::::::::::::::::::::::::::::::::::::::::
[warn]  :: com.github.play2war#play2-war-pl

[2012-05-10 11:47] dlecan commented on #34
Thank you for reporting this.
I re-uploaded all artifacts. It should be ok now.

[2012-05-10 11:47] #34 closed, assigned to nobody

[2012-05-11 13:30] dlecan commented on #29
2/ is now gone with Play 2.0.1

[2012-05-13 11:51] dlecan commented on #8
See https://groups.google.com/forum/?fromgroups&hl=fr#!topic/atmosphere-framework/vjJfK2Zo-mE

[2012-05-14 15:19] tm4rini opened #35 "War error"
Hello

I'm having little problem with the application to deploy in tomcat
I initially could generate the WAR file using the command "play war" and realized deploy on tomcat 7.0.12 without error .... But when I try to access http://localhost:8080/testewar-1.0-SNAPSHOT/ generate the error HTTP Status 404 - / testewar-1.0-SNAPSHOT /

follow the link to download the WAR file
http://depositfiles.com/fi

[2012-05-14 15:40] dlecan commented on #35
Play 2.0.x framework doesn't handle sub context, so the same app packaged in a war file doesn't too (See https://github.com/dlecan/play2-war-plugin#features).
Play 2.1 will handle sub context.

You have to deploy your WAR file as the root context. For Tomcat, just rename your war file as "ROOT.war" and drop it into webapps folder.
Start Tomcat and then open http://localhost:8080/

[2012-05-14 15:40] #35 closed, assigned to nobody

[2012-05-14 16:55] tm4rini opened #36 "War demo"
hello

you have to send the war of the test:
http://play2war.jelastic.dogado.eu/

[2012-05-14 19:22] dlecan commented on #36
Sources of demo are available here: https://github.com/dlecan/play2-war-plugin/tree/develop/sample
You can download directly the last build of theses sources here: https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/target/a_warification-1.0-SNAPSHOT.war

[2012-05-14 19:22] #36 closed, assigned to nobody

[2012-05-15 14:41] #30 closed, assigned to nobody

[2012-05-15 19:45] sejensen commented on #32
We are having the exact same issue with a completely empty new play project (2.0.1) and 0.3.1 version of the plugin.

[2012-05-15 19:55] sejensen commented on #32
I added a very simple demo app that reproduces the problem

https://github.com/sejensen/play2-warplugin-error

We have tested on ubunto, osx, and others.

What to do?

[2012-05-16 09:23] StabbarN commented on #32
I am seeing the same issue running "play dist" with play 2.0.1 and play email plugin (https://github.com/typesafehub/play-plugins/tree/master/mailer)

[error] {file:/Users/magnusandersson/x/}x/*:dist: java.util.zip.ZipException: duplicate entry: x-1.0-SNAPSHOT/lib/play.play_2.9.1-2.0.1.jar
[error] Total time: 3 s, completed May 16, 2012 11:21:11 AM

[2012-05-16 19:42] dlecan commented on #32
Reproduced !
Thank you for this test case.

[2012-05-19 08:37] pashazel commented on #32
dlecan, exactly the same problem is reproduced on win7 (32), play 2.0.1, war 0.3.1, Thanks!

[2012-05-20 13:35] saveferris commented on #32
I am seeing this same error with Play 2.0.1 -- my only plugins are:

// Use the Play sbt plugin for Play projects.
addSbtPlugin("play" % "sbt-plugin" % "2.0.1")

// This plugin lets us configure Eclipse IDE projects with the "eclipse" command.
addSbtPlugin("com.typesafe.sbteclipse" % "sbteclipse-plugin" % "2.0.0")

[2012-05-20 20:08] dlecan commented on #32
"dist" and "war" tasks are very similar, this is why they are probably affected by the same bug.
However, I can't do anything for issues with "dist" task which is provided by Play itself.

@YeaYeah @saveferris, as several plugins produce the same bug ("sbt-eclipse", "email"), it would be great to report it to Play framework issue tracker :
https://play.lighthouseapp.com/projects/82401-play-20

Bet

[2012-05-21 04:17] StabbarN commented on #32
It's reported to play framework's issue tracker.
https://play.lighthouseapp.com/projects/82401/tickets/486-old-issue-play-dist

[2012-05-21 08:36] asinghal opened #37 "Impossible to upload files"
I have deployed a play-war generated play 2 scala application on Tomcat 7. I am facing the following issues.
1. Multipart form data does not work
   I have a HTML form defined as <form method="POST" action="/myaction" id="my_form" class="form-horizontal" enctype="multipart/form-data"> </form>

It has a couple of inputs inside. even if I do not upload a file, I still get a BadRequest - dump as foll

[2012-05-21 09:26] dlecan commented on #37
How does your form template look like ? And your controller ?

[2012-05-21 11:54] #32 closed, assigned to dlecan

[2012-05-21 11:58] dlecan commented on #37
Here is a kind of form to reproduce the issue:

[code]

[2012-05-21 14:55] dlecan opened #38 "Fix issue #32 as Play Framework will do"
Issue #32 is fixed, but this should be done as for Play framework (see https://play.lighthouseapp.com/projects/82401/tickets/486-old-issue-play-dist)

[2012-05-21 14:57] dlecan opened #39 "[Tests] Improve givenWhenGet to handle multi-part POST"
Scenario "container sends an image" doesn't use givenWhenGet because it doesn't handle multi-part POST requests.

So givenWhenGet should handle multi-part POST requests.

[2012-05-21 15:00] dlecan opened #40 "Use a Promise to handle SimpleResult"
In Servlet30Wrapper, when handling SimpleResult, for response with Content-Length, writer is not using a Promise.
It shoud.

[2012-05-21 15:52] #40 closed, assigned to nobody

[2012-05-22 00:43] #37 closed, assigned to nobody

[2012-05-22 13:51] gcardoso22 opened #41 "Standalone deployment ?"
Just wondering whats does "Standalone deployment" mean in the "Server compatibility" matrix?
Does this mean that I can simply create a war file using and "play war" and place that WAR in my recently installed JBoss AS 7 in "C:\jboss-as-7.1.0.Final\standalone\deployments" ?
Or do I need to install some plugin/module/dependency into my JBoss server?

Because I can install the WAR without errors, but

[2012-05-22 15:45] dlecan commented on #28
Cargo 1.2.2 is out !

[2012-05-22 15:47] #28 closed, assigned to nobody

[2012-05-23 08:18] dlecan opened #42 "Documentation about installation on JBoss 7.0.x"
A documentation about installation on JBoss 7.0.x is needed.

[2012-05-23 08:23] dlecan commented on #20
Any news on this ?

[2012-05-23 08:55] dlecan commented on #41
I haven't tested on JBoss 7.1.x yet, only on JBoss 7.0.x.

Some basic configuration has to be done on JBoss 7.0.x to avoid conflicts between embedded Play librairies and JBoss ones. I have to write a documentation about this configuration (see #42).

Anyway, Play framework v2.0.x doesn't allow to deploy applications in a sub-context: they must be deployed at root context. So your application must

[2012-05-23 22:46] OpsRJ opened #43 "Images and css not loading and links not working"
I tested the plugin yesterday and was very easy to deploy on tomcat7. But when the app loads, it didnt load the images and styles. I realize when i'm running itwith tomcat, i need the addr to be localhost:8080/app-name and in the source code, if i see the img addr is /assets/images/massagem.jpg

But for it to work i need the full addr. How can i fix it?

[2012-05-24 08:39] dlecan commented on #43
Play framework applications 2.0.x must be deployed ar root context.
See https://github.com/dlecan/play2-war-plugin#how-to-deploy-in-your-favortie-application-server for explanations.

[2012-05-24 08:39] #43 closed, assigned to nobody

[2012-05-24 08:40] dlecan commented on #41
I improved README.
See https://github.com/dlecan/play2-war-plugin#how-to-deploy-in-your-favortie-application-server for explanations.

[2012-05-24 08:40] #41 closed, assigned to nobody

[2012-05-24 08:41] dlecan commented on #42
Done here: https://github.com/dlecan/play2-war-plugin#how-to-deploy-in-your-favortie-application-server

[2012-05-24 08:41] #42 closed, assigned to dlecan

[2012-05-25 12:29] dlecan opened #44 "Bind 'war' task on standard 'package' task"
The war file is available in target folder, but it should be also published when "publish" and "publish-local".

[2012-05-25 12:29] dlecan commented on #44
"war" task should be bound to "package" task ?

[2012-05-29 13:17] dlecan commented on #31
This is due to Connector protocol limitations:
- org.apache.coyote.http11.Http11Protocol (default) has limitations
- org.apache.coyote.http11.Http11NioProtocol seems to work well

[2012-05-31 12:38] dlecan opened #46 "Java 7 compatibility"
Compatibility with Java 7 seems to be bad, either on Tomcat or on Jetty.
This needs to be investigated.

[2012-05-31 14:08] #20 closed, assigned to dlecan

[2012-05-31 14:21] dlecan commented on #31
Increasing connection timeout fixes this issue.

[2012-05-31 16:12] dlecan commented on #31
Still blocking sometimes on Tomcat 7 on Jenkins :(

[2012-05-31 16:13] dlecan commented on #31
It hangs only with direct transfert, non chunked transfert.

[2012-06-01 10:31] ueshin opened #47 "How to use Play2War in a multi-project ?"
When I used play2war plugin with multi-project style, I got an error as follows:

[code]

Here, the 'core' is a common library project depended by PlayProject.

[2012-06-01 11:13] dlecan commented on #47
'war' task is only known by the main project (the one where you configured play2war plugin).

With SBT, you have to select the right project before building war.

[code]

Or, as a shortcut, you can define an alias in a ``.sbtrc` file, such as :
alias war-my-app = ;project my-app;war

[2012-06-01 11:58] ueshin commented on #47
I'm sorry, but I got the same error...

I created the new play project and configure it to use play2war plugin.
My configurations are as follows:
- project/Build.scala (omit imports)

[code]
- project/plugins.sbt

[code]

Do you have any suggestions to work properly?

[2012-06-01 15:33] dlecan opened #48 "Using Ivy or Maven patterns result in a different WAR file"
To depend on Maven or Ivy pattern dependencies result in a different WAR file.

Using Maven pattern results in adding many more jars in the WAR file.

[2012-06-01 15:36] dlecan commented on #47
Ok
So you have this structure:

[code]

Can you try this structure ? (i don't know if that can work with Play plugin)

[code]

[2012-06-02 02:31] ueshin commented on #47
Hi, I tried the second structure.
Play command didn't work so I used sbt command.

But I got the same errors for 'core' and 'root'.

[2012-06-04 07:40] dlecan commented on #47
Ok, so you have to wait for enhancement #44.

[2012-06-04 13:18] ueshin commented on #47
Hi, thank you for your reply.
So I will wait for the release of the enhancement.

Thank you.

[2012-06-06 02:03] jamasters opened #49 "Multipart Form Data Issue - Play 2.0.1 [JAVA]"
Multipart form submission does not work when using play2-war-plugin. This code works when using the 'play run' command.

When deployed as a web archive in Tomcat 7.0.27 - 'null' is returned from

[code]

This causes a null pointer exception at

[code]

This is using
- Play 2.0.1 [Java]
- Tomcat 7.0.27

A simple test case is included below..

Controller

[code]

Form

[code]

[2012-06-06 08:57] dlecan opened #50 "Improve HttpServletRequest toString"
This tarce is useless: Http request received: org.apache.catalina.connector.RequestFacade@16b69d7

Need to improve it.

[2012-06-06 16:41] #50 closed, assigned to dlecan

[2012-06-06 16:41] #49 closed, assigned to dlecan

[2012-06-12 13:48] #38 closed, assigned to dlecan

[2012-06-12 13:48] #48 closed, assigned to dlecan

[2012-06-13 07:39] dlecan opened #51 "Allow to use JPA with external Datasource"
This enhancement to satify requirement #13 (Play2 applications should be able to consume external Datasources)

[2012-06-13 07:39] dlecan opened #52 "Allow to use Anorm with external Datasource"
This enhancement to satify requirement #13 (Play2 applications should be able to consume external Datasources)

[2012-06-13 08:48] dlecan opened #53 "Publish built war when doing "publish-local" or "publish""
The war file is available in target folder, but it should be also published when "publish" and "publish-local".

[2012-06-13 08:53] #44 closed, assigned to dlecan

[2012-06-13 13:11] dlecan commented on #53
See :
- https://github.com/harrah/xsbt/wiki/Artifacts
- https://github.com/siasia/xsbt-web-plugin/blob/master/src/main/scala/com/github/siasia/WarPlugin.scala#L60

[2012-06-13 14:47] jfarcand commented on #8
Salut, let me know if I can be of any help. I will soon meet with the Play! Core team on the Atmosphere Front so it would be nice to make sure we try to share as much as we can in term of code.

A+

-- Jeanfrancois

[2012-06-15 09:50] dlecan opened #54 "Play logger is in conflict with JBoss one"
As soon as Play core engine is started, JBoss logs are disabled.

[2012-06-15 11:58] dlecan commented on #54
See :
- https://community.jboss.org/thread/198592
- http://stackoverflow.com/questions/7830118/how-to-debug-a-incorrect-module-dependency-in-jboss-as-7
- http://stackoverflow.com/questions/9518687/logback-and-jboss-7-dont-work-together

[2012-06-15 11:58] dlecan commented on #54
Remove `<root level="INFO">` section in `logger.xml` ?

[2012-06-15 12:10] dlecan commented on #54
WIP in branch `issue-#54-logger-conflict-with-jboss`: https://github.com/dlecan/play2-war-plugin/tree/issue-%2354-logger-conflict-with-jboss

[2012-06-15 12:23] dlecan opened #55 "[CI] Reorganize Jenkins builds"
It would be interesting to explode those big jobs into smaller ones:
- publish plugin
- build sample
- run tests

[2012-06-15 13:15] #53 closed, assigned to nobody

[2012-06-18 17:03] takezoe commented on #1
+1
We really need support for Servlet 2.4 / 2.5.

[2012-06-19 07:05] dlecan commented on #1
@takezoe which servlet container is important for you ?

[2012-06-19 10:38] takezoe commented on #1
We are still using Tomcat 6.0.x for some applications.
Of course, we really want to upgrade (or replace to other app server) them but we can't do it by some non-technical reasons...

[2012-06-19 11:05] dlecan commented on #4
Assets will have to be stored in `PROJECT_ROOT/war`.
Everything located in this folder will be embedded in the WAR file at root.
Eg: `war/WEB-INF/jboss-web.xml` will become `WEB-INF/jboss-web.xml` in the WAR file.

[2012-06-19 11:07] dlecan opened #56 "Plugin must be compatible with Play 2.0.2"

[2012-06-19 16:02] takezoe commented on #1
I'm trying to modify play2-war-plugin for Servlet 2.5 support at the forked repository:
https://github.com/takezoe/play2-war-plugin

It adopts wait and notify for synchronized execution and put web.xml which defines servlet and listener into the generated war file. I think this is a simplest way but I haven't understood Play2 and play2-war-plugin completely. So I can't believe this is a correct wa

[2012-06-20 12:12] dlecan commented on #1
Good work @takezoe , this is the simplest way to be compatible with Servlet 2.x

Others possibilities :
- bypass Akka when invoking "play server", in order to have a synchronous call. Possible, but needs to do modification in Play code itself
- configure Akka with Dispatchers to use current thread to do its job (thx to CallingThreadDispatcher). No synchronization is required in that case

I will p

[2012-06-20 14:47] dlecan opened #57 "Reorganize project in order to build servlet2.x and servlet3.0 artifacts"
See https://groups.google.com/forum/?fromgroups#!topic/simple-build-tool/h2pbkOyIuVE to build several artifacts from on source folder.

[2012-06-26 14:10] #4 closed, assigned to dlecan

[2012-06-26 16:37] marcosinigaglia opened #58 "[Tomcat 7] Production configuration ?"
In standalone deployment is possible to set a specific configuration file with -Dconfig.resource=produtcion.conf
Is possible to do a similar thing with the plugin?

[2012-06-27 08:00] rore commented on #56
Any progress with 2.0.2 compatibility?

[2012-06-27 08:34] dlecan commented on #58
`-Dconfig.resource=my_file.conf` is a JVM configuration configuration flag, so yes, you can do a similar thing with your servlet container.
But configuration is specific to your servlet container. Which one is it ?

[2012-06-27 08:40] marcosinigaglia commented on #58
We use Tomcat 7

[2012-06-27 08:58] dlecan commented on #58
Look at `bin/catalina.bat` and environment variables `JAVA_OPTS` or `CATALINA_OPTS`. They can be defined by a `setenv.bat` file (see http://serverfault.com/questions/79641/how-can-i-configure-tomcat-java-options-in-a-config-file).

[2012-06-27 09:15] marcosinigaglia commented on #58
Thanks Damien

[2012-06-27 09:19] #58 closed, assigned to nobody

[2012-06-27 13:44] dlecan commented on #56
Changing SBT version in a minor release of Play is a pity. I need to do a new release of Play2War with configuration modifications in order to support Play 2.0.2 + SBT 0.11.3

Is it a major issue for you ?

[2012-06-27 13:48] rore commented on #56
Well, it prevents updating play to 2.0.2 if you use the war plugin (which
we do), and since 2.0.2 contains some important bug fixes I would be glad
to update to it.

On Wed, Jun 27, 2012 at 4:44 PM, Damien Lecan <
reply@reply.github.com

[2012-06-28 10:28] sejensen commented on #56
I would really like to have this updated as well!

We need it to deploy on our production environment.

Thanks

[2012-06-29 20:47] dlecan commented on #56
Play API has evolve, I will have to do a special release for it. I will have to think about how to support all multiple and incompatible Play versions ...

[code]

[2012-06-30 15:36] #56 closed, assigned to dlecan

[2012-06-30 16:07] dlecan commented on #56
Play2War v0.6 with Play 2.0.2 support has been released.

[2012-06-30 17:54] rore commented on #56
Awesome!
Thanks.

On Sat, Jun 30, 2012 at 7:07 PM, Damien Lecan <
reply@reply.github.com

[2012-07-01 19:13] dlecan commented on #57
Done

[2012-07-01 19:13] #57 closed, assigned to dlecan

[2012-07-01 19:18] dlecan opened #59 "Core dependency should be automatically declared with servletVersion setting"
servletVersion setting allows to choose between servlet 2.5 or 3.0.
Play2War core dependency should be automatically injected into Play projet according to this setting.

[2012-07-01 19:19] dlecan opened #60 "Define a servletVersion setting to choose between servlet 2.5 or 3.0"
Define a servletVersion setting to choose between servlet 2.5 or 3.0.
Default version : 3.0

[2012-07-01 19:23] dlecan opened #61 "Rename servlet classes"
play.core.server.servlet.Servlet3xWrapper => play.core.server.servlet30.Play2WrapperServlet
play.core.server.servlet.Servlet2xWrapper => play.core.server.servlet25.Play2WrapperServlet

[2012-07-01 20:43] #61 closed, assigned to dlecan

[2012-07-03 15:22] rore opened #62 "How to handle UTF-8 non-english characters in query string ?"
(This is a cross-post from the play2 google group, I have a feeling it's connected to the war plugin and not play itself).

I'm having an issue with query strings parameter values which are non-english.
When running under local play server the value is decoded correctly to the proper value.
When deploying under Tomcat (using the war plugin) the value is not decoded correctly.

Example:
I have a ur

[2012-07-03 20:10] dlecan commented on #62
I need the following versions:
- Play2War
- Tomcat
- JVM

What does "%D7%90%D7%A8%D7%99%D7%A7" mean ?

[2012-07-03 20:17] rore commented on #62
play2war - 0.6
tomcat 7
OpenJDK 1.6.0_20

(EC2 machine)

On Tue, Jul 3, 2012 at 11:10 PM, Damien Lecan <
reply@reply.github.com

[2012-07-04 06:29] rore commented on #62
sorry, didn't see the last question. it's the url encoded version of the Hebrew "אריק".

[2012-07-04 07:36] dlecan commented on #62
Does it work with a standard servlet application deployed on Tomcat ?
I would like to be sure this issue is coming from Play2War and not from Tomcat configuration.

[2012-07-04 11:10] rore commented on #62
OK, I did a little more digging. It is a problem with Tomcat configuration,
as the Tomcat on my server is not configured to be UTF-8 on the server
level.

The problem is that I don't control the server configuration. There is a
workaround though on an application level, that requires configuring some
filters on the web.xml on the application.

But I see that the war plugin doesn't create a web.xml

[2012-07-04 11:32] Byr opened #63 "web.xml configuration with basic authentication ?"
Im new with the use of play2-war-plugin , i downloaded version 0.5.

I would like to create a  web.xml file for my project war.:

I know that play.server.ServletWrapper is not anymore on play version 2.0 , but i would like to know if there is another way to do something  like the following:

---

<?xml version="1.0" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.

[2012-07-04 11:40] dlecan commented on #63
This will be possible with Play2War v0.7: embed custom files in generated war (such as web.xml)
https://github.com/dlecan/play2-war-plugin/issues?milestone=12

[2012-07-04 11:41] dlecan commented on #63
Notice that, as of v0.6, Play2War is only compatible with Play 2.0.2+

[2012-07-04 11:42] dlecan commented on #62
This will be possible with Play2War v0.7: embed custom files in generated war (such as web.xml)
https://github.com/dlecan/play2-war-plugin/issues?milestone=12

[2012-07-04 11:43] sejensen commented on #54
Hi everyone

Does this mean that we will not be able to log from within our play2 war app on jboss?

Is there any timeframe for when this will be solved. An application without a log is not suited for customers.

Building our own log to database seems silly

Kind regards
Steffen

[2012-07-04 11:47] Byr commented on #63
Thanks for the fast response, i will be expecting v 0.7

[2012-07-04 11:48] rore commented on #62
Awesome!
Any idea on when 0.7 will be ready?
And another question - how should the servlet in the web.xml be defined?
I've tried manually adding web.xml to the generated war but then the
application didn't start (as I'm not sure how not to kill the current
servlet mapping).

On Wed, Jul 4, 2012 at 2:42 PM, Damien Lecan <
reply@reply.github.com

[2012-07-04 12:12] dlecan commented on #54
With Play2War v0.6, i didn't find any correct log configuration yet. Something is wrong between Play logback configuration and JBoss configuration.

As you can read in stackoverflow questions, this **might** be solved by using a jboss-deployment-structure.xml file embedded in the WAR file.
Play2War v0.7 will allow you to embed automatically such a file, but you can already test this solution by in

[2012-07-04 12:19] dlecan commented on #62
Embed custom file feature is already in "develop" branch, so you can try snapshot build of the plugin.

Until there, you can try adding by yourself a web.xml, configured for Servlet 3.0 container.
See http://stackoverflow.com/questions/9966655/servlet-3-0-webservlet-use-what-will-be-in-web-xml for web.xml headers.

[2012-07-04 12:28] rore commented on #62
Cool, thanks.

On Wed, Jul 4, 2012 at 3:19 PM, Damien Lecan <
reply@reply.github.com

[2012-07-04 13:05] sejensen commented on #54
I tried adding the deployment xml file to meta-inf but cannot locate any log files.

In the documentation you mention it will be created in users_home/logs. but that is empty.

standalone/log on jboss do not have any new logfiles and server log do not get log statements from play.

Any ideas?

Thanks
Steffen

[2012-07-04 13:14] dlecan commented on #54
Did you configure a specific logger.xml for your application ?
As described here: https://github.com/dlecan/play2-war-plugin/#configure-logging

Damien

[2012-07-04 13:18] sejensen commented on #54
Yes I have allready added the logger.xml to conf Should I add anything to application.conf to be able to use it?

And is it also user_home/logs that jboss will use for the log file?

My logger.xml
<configuration>

[code]

 </configuration>

[2012-07-04 13:26] dlecan commented on #54
Ok, this is an open bug.
I will look at that in the next weeks.

Damien

[2012-07-09 19:19] sejensen commented on #62
Did you solve this? and how

Because it seems like we have the same issue with play-war plugin and danish letters æøå in get query.

Kind regards
Steffen

[2012-07-09 19:32] rore commented on #62
See this question in stackoverflow, it contains a code for a query-string
parser filter that handles UTF-8 that can be used in the application
context without needing to set the connector on the global tomcat
configuration.
I haven't combined this with play2-war yet, only verified this filter
works, but basically I think adding it to the war should solve this issue.

On Mon, Jul 9, 2012 at 10:19 P

[2012-07-09 19:32] rore commented on #62
Ah, a link could be useful.
http://stackoverflow.com/questions/2657515/detect-the-uri-encoding-automatically-in-tomcat

On Mon, Jul 9, 2012 at 10:32 PM, Rotem Hermon rotem.hermon@gmail.comwrote:

[2012-07-09 19:40] sejensen commented on #62
Thank you very much.

If I have full control over the server, is there then an easier solution to this problem?

Kind regards
Steffen

[2012-07-09 19:45] rore commented on #62
Yes, see here - http://wiki.apache.org/tomcat/FAQ/CharacterEncoding

On Mon, Jul 9, 2012 at 10:40 PM, sejensen <
reply@reply.github.com

[2012-07-09 20:04] sejensen commented on #62
Thank you!

I will try to change that instead.
Steffen

[2012-07-10 09:07] dlecan commented on #62
If you need to add servlet/filters in your application, you don't need to wait Play2War 0.7 and "embed custom file such as web.xml" feature.

You can add them programmatically:
http://www.softwareengineeringsolutions.com/blogs/2010/08/01/programmatic-definition-of-components-in-servlet-specification-3-0/

Put your code in `PROJECT/app` folder, servlet 3.0 library is already in your Play applicatio

[2012-07-10 10:11] sejensen commented on #62
Hi everyone

Adding a web.xml to JBoss 7+ (or eap 6 as we use) to the project solved det problem

Content of web.xml (remember web-app header and async-supported true)

[code]

   And in the configuration ie. standalone.xml add system properties just after extensions, see here https://community.jboss.org/message/643825#643825

[2012-07-10 11:42] rore commented on #62
Thanks Damien, that's a nice tip!

[2012-07-11 08:28] #60 closed, assigned to dlecan

[2012-07-11 12:23] dlecan opened #64 "Prepare Build.scala for cross Play version build"

[2012-07-12 07:12] #63 closed, assigned to nobody

[2012-07-12 07:12] #62 closed, assigned to nobody

[2012-07-12 07:13] dlecan opened #65 "Adapt plugin to be used in a multi-project"
See #47

[2012-07-12 07:17] dlecan opened #66 "Allow to disable generated warning when web.xml is found and servletVersion = 3.0"
When:
- web.xml is found in `war/WEB-INF/web.xml`,
- `servletVersion := 3.0`,

a warning is generated. Allow plugin to disable it.

[2012-07-12 11:28] dlecan opened #67 "Describe how to migrate from Play2War 0.6 to 0.7"

[2012-07-12 11:31] dlecan commented on #5
`Web.xml` file is generated once, thanks to #1. Then project can modify it as wanted.

[2012-07-12 11:31] #5 closed, assigned to dlecan

[2012-07-13 13:40] dlecan opened #68 "Do integration tests on Servlet 2.5 container too"

[2012-07-13 13:41] dlecan commented on #1
Done for v0.7

[2012-07-13 13:41] #1 closed, assigned to dlecan

[2012-07-23 20:25] #65 closed, assigned to dlecan

[2012-07-23 21:27] #59 closed, assigned to dlecan

[2012-07-25 18:57] #68 closed, assigned to dlecan

[2012-07-26 20:38] dlecan commented on #67
Done
http://blog.dlecan.com/play2war-0.7-is-out!/

[2012-07-26 20:38] #67 closed, assigned to dlecan

[2012-08-06 09:54] samspycher commented on #4
Hi,

I would like to customize the MANIFEST.MF with this strategy, because I am creating an OSGI WAB and not only a WAR.

Unfortunately I get this error when packaging:

[error] {file:[project-path]/}[project-name]/*:package: java.util.zip.ZipException: duplicate entry: META-INF/MANIFEST.MF
[error] Total time: 5 s, completed Aug 6, 2012 11:28:55 AM

Ideally, I would like custom files from the war/

[2012-08-06 10:53] matgi opened #69 "HELP on ERROR "module not found: com.github.play2war#play2-war-plugin;0.7""
Hello,
i'm developing a web app using play 2.0.2.
I tried to set up the play2-war-plugin following the istructions...
but unfortunatly when i run the play package command i obtain this error (it seems a compilation error infact the play compile give the same result):

D:\jdevNew\sorgenti\produzione\AdiuWEB>play package
[info] Loading project definition from D:\jdevNew\sorgenti\produzione\AdiuWEB\p

[2012-08-07 12:29] dlecan commented on #69
Is your Internet connection ok?
This link works great for me, but your SBT build doesn't seem to find it:

http://repository-play-war.forge.cloudbees.com/release/com/github/play2war/play2-war-plugin_2.9.1_0.11.3/0.7/play2-war-plugin-0.7.pom

Are you behind a proxy?
Le 6 août 2012 12:53, "matgi" <
reply@reply.github.com>
a écrit :

[2012-08-07 12:39] dlecan commented on #4
Customizing manifest is an interesting use case, but I didn't think about
it :-)

Unfortunately you can't easily customize it with Play2war 0.7 because it is
hard written.

Please fill in a separate issue as a bug. I will fix it for 0.7.1 (release
around August the 20th-25th).

Until this date, you can try to set up in your SBT build a post war task:
- unzip war
- generate the new manifest
- repla

[2012-08-07 17:57] tm4rini opened #70 "Deploy to jboss as 7.1.1"
Hello,

I am developing a web application using playframework 2.0.2, already begotten the WAR file using play2war 0.7.
Right now I'm trying to deploy to jboss AS 7.1.1, I configured to enable-welcome-root="false" the file standalone.xml
and rename the WAR file for "ROOT.war".... But when I start jboss AS the following output is displayed and does not continue with the process.

C:\jboss-as-7.1.1.F

[2012-08-09 07:44] matgi commented on #69
thanx,
unfortunatly i'm under a proxy but i've already do the set HTTP_PROXY=....
A college of mine also try the plug in outisde the proxy and he's obtain the same error we test try the plug in on the forms sample app unser samples\java.
Do you know what's going on? In case could you please send me a war package example just to see the internal structure of the war?

[2012-08-09 08:11] samspycher commented on #4
I forked and patched myself, although I must admit the Scala code is probably hideous to any knowledgeable Scala developer :)

-> Shall I still submit a bug? I don't mind at all if you prefer to do this yourself, but I am also happy to submit a pull request.

[2012-08-09 11:32] dlecan commented on #4
Please submit a pull request.
Thanks for the contribution

How is generated your manifest?

[2012-08-09 11:46] dlecan commented on #69
Does the previously provided link work in your browser?

Anyway, you can find built war samples here:

https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/servlet30/target/

Or

https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/servlet25/target/

[2012-08-09 11:55] dlecan commented on #70
Your application seems to be correctly deployed.

What about http://localhost:8080/?

Please know that there is an open bug about missing logging traces (even errors) on JBoss (see #54).

[2012-08-09 11:56] matgi commented on #69
Yes the http://repository-play-war.forge.cloudbees.com/release/com/github/play2war/play2-war-plugin_2.9.1_0.11.3/0.7/play2-war-plugin-0.7.pom is reachable...
sincerely i don't understand where is the problem. :(
Maybe i have some strange settings in my project, but i follow the istructions step by step.
I'm developing using eclipse on windows 7 ,using play java api and the goal is to deploy on jbo

[2012-08-09 12:07] samspycher commented on #4
We generate our OSGI bundle manifests (see http://en.wikipedia.org/wiki/OSGi#Bundles) with the maven bundle plugin: http://felix.apache.org/site/apache-felix-maven-bundle-plugin-bnd.html. Using bundles instead of straightforward jars allows us to do crazy things with our applications, check it out! :)

Unfortunately our target container Virgo seems to be having problems with jars generated from th

[2012-08-09 12:59] dlecan commented on #69
Please copy/paste your Build.scala and plugin.sbt files in this issue. Thanks.

[2012-08-09 13:07] matgi commented on #69
------------------------------------------------Build.scala-------------------------------------------------------

[code]

------------------------------------------------plugins.sbt-------------------------------------------------------

[code]

THANX.

[2012-08-09 14:40] dlecan commented on #69
Not correct, if you want to use Play2war 0.7, you must configure Play
runtime 2.0.2 instead of 2.0.

Correct configuration :
addSbtPlugin("play" % "sbt-plugin" % "2.0.2")

[2012-08-10 07:09] matgi commented on #69
unfortunatly it doesn't work

 ------------------------------------------------plugins.sbt-------------------------------------------------------

[code]

maybe there's something missing in my environment?
...sbtPlugin...
sorry but i'm newbie using that kind of stuff (actually i've developed in different environment Castle Project / Monorail etc...)

thanx in advice,
Matteo.

[2012-08-11 16:48] takezoe opened #72 "uri should include query string"
In Play2, `request.uri` returns a uri with query string.
Play2CommonServlet should bind servletUri which includes queryString as uri.

See the my commit in the forked repository:
https://github.com/takezoe/play2-war-plugin/commit/8805071eb2fe94cf57606b1db97fc4db36429526

[2012-08-11 19:15] dlecan commented on #72
Argg, you're right, I missed this piece of you code.

I need to write an integration test for this in order to avoid regressions in the future.

Thx

[2012-08-12 11:00] MaikKlein opened #73 "War file is undeployable"
Hello,

I tried to deploy my app using play2war to amazon with elasticbeanstalk and cloudbees. It didn't really work and I think i made an obvious mistake.

I made a very detailed post on stackoverflow
http://stackoverflow.com/questions/11918820/java-play-2-deployment

Maybe you have an idea what went wrong?

[2012-08-12 12:35] dlecan commented on #73
'play package' should result in a war file, not only a jar. Here seems you be the problem.

Try to package your app with the command 'play war'.

Remember :
- Tomcat 7 : servlet 3.0
- Tomcat 6 : servlet 2.5

[2012-08-12 13:51] dlecan commented on #73
You can find a full simple sample at the end of this post:
http://blog.dlecan.com/play2war-0.7-is-out%21/

[2012-08-12 13:54] dlecan commented on #47
Play2war 0.7 with enhancement #44 is available.

Can you try again?

[2012-08-12 13:57] dlecan opened #74 "Use sbt aether publishing"

[2012-08-12 17:14] MaikKlein commented on #73
Ok thank you very much the sample helped me a lot! <3

[2012-08-12 17:14] #73 closed, assigned to nobody

[2012-08-12 17:21] dlecan commented on #73
I would like to be sure there is no issue here: was it a configuration problem? Or does 'play package' command work as expected?

[2012-08-15 11:14] ueshin commented on #47
I tried Play2war 0.7 and it worked fine!

My Build.scala is as follows:

[code]

and to build a war file, move to project 'my-app' and run war command.

[code]

Thanks Damien!

[2012-08-15 12:31] #47 closed, assigned to nobody

[2012-08-16 12:40] marcosinigaglia opened #75 "[Tomcat 7x] Upload timeout?"
I think i have a timeout problem on file upload.

The exception is "java.lang.IllegalStateException: The request associated with the AsyncContext has already completed processing.".

I use this configuration for connector:

<Connector port="18080" protocol="org.apache.coyote.http11.Http11NioProtocol"
               connectionTimeout="150000"
               asyncTimeout="150000"
               addr

[2012-08-16 13:02] dlecan commented on #75
Play2war version?
Tomcat version?
Full stacktrace?
All file sizes?

[2012-08-16 13:06] marcosinigaglia commented on #75
Play2war 0.7
Tomcat 7.0.27
The file is 1.2mb

2012-08-16 14:16:56,337 - [ERROR] - from akka.dispatch.Dispatcher in play-akka.actor.default-dispatcher-16
The request associated with the AsyncContext has already completed processing.
java.lang.IllegalStateException: The request associated with the AsyncContext has already completed processing.
    at org.apache.catalina.core.AsyncContextImpl.check(A

[2012-08-16 13:11] marcosinigaglia commented on #75
And Play Framework 2.0.2

[2012-08-16 14:29] dlecan opened #76 "Release plugin for Play 2.0.3"

[2012-08-16 14:37] dlecan commented on #69
Did you notice how to configure HTTP proxy with SBT ?
https://github.com/harrah/xsbt/wiki/Setup-Notes (section "HTTP Proxy")

[2012-08-16 15:01] dlecan commented on #75
What does that mean ? (twice as fast, 3 times, ...)

Anyway, there is something wrong in the servlet code.

Exception is thrown here :
https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/common/src/main/scala/Play2CommonServlet.scala#L273

Exception is thrown because AsyncContext has been recycled and HTTPRequest is "null". AsyncContext is recycled when reponse has been proce

[2012-08-16 15:27] marcosinigaglia commented on #75
I have no response from this request, the server is the same where the application is loaded so the ulpoad is instantaneous, from my client the upload take about 23 seconds.
I'll try with small files to understand the timeout time.

[2012-08-16 16:09] marcosinigaglia commented on #75
I think the threshold is about 10 seconds

[2012-08-20 16:00] dlecan opened #77 "Report diff between Play 2.0.1 and Play 2.0.2"
https://github.com/playframework/Play20/compare/a25f8844d41349daac8687c7d56711728e82c420...78b9292b8dcde4294fc7347f5e4d7e1eac30a673#diff-49

[2012-08-20 16:10] #72 closed, assigned to dlecan

[2012-08-21 14:45] dlecan commented on #72
Play2War v0.7.1 is out, including a fix for this issue.

[2012-08-23 13:06] dlecan opened #78 ""None" appears in request URI !"
Because of #72 fix

[2012-08-23 13:59] #78 closed, assigned to dlecan

[2012-08-23 15:08] dlecan commented on #75
A fix will be available with the next version (0.7.2). I hope it will solve your problem because I was not able to reproduce exactly your issue.

[2012-08-23 15:27] #77 closed, assigned to dlecan

[2012-08-24 11:02] marcosinigaglia commented on #75
Thanks, i'll try the fix

[2012-08-24 11:18] dlecan opened #79 "WebSocket should be handled"

[2012-08-24 11:52] dlecan commented on #77
Play20 Git commits integrated:
https://github.com/playframework/Play20/commit/5ac7e2d1bdf8b5518686efdcadca8eb45ac338f2#diff-0
https://github.com/playframework/Play20/commit/8b43f45cc3aeac082327bc53b2631db630fdbbc1#diff-6

[2012-08-24 14:19] dlecan commented on #75
Play2War v0.7.2 is out, including a fix for this issue.

[2012-08-24 15:09] marcosinigaglia commented on #75
Same exception:

2012-08-24 16:56:25,621 - [ERROR] - from play.core.ActionInvoker in play-akka.actor.default-dispatcher-4
The request associated with the AsyncContext has already completed processing.
java.lang.IllegalStateException: The request associated with the AsyncContext has already completed processing.
    at org.apache.catalina.core.AsyncContextImpl.check(AsyncContextImpl.java:438) ~[cat

[2012-08-25 11:27] szuzul commented on #69
Hi there,
I'm having exact problem, and I'm also using proxy in my connection to internet. I already install some of the plugins through the proxy, so I'm sure that my proxy preferences are ocky in config files. I have used https://github.com/harrah/xsbt/wiki/Setup-Notes instructions to setup files, but the result is the same like Mateos log.

Is there a chance to download and build the plugin man

[2012-08-25 11:32] szuzul commented on #69
My sbt version is 0.11.2 not .3 like in Matteo case. Here is my log:
[info] Loading project definition from C:\workspace\HelloWorldWeb\project
[warn]  module not found: play#sbt-plugin;2.0.2
[warn] ==== typesafe-ivy-releases: tried
[warn]   http://repo.typesafe.com/typesafe/ivy-releases/play/sbt-plugin/scala_2.
9.1/sbt_0.11.2/2.0.2/ivys/ivy.xml
[warn] ==== local: tried
[warn]   C:\Java\play-2.0.1\

[2012-08-26 12:56] dlecan commented on #75
Exception looks like previous one, but no, they are not exactly the same :-)

File upload is complete and exception is now thrown when Play server wants to render response.

Something invalidates Servlet AsynContext and I don't know what.

I tried to upload udge files (until 500Mb, in around 50s) on Tomcat 7.0.29, with same connector configuration, but I wasn't able to reproduce the issue.

I don'

[2012-08-26 13:05] dlecan commented on #69
@szuzul Sbt version has changed since Play 2.0.2 (used to be 0.11.2, now is 0.11.3).

Each Play version has a corresponding Play2War version because of Sbt.

So with Sbt 0.11.2, you're stick to Play 2.0.1 and Play2War 0.5.

If you need Play2War 0.7.x, please upgrade to Play 2.0.2 (and so Sbt 0.11.3).

Does it work now?

[2012-08-27 00:06] szuzul commented on #69
Hi, thanks for the response... I'm packing the files now correct, it was the version issue, I didn't saw dependencies  for 0.7.2 version..Packing is working now but, I have problems now with Logger when I'm starting my Tomcat 7 can I post the problem here or is it for Google Play framework group ?

[2012-08-27 07:25] dlecan commented on #70
@guetomarini Any news on your issue ?

[2012-08-27 07:26] dlecan commented on #55
It needs a working "publish" task, which will be operationnal with #74.

[2012-08-27 07:28] marcosinigaglia commented on #75
Sure Damien, thanks

[2012-08-27 09:13] szuzul opened #80 "ClassCircularityError on Tc 6 and 7 deployment"
After creating WAR file, on startup Tomcat server, I get exception:

INFO: Deploying web application archive C:\Java\apache-tomcat-7.0.29\webapps\ROOT.war
27.08.2012. 10:14:26 org.apache.catalina.core.ApplicationContext log
INFO: PlayServletWrapper > contextInitialized
java.lang.ClassCircularityError: java/util/logging/LogRecord
at org.slf4j.bridge.SLF4JBridgeHandler.getSLF4JLogger(SLF4JBridgeHand

[2012-08-27 10:28] marcosinigaglia commented on #75
Hi, i've seen now that the file has been uploaded correctly but the response still empty.
Where do i have to download the snapshot?

[2012-08-27 11:06] dlecan commented on #76
Nothing to release, Play2War 0.7.x is already compatible with Play 2.0.3.

[2012-08-27 11:06] #76 closed, assigned to dlecan

[2012-08-27 13:12] dlecan commented on #75
Before testing snapshots, I need more informations :)
1. Where is sent the stacktrace ? Log file ? Console ? Have you got a special logger.xml configuration ?
   Can you provide output logs "written" before the stacktrace ?
2. Is it possible to simulate a slow upload with curl ? Curl is a command-line tool to send HTTP request (easy to install on Linux/Mac, a bit harder on Windows).
   If you don'

[2012-08-27 13:14] dlecan commented on #80
I will look at that.
Thanks

[2012-08-27 13:24] dlecan commented on #64
Already done.

[2012-08-27 13:24] #64 closed, assigned to dlecan

[2012-08-27 13:32] szuzul commented on #80
Cool, thanks..

[2012-08-27 16:31] marcosinigaglia commented on #75
The log is in on a separated file with a special logger.xml so i can retrieve all the messages.
Tomorrow i'll try the test with curl.

[2012-08-28 11:39] dlecan commented on #75
I've published Play2war artifacts as snapshots, with enhanced logs (as info level).

Setup :
- In `YOUR_PROJECT/project/plugins.sbt`, replace `https://repository-play-war.forge.cloudbees.com/release` by `https://repository-play-war.forge.cloudbees.com/snapshot`
- In `YOUR_PROJECT/project/Build.scala`, replace your actual Play2War version by `0.8-issue75-SNAPSHOT`
- Build as usual
- Reproduce your

[2012-08-28 18:13] marcosinigaglia commented on #75
Ok, this is the point:

2012-08-28 20:04:49,348 - [DEBUG] - from org.apache.jasper.compiler.JspRuntimeContext in ContainerBackgroundProcessor[StandardEngine[Catalina]]
Checking JSPs for unload in context [], JSP count: 0 queue length: -1

2012-08-28 20:04:59,359 - [DEBUG] - from org.apache.jasper.compiler.JspRuntimeContext in ContainerBackgroundProcessor[StandardEngine[Catalina]]
Checking JSPs for

[2012-08-28 18:18] marcosinigaglia commented on #75
Using only curl the other exception disappear...probably are the follow request with browser that fire that.

[2012-08-29 08:18] dlecan commented on #75
Apache AJP connector request is timed out!
This is a socket timeout, generated in Tomcat code: https://github.com/apache/tomcat70/blob/efa0e79f82f17880c0d7427918bc34a83243dfa6/java/org/apache/tomcat/util/net/AprEndpoint.java#L1063

You didn't noticed you were using AJP connector instead of standard HTTP connector.
So I discoverd this: http://serverfault.com/questions/419529/tomcat-asynctimeout-and

[2012-08-29 12:37] marcosinigaglia commented on #75
Works, thanks a lot. Sorry I forgot to tell you about the AJP connector.
Again, thanks a million.

[2012-08-29 12:51] dlecan opened #81 "Asynctimeout value should be a build parameter"

[2012-08-29 12:56] dlecan opened #82 "Catch timeout and error event with Async requests"
Timeouts and errors with async requests are lost.

Do something to log them properly.

[2012-08-29 13:12] dlecan commented on #75
Play2War 0.7.3 with a fix for this issue has been released.

[2012-08-29 13:12] #75 closed, assigned to dlecan

[2012-08-30 08:59] andersbohn commented on #54
The problem is caused by these lines in play.api.Logger.scala:

[code]

Can be monkeypatched by including a copy in <your-play-project>/app/play/api/Logger.scala with these lines left out.

Not sure who should do something about this, but I posted a comment on a related issue here:
https://play.lighthouseapp.com/projects/82401-play-20/tickets/677-play-logger-implementation-configures-slf4j-jul-bri

[2012-08-30 11:55] dlecan commented on #54
Thanks for investigating this issue @andersbohn !
Do you know which of the two lines disable JBoss logging ?
1. `root.setLevel(Level.FINEST)`
2. `root.getHandlers.foreach(root.removeHandler(_))`

Play Logger is under Play2War control, so it can try to reset JUL configuration.
I suspect this piece of code to be responsible for this too : #80

[2012-08-30 13:26] andersbohn commented on #54
it's 2. - just testet on Redhat jboss-eap-6.0

[2012-08-30 14:33] dlecan commented on #54
Ok, it means that Play Logger removes a JBoss log handler, and so it explains why all logs disappear.

I can catch JBoss log handler before initializing Play logger, then add it back to the root logger after Play logger initialization.
I don't know if SLF4JBridgeHandler must be kept...

[2012-08-31 08:22] #82 closed, assigned to dlecan

[2012-08-31 12:18] dlecan commented on #54
@andersbohn I published Play2War `0.8-issue54-SNAPSHOT` on `https://repository-play-war.forge.cloudbees.com/snapshot/` which :
- Catch all existing loggers
- Add them back after Play logger initialization

See [cd82124](https://github.com/dlecan/play2-war-plugin/commit/cd8212495d4fbb3b5e9b988c3e32577e09ccf3c8)

Can try it and see if your log traces are back ?

[2012-09-02 09:35] garytomorrow opened #83 "War startup failure with 'Error listenerStart' - Tomcat 7.0.29 - Play2war 0.7"
Hi,

Got the problem when deploy the war file to Tomcat 7.0.29.  The war is generated via 0.7 plugin modules.

Any idea?

INFO: Deploying web application archive /usr/share/apache-tomcat-7.0.29/webapps/ROOT.war
2012-09-02 17:27:22,776 - [INFO] - from play in localhost-startStop-1
database [default] connected at jdbc:mysql://localhost:3306/testplay

2012-09-02 17:27:26,562 - [WARN] - from play in l

[2012-09-02 12:32] dlecan commented on #83
Nothing more in log files? Stacktrace or anything else?

I will need more informations in order to help you.

Are you using Play data source or Tomcat one?
JPA or Anorm ?

[2012-09-02 12:55] garytomorrow commented on #83
Thanks, but there are nothing more in the logs.  I am using Play data source. It seems not database issue, the logs shows that DB connected.  Any additional configuration required for Tc 7?

here is what I did:
- The play application can run successfully using 'play run'
- Run the 'play war' with servelet 3.0
- Renamed the generated war file name to ROOT.war and copy to the webapps folder under to

[2012-09-02 12:59] garytomorrow commented on #83
here are the logs I didn't think the root cause of the error since they are after the listenerStart error.  FYI below:

Sep 2, 2012 5:27:26 PM org.apache.catalina.core.StandardContext startInternal
SEVERE: Error listenerStart
Sep 2, 2012 5:27:26 PM org.apache.catalina.core.StandardContext startInternal
SEVERE: Context [] startup failed due to previous errors
Sep 2, 2012 5:27:26 PM org.apache.catal

[2012-09-02 13:12] dlecan commented on #83
Sure. PLay2war jar provide Servlet and Context listener to start and link Play server with Tomcat.
If you remove them, nothing happens :)

You can download Play2War sample built for Servlet 3.0 container here:
https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/servlet30/target/a-play2war-sample-servlet30-1.0-SNAPSHOT.war

It is package

[2012-09-02 13:28] garytomorrow commented on #83
Thanks Lecan.

I will download the sample and try.
Btw, you may ignore the last except since that is cause when I stop tomcat service.

Is there any specific changes required to the tomcat default web.xml file in order to deploy as ROOT?

[2012-09-02 13:33] dlecan commented on #83
Nothing to do.

[2012-09-02 14:51] garytomorrow commented on #83
Thanks Lecan.

The issue is resolved.  I guess it is caused by another testing class developed under the app path and extended GlobalSettings object.  After remove this java file, it works perfect now.

[2012-09-02 14:57] #83 closed, assigned to nobody

[2012-09-04 11:22] andersbohn commented on #54
I tried adding a resolver for snapshot and changing version to:
`addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "0.8-issue54-SNAPSHOT")`

But get:
`[error] {file:/Users/abj/Projects/energinet/datahub/project/}default-711ba5/*:update: sbt.ResolveException: unresolved dependency: com.github.play2war#play2-war-plugin;0.8-issue54-SNAPSHOT: not found`

I have tested the code parts (storing a

[2012-09-04 12:28] dlecan commented on #54
Can you post your `plugins.sbt` file ?

Play Logback logger logs to a console appender. All logs are then catch by JBoss logging which logs them as any others System.out.print\* logs.

`13:15:28,715 INFO [stdout] (play-ak...cher-8) 2012-09-04 13:15:28,715 DEBUG application - ...
\__________________________/\________________________________________________________________/
. . . JBoss log. . . . .

[2012-09-04 13:19] andersbohn commented on #54
Yes, with file appender, it works fine :)

plugins.sbt with snapshot-modification (and release-0.7.2 settings commented out) :

[code]

[2012-09-04 14:58] dlecan commented on #54
I published new snapshots. Can you try them ?

[2012-09-04 15:04] dlecan opened #84 "Plugin settings defines only releases repository"
Only releases repository is defined in plugin settings.
What about "snapshots" ?

[2012-09-05 10:00] andersbohn commented on #54
It builds - when deployed I get:

[code]

and no log output.

[2012-09-05 10:11] dlecan opened #85 "Something is wrong between AsyncListener and JBoss"
`10:07:54,646 WARN  [org.jboss.as.ee] (MSC service thread 1-4) JBAS011006: Not installing optional component play.core.server.servlet30.AsyncListener due to exception: org.jboss.as.server.deployment.DeploymentUnitProcessingException: JBAS011054: Could not find default constructor for class play.core.server.servlet30.AsyncListener
    at org.jboss.as.ee.component.ComponentDescription$DefaultCompone

[2012-09-05 10:14] dlecan commented on #54
This is another issue, due to #82 (for 0.8). See #85.

I will publish new snapshots, but against 0.7.3 to avoid regressions due to 0.8 work.

[2012-09-05 11:59] #85 closed, assigned to dlecan

[2012-09-05 12:06] dlecan commented on #85
According to [this code](https://github.com/jbossas/jboss-as/blob/master/ee/src/main/java/org/jboss/as/ee/component/ComponentDescription.java#L605), Asynclistener in JBoss needs an empty args constructor.

[2012-09-05 12:26] dlecan commented on #85
See https://issues.jboss.org/browse/AS7-5178

[2012-09-05 12:31] dlecan commented on #54
Ok, I fixed #85, so I'm publishing 0.8 snapshots again
You can try again 0.8-issue54-SNAPSHOT ?

I tried this fix on JBoss 7.0.x, and logs are back !

[2012-09-10 09:38] rore commented on #62
I see the customizable web.xml feature has been added to the 0.7.X version.
So how do I specify a web.xml? Where should it be placed inside the project?

[2012-09-10 10:25] rore commented on #62
Never mind, found it :-)
If anyone encounters this, you should place a directory called "war" under your project root and add the WEB-INF/web.xml under it.

[2012-09-10 12:23] dlecan commented on #62
@rore you're right, documentation was missing. Available here: https://github.com/dlecan/play2-war-plugin/blob/develop/README.md#embed-custom-war-configuration-files

[2012-09-10 12:24] rore commented on #62
Cool, thanks.

On Mon, Sep 10, 2012 at 3:23 PM, Damien Lecan notifications@github.comwrote:

[2012-09-12 00:03] ivinskyi opened #86 "Ebean doesn't work with more than one model class on JBoss 7"
Hi!

I'm trying to deploy my project on cloudbees according to readme. But after deploying war i get 404 errors on every request.

I use play-2.0.2.
This is how I came to this:
1. Added to plugins.sbt these lines:

[code]
1. Changed Build.scala to have this lines:

[code]

*\* The syntax from readme

[code]

*\* does not compile, so I tried somethink similar to syntax in a sample. Maybe I missed s

[2012-09-12 09:20] dlecan commented on #86
It works perfectly for me. Can you give SBT error logs ?

If you are able to produce WAR file, you can be confident with your configuration :)

At Cloudbeed, I remember that Tomcat 6 is the default Servlet container. Which means servlet 2.5.

If you want to use Servlet 3.0 (much better), you need to switch from Tomcat 6 to JBoss 7 (names JavaEE 6 at Cloudbeed).

That should probably solve your iss

[2012-09-12 11:44] ivinskyi commented on #86
Hi!
I use params "-t jboss" with deploy command, so it is JBoss 7.
Here are servlet container logs:

[code]

[2012-09-12 13:09] dlecan commented on #86
Hum, everything seems to be ok.

So you load `http://my_host.cloudbees.net` and you get a 404 error.

What does `routes` file look like ?

[2012-09-12 18:04] ivinskyi commented on #86
Hi
My routes file looks like

[code]

What should be in the generated war file?
I noticed that it doesn't have anything except `META-INF\MANIFEST.MF` and `WEB-INF\lib` directory with all the libraries. Does it generate `web.xml`? or should I write it myself?
I saw on this post
http://stackoverflow.com/questions/11957578/app-runs-locally-but-returns-404-running-on-cloudbees
that my problem might be

[2012-09-12 19:41] ivinskyi commented on #86
I've made a new blank application, added war package plugin and it works fine. I'll try to add all my other plugins and functionality one-by-one and figure out what gives the strange behavior.

[2012-09-13 07:49] dlecan commented on #69
@matgi Any news on this issue ?

[2012-09-13 07:51] dlecan commented on #70
@guetomarini Issue #54 (conflict between JBoss and Play loggers) has been fixed in 0.8-SNAPSHOT.
If you want to try theses snapshots and to see if you have more logs, tell me, I'll explain you how to use them.

[2012-09-13 12:29] dlecan commented on #81
Fixed by [fba3a7d3d5e82ffcd92fe18517f561eba4278ef9](https://github.com/dlecan/play2-war-plugin/commit/fba3a7d3d5e82ffcd92fe18517f561eba4278ef9).

[2012-09-13 12:29] #81 closed, assigned to dlecan

[2012-09-13 19:46] ivinskyi commented on #86
Hi!

I found that this problem is caused by something in ebean ORM integration.
Specifically, if comment this line in application.conf:
ebean.default="models.*"
the application works on cloudbees. But, of course, the database is not reachable.

The last idea about solving it is to generate war with play20 built from source.
Is there any way to use play2-war-plugin with 2.1-SNAPSHOT?

[2012-09-14 12:58] dlecan commented on #86
Something may be wrong on JBoss when EBean looks for classes in classpath.

Can you try to register al of your model classes ?
Such as `ebean.default=models.Order,models.OrderItem,...`

What do you want to do ?

No, 2.1-SNAPSHOT breaks too many apis and is not finished yet. I will wait for alpha or beta release to begin to adapt Play2War for Play 2.1

[2012-09-18 10:06] matgi commented on #69
Hello unfortunatly the command doesn't work. At the moment we have an ant script who create the war.

[2012-09-18 10:48] dlecan commented on #69
@matgi What happens when you add custom dependencies ? Does it work ?

Such as :

[code]

[2012-09-18 11:12] matgi commented on #69
No at the moment we use tha ant script beacuse it creates an ear archive with a jar (for backend using ejdb) and a war for the frontEnd (play web app)
Everythings works fine but i have the logger problem on JBOSS7. I saw you solve it. Could you please send a war archive example with the logger issue solved?
thanx.

[2012-09-18 11:14] matgi commented on #69
maybe the problem of the plug in is related to the sbt but at moment we are in emergency... and my knowledge on sbt unfortunatly is equal to 0.
thanx.

[2012-09-18 11:48] dlecan commented on #69
https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/servlet30/target/a-play2war-sample-servlet30-1.0-SNAPSHOT.war

[2012-09-18 11:49] dlecan commented on #69
I will close the issue, but don't hesitate to reopen it if you have more information to send.

[2012-09-18 11:50] #70 closed, assigned to nobody

[2012-09-18 11:51] dlecan commented on #80
Should be fixed by #54

[2012-09-18 11:51] #80 closed, assigned to dlecan

[2012-09-18 11:56] matgi commented on #69
thanx . just only a question we use servlet 2.5 could i use this as example with JBOSS logissue fixed

https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/servlet25/target/

thanx.
Matteo.

[2012-09-18 13:26] dlecan commented on #69
Yes, that is the same sample, but for Servlet 2.5 container.
Warning, performances are much lower than with Servlet 3.0 sample (2 threads for each request).

If you can choose, you should use Servlet 3.0 implementation for your project.

[2012-09-19 10:14] sejensen opened #87 "Possible response mixup"
Hi everyone

We have a strange issue in production on jboss.

It seems that responses is being concatinated from ajax calls and action returned rendering and it is not possible to predict when it happens.

Can this perhaps be due to a change in request response in the war plugin or if we configure akka wrong?

I am just asking here, since I cannot figure out why this happens.

We are using "com.gi

[2012-09-19 12:01] dlecan commented on #87
Which JBoss version ?

Is it possible to see extracts from `routes` and your action controllers which are being concatenated ?

[2012-09-19 12:10] dlecan commented on #87
How to you know response are being concatenated ?

[2012-09-19 12:12] sejensen commented on #87
Hi Damien

I think
It has something to dó with out chunked response for CSV.

We are running eap 6 og jboss.

And will keep investigating.

/steffen

On Wednesday, September 19, 2012, Damien Lecan wrote:

[2012-09-19 12:23] sejensen commented on #87
By using the chrome developer tools and looking at the network traffic with
request response and in the response data see a concatinated result from
two difference controllers

/Steffen

On Wed, Sep 19, 2012 at 2:10 PM, Damien Lecan notifications@github.comwrote:

[2012-09-19 14:05] marcosinigaglia opened #88 "UTF-8 problem"
Hi, I noted a strange behavior with utf-8 text.
If I save a utf-8 character with a standard form I have a wrong conversion, there is no problem if I use a "multipart" form.

Play2war 0.7.3
Play 2.0.3
Tomcat 7.0.27

[2012-09-19 15:03] dlecan commented on #88
See https://github.com/dlecan/play2-war-plugin/wiki/FAQ#wiki-utf-8-encoding

[2012-09-19 15:04] #88 closed, assigned to nobody

[2012-09-19 19:04] ivinskyi commented on #86
Hi!

If i register only 1 my class, it works well :

[code]

But if I add 2 or more classes, it does not work:

[code]

So I'll wait for Play2War for Play 2.1 (i'll try 2.0.4 too).
In meantime I will use other cloud application platforms.

[2012-09-20 10:53] dlecan commented on #86
Can you test on Tomcat ? Exception is hidden on JBoss, you could see it on Tomcat ...

I will setup a project with EBean database access to see what happens.

[2012-09-20 11:05] dlecan commented on #87
I've made another code review, I don't understand how Servlet provided by Play2War can generate such a trouble.

Servlets are thread-safe (no instance variables) and I can't see how reponses could be mixed-up.

Do you mean it was working correctly before Play2War 0.7.x ?
Play2War 0.7 is a pretty big refactoring to handle either Servlet 2.5 or Servlet 3.0 containers. Something could be wrong with t

[2012-09-21 09:57] sejensen commented on #87
Hi Damien

We are not sure where the issue is.

It can be Play it self or just our use of Akka or the jboss-war
constallation.

But our problem occurs when we start som streaming of csv values. Then
other responses get cluttered with these csv data.

We have an controller method with `Ok.stream(header andThen dataContent)`

where `datacontent` is an enumarator callback of a paged query.

[code]

U

[2012-09-21 14:59] dlecan commented on #87
Can you try with Play2War 0.6 ?

[2012-09-24 09:29] sejensen commented on #87
I am not able to get our project working on jboss with version 0.6 of the plugin. I am not sure why it does not work, but without logging it is very timeconsuming.

Any Ideas what to do?

And does other people have success with using "long-running" streaming using play-war plugin?

Kind regards
Steffen

[2012-09-24 10:16] dlecan commented on #87
Yes, on Tomcat with APR connector. Big (> 1000Mb) files are downloaded.

Ok, Play2War 0.6 was only compatible with Play 2.0.2, may be that's the issue.

Backporting logging workaround on JBoss from Play2War 0.8 to a 0.7.4 version, in order for you to have logs !
This issue #82 could be interesting for you.

Tell me more on :
- your infrastructure : load-balancer, JBoss HTTP connector configuration

[2012-09-24 10:38] sejensen commented on #87
Hi Damian

Thank you for your email.

Here is our setup, we were using war plugin 0.7.2 and I have just updated
to 0.7.3. Have tried to look at the code but not sure this have any effect.

nginx -> jboss eap 6.0 on readhat linux supported with encodingFilter utf-8

nginx is configured this way:

server {
    listen       443;
    server_name  ip_of_server;

[code]

proxy_redirect off;
proxy_set_he

[2012-09-24 14:30] dlecan commented on #87
Ok, so it happens for every kinds of requests. So something is wrong between the client and Akka : nginx, JBossWeb, Play2War, Play2, Akka

What is the load applied to your infrastructure ? (req/s, number of concurrent users, ...)

[2012-09-25 06:38] sejensen commented on #87
The load is minimal and users is still testing but we were planning to go live on friday.

It seems that the issue disappered after upgrading from 0.7.2 to 0.7.3 Can this be true?

Another issue that remains is that when an user cancels the streaming or closes their browser our enumerator fromcallback still carries with the processing. This results in unneccessary db load and a lot of these except

[2012-09-25 08:17] dlecan opened #89 "Chunked result : enumerator/iteratee not stopped when an exception is thrown"
Exception seen in your log file is probably this one :
https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/common/src/main/scala/Play2CommonServlet.scala#L216

Exception may not be correctly handled and enumerator/iteratee is not stopped.

[2012-09-25 08:30] dlecan opened #90 "Report #54"
#54

Beware of #80 and #85

[2012-09-25 08:30] dlecan commented on #87
Here is the diff between 0.7.2 and 0.7.3 : https://github.com/dlecan/play2-war-plugin/commit/bb1c10ec24b9e80c2ca64a9ae28467bb6f66cf80
The relevant change is the async timeout set to infinite value (default is about 5s).

This value was already set to infinite in Play2war 0.6 but was set back to default value in 0.7.x series.
0.7.3 reset this value to infinite. It can be also configured in servlet

[2012-09-25 08:57] pooja2909 opened #91 "Missing dependencies error"
I am trying to install Play2war on my windows 7. I followed the steps from https://github.com/dlecan/play2-war-plugin/wiki/How-to-help . Bit when I am executing "play war" command from the samples directory, I get the following error:

::::::::::::::::::::::::::::::::::::::::::::::
::          UNRESOLVED DEPENDENCIES         ::
::::::::::::::::::::::::::::::::::::::::::::::
:: play#play_2.9.1;2.0.

[2012-09-25 09:21] dlecan commented on #91
Very bad, this should be provided by Play repositories themselves.

Did you hit `sbt publish-local` ?

[2012-09-25 09:24] pooja2909 commented on #91
yeah i did, and it ended without any error

[2012-09-25 09:38] dlecan commented on #91
You need to do `sbt publish-local` each time Play2War code has been modified.
Then you need to repackage your war file with `play war`.

[2012-09-25 09:54] pooja2909 commented on #91
okie , I did but it is not able to find these dependencies, gives warning : module not find in all four of these

[2012-09-25 09:55] pooja2909 commented on #91
This time the error is :

::::::::::::::::::::::::::::::::::::::::::::::
::          UNRESOLVED DEPENDENCIES         ::
::::::::::::::::::::::::::::::::::::::::::::::
:: play#play_2.9.1;2.0.2: not found
:: play#templates_2.9.1;2.0.2: not found
:: play#console_2.9.1;2.0.2: not found
:: com.typesafe.config#config;0.2.1: not found
:: com.typesafe.akka#akka-actor;2.0: not found
:: com.github.play2war#

[2012-09-25 10:04] pooja2909 commented on #91
BTW, my problem isn't resolved yet and you closed the issue ??? Am I doing something so stupid that you don't think I deserve a solution ?

[2012-09-25 10:11] pooja2909 opened #92 "Module not found error while trying to run sbt -publish local"
I get the following error when I do Sbt -publish local from my play2war/samples directory :

H:\JavaLibs\dlecan-play2-war-plugin-87dc8e7\sample>sbt publish-local
[info] Loading project definition from H:\JavaLibs\dlecan-play2-war-plugin-87dc8
e7\sample\project
[warn]  module not found: play#play_2.9.1;2.0.2
[warn] ==== typesafe-ivy-releases: tried
[warn]   http://repo.typesafe.com/typesafe/ivy-rel

[2012-09-25 11:13] sejensen commented on #89
That does look like a possible place for the error to appear. My enumerator fromcallback never gets this exception and thus cannot stop the processing.

Is it difficult to fix? If not when do you think it can be fixed?.

If you want me to try a hotfix out just say so.
Kind regards
Steffen

[2012-09-25 12:28] dlecan commented on #91
Extract from Wiki.
Read carefully, `sbt` or `play` commands must be run either from `project-code` or `sample` folders.

#### Build and publish plugin and core runtime in local repository

Go to `PLAY2WAR-HOME/project-code`. To publish plugin and core runtime, run

[code]

Artifacts are now published in your local Ivy2 repository (``~/.ivy2/local`)

#### Build Play2 WAR sample

Go to `PLAY2WAR-HOM

[2012-09-25 12:29] dlecan commented on #92
Running `sbt publish-local` from `sample` folder can't work?
This command has to be run from `project-code` folder.

In `sample`, you can run `play war`.

[2012-09-25 13:03] dlecan commented on #89
I am able to reproduce the issue when cutting client connection with a ChunkedResult.

Now I will look at where I can trap the exception to stop the iteratee ...

[2012-09-25 13:29] dlecan commented on #89
Fixed on 0.8, not for 0.7.x

[2012-09-25 13:30] #90 closed, assigned to dlecan

[2012-09-25 14:57] sejensen commented on #89
Cool!
When do you expect 0.8 will be released?
Thanks
Steffen

On Tuesday, September 25, 2012, Damien Lecan wrote:

[2012-09-25 19:55] dlecan commented on #89
Still too much work on 0.8.
I will release a 0.7.4 with this fix only.

[2012-09-25 20:04] sejensen commented on #89
Thank you very much

Kind regards
Steffen

On Tue, Sep 25, 2012 at 9:55 PM, Damien Lecan notifications@github.comwrote:

[2012-09-26 08:09] dlecan commented on #92
`sbt publish-local` must be run from `project-code` folder.

[2012-09-26 08:15] pooja2909 commented on #92
Sorry I pasted the wrong trace... take a look at this:

H:\JavaProjects\scalaprojects\dlecan-play2-war-plugin-8692dfb*project-code*>sbt
p
ublish-local
[info] Loading project definition from
H:\JavaProjects\scalaprojects\dlecan-play
2-war-plugin-8692dfb\project-code\project
[info] Set current project to play2-war (in build
file:/H:/JavaProjects/scalapro
jects/dlecan-play2-war-plugin-8692dfb/project

[2012-09-26 08:28] dlecan commented on #92
Notice now Play2War plugin is found.
Your Play 2.0.2 installation seems to be broken.
Or may be you are using Play 2.0.3 ? sample are still sticked to Play 2.0.2.
If you want to run them with Play 2.0.3, you need to update Play version in `sample/project/plugin.sbt`

[2012-09-26 08:38] pooja2909 commented on #92
Phew.. finally it worked !

I am using Play 2.0.3 . So there was the issue.

Thanks a ton for rescuing me out !

Pooja

On Wed, Sep 26, 2012 at 1:58 PM, Damien Lecan notifications@github.comwrote:

[2012-09-26 08:39] #92 closed, assigned to nobody

[2012-09-26 08:40] #91 closed, assigned to nobody

[2012-09-26 12:22] dlecan commented on #89
I just deploy 0.7.4-SNAPSHOT in http://repository-play-war.forge.cloudbees.com/snapshot/

Can you test it ?

[2012-09-26 12:24] sejensen commented on #89
Yes thank you

I will test it now

On Wed, Sep 26, 2012 at 2:22 PM, Damien Lecan notifications@github.comwrote:

[2012-09-26 13:52] sejensen commented on #89
Hi again

Tested it on our jboss server and now the streaming stops correctly after
the ClientAbortException.

Thank you very much
Steffen

On Wed, Sep 26, 2012 at 2:24 PM, Steffen Egelund Jensen sej@miracleas.dkwrote:

[2012-09-26 14:01] dlecan commented on #89
Something more to do about #87 ? (response mixed-up)
May I release this 0.7.4 ?

[2012-09-26 14:13] sejensen commented on #89
Hi damian #87 stopped showing when opgrading to 0.7.3 but the diff you sent
me do not solve stuff related to response mixups. So for now it is solved
but I am bit afraid that I do not know the reason.

We are going live friday so perhaps and are a bit busy. But I will try
0.7.2 again next week to see if I can reproduce my streaming with other
request mix-ups, just to verify if that was the solutio

[2012-09-26 19:43] dlecan commented on #89
Play2War 0.7.4 including a fix for this issue has been released.

[2012-09-26 21:34] drdamour opened #93 "IBM WAS 7 throwing null pointer exception"
after deploying the packed up default application to WAS 7 and attempting to access the root i'm getting a null pointer exception.  Here's the trace log output:

[code]

Not sure what i can do to help here, i'm willing to try anything.  I also get an error on startup:

[code]

but i'm thinking that's not too relevant.  I'm using play2-war-plugin 0.7.4

[2012-09-27 09:18] dlecan commented on #93
Thank you for trying on WAS !

Copy/paste error ? This is not a starting stacktrace.

BTW, NPE here (Play2Servlet.service(Play2CommonServlet.scala:269)) indicates that something was wrong during Play2War initialisation.(through a servlet listener).

But if something was wrong during initialisation (exception ?), why the application has been deployed ?

So I need starting logs, before any HTTP requ

[2012-09-27 15:53] drdamour commented on #93
quite right on the copy paste error! i have updated the issue with the trace log from the relevant startup.  how does github not have attachments for issues!?!?

[2012-09-28 14:02] dlecan commented on #93
[code]

Hum, you have something wrong with your configuration or translation files?

[2012-09-28 14:02] #89 closed, assigned to dlecan

[2012-09-28 14:34] drdamour commented on #93
i don't think so, i don't get the error in play run.  And this is literally the default application made from "play new firstapp"
This is my application.conf:

[code]

this is my routes:

[code]

my build file:

[code]

so i think everything is good...

looking at source it looks like the error is cause the server is null, there doesn't seem to be a lot of trace debugging about what configures tha

[2012-09-28 16:17] dlecan commented on #93
Yes, server is null because initialisation failed.

Initialisation failed because of :

[code]

Very strange : despite this exception, webapp is deployed.

Play2War is a thin servlet wrapper around Play2 server during initialisation, and so you rely on Play logs.
And there is very, very few logs in Play code.
You have already enabled full traces with :

[code]

Exception is thrown here in Play cod

[2012-09-28 17:22] drdamour commented on #93
My app doesn't have a message file, could that be why?
if a webex/im/phone conversation would help i'm happy to participate as you need

[2012-09-29 20:03] dlecan commented on #93
As `play run` works as expected, message is file not mandatory.
But it would be a good idea to test if adding a `conf/messages.en` file changes something. Does it ?

[2012-10-02 14:37] dlecan commented on #87
I will close this issue, as #75 has probably fixed it.
Please reopen it if necessary.

[2012-10-02 14:37] #87 closed, assigned to nobody

[2012-10-02 14:56] dlecan commented on #86
Here is the hidden exception linked to `ebean.default="models.*"` :

[code]

[2012-10-02 15:11] dlecan commented on #86
Probably due to http://code.google.com/p/reflections/issues/detail?id=105
An upgrade of `org.reflections` may solve this issue.

Can you replace `WEB-INF-lib/org.reflections.reflections-0.9.6.jar` in your generated war by this one: http://search.maven.org/remotecontent?filepath=org/reflections/reflections/0.9.8/reflections-0.9.8.jar and try to deploy your application in JBoss ?

[2012-10-02 15:15] ivinskyi commented on #86
Ok. I'll try.

[2012-10-02 15:27] dlecan commented on #86
Don't waste your time with the previous modification, `org.reflections framework` needs an extra configuration when it is embedded in JBoss :-/

See http://code.google.com/p/reflections/wiki/JBossIntegration

[2012-10-02 15:44] dlecan commented on #86
I will think about how to integrate this into Play2War.
org.reflections has already been upgraded in Play 2.1-SNAPSHOT. So I have requested a backport in 2.0.x branch.
See https://github.com/playframework/Play20/pull/329

[2012-10-08 14:00] matgi commented on #54
Hello dlecan i've got a problem with the logger under jboss7.
When i deploy i see that row in server.log of jboss

15:24:11,543 INFO  [play](MSC service thread 1-1) Application started (Prod)

means that the logger seems alive.
In my controllers hierarchy i've got a logger "filter" (action composition) who logs some stuff about the request (action name , request data etc...) but these infos didn't

[2012-10-08 14:15] dlecan opened #94 "Be compatible with Jetty 9.0"

[2012-10-08 14:39] dlecan commented on #54
This feature is not released, which version of play2war are you testing ?
I think you should use Play logging API : `Logger logger = Logger("FrontEndLogger")` (Scala)
Scala : http://www.playframework.org/documentation/api/2.0/scala/index.html#play.api.Logger$
Java : http://www.playframework.org/documentation/api/2.0/java/play/Logger.html

[2012-10-09 12:48] dlecan commented on #86
I found a solution for this issue, and it will be available in Play2War 0.8.

See demo with 2 model classes:
http://ebean-demo.play-war.cloudbees.net/

Cloudbees now supports native play deployment model:
https://developer.cloudbees.com/bin/view/RUN/Playframework

[2012-10-09 12:56] matgi commented on #54
I tried different approach using play logger but i can't see any logs in the server.log.
So could you explane me can i catch JBoss log handler before initializing Play logger as you did it.

thanx Matgi.

[2012-10-09 13:05] dlecan commented on #54
This line is responsible for this issue:
https://github.com/playframework/Play20/blob/master/framework/src/play/src/main/scala/play/api/Logger.scala#L212

When Play server is initialized, you have to catch handlers before and registering them back after.
But you won't be able to do that in your application, as Play2war is reponsible for initializing Play server.

If you really need it, I can think

[2012-10-09 14:12] ivinskyi commented on #86
Great news! Both of them.

[2012-10-10 13:04] dlecan commented on #93
@drdamour can you try to add a `conf/messages.en` file ?

[2012-10-10 15:07] drdamour commented on #93
sorry to say that i had to move on to another framework (went with stripes, not nearly as good) and i no longer have legal access to WAS.

[2012-10-10 15:14] dlecan commented on #93
ok, thanks

[2012-10-10 15:14] #93 closed, assigned to dlecan

[2012-10-11 08:20] dlecan commented on #86
Hello guys, here a sum up of the problem and a solution.

### Problem

Play doesn't work on JBoss 7 because of 2 issues :
1. Play depends on `org.reflections` framework v0.9.6 which uses `com.sun` classes (very bad !). This is forbidden by JBoss 7 classloader
2. `org.reflections` framework needs extra configuration to be compatible with JBoss VFS (Virtual File System)

### Solution

**This solutio

[2012-10-11 09:03] matgi commented on #54
I tried to test it... but it doesn't work if you are able to solve this it would be great.
Remember that unfortunatly i'm still not able to use the plug in because in give me   UNRESOLVED DEPENDENCIES...
So i create ear package with an ANT script. using the library downloaded from
https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_develop_branch/ws/sample/serv

[2012-10-11 09:18] dlecan commented on #69
@matgi

What happens when you add custom dependencies ? Does it work ?

Such as :

[code]

Then run `play compile`.

[2012-10-11 09:32] matgi commented on #69
@dlecan

Here is my plugin.sbt

<pre>
// Comment to get more information during initialization
logLevel := Level.Warn
// The Typesafe repository
resolvers += "Typesafe repository" at "http://repo.typesafe.com/typesafe/releases/"
// Use the Play sbt plugin for Play projects
addSbtPlugin("play" % "sbt-plugin" % "2.0.3")
resolvers += "Play2war plugins release" at "http://repository-play-war.forge.clo

[2012-10-11 14:12] ivinskyi commented on #86
Looks like it works fine now.
Thanks!

[2012-10-11 14:50] #86 closed, assigned to dlecan

[2012-10-12 13:13] dlecan commented on #69
@matgi In `plugin.sbt`, can you change `logLevel := Level.Warn` by `logLevel := Level.Debug` and send here back the result of `play compile > log.txt` ?

Thanks

[2012-10-12 16:01] dlecan opened #95 "Support NIO Servlet 3.1 API"
ReadListener,WriteListener
AsyncIOInputSource
AsyncIOOutputSink

[2012-10-16 11:48] roopajavali opened #96 "How to deploy on JBoss 5.1 ?"
Please detail the steps to deploy the war generated with play2-war-plugin on JBoss 5.1(Servlet API version - 2.5)

The readme file lists steps for deployment on JBoss 7.0.x but the configuration files listed here(standalone.xml) are not present on JBoss 5.1.

[2012-10-16 12:42] dlecan opened #97 "[Servlet 2.5] web.xml namespace declaration is wrong"
Generated `web.xml` file has a wrong namespace declaration:

[code]

It should be:

[code]

[2012-10-16 12:43] #97 closed, assigned to dlecan

[2012-10-16 12:44] dlecan commented on #96
Hello,

What did you try ?

[2012-10-16 13:29] roopajavali commented on #96
Here is what I did
1. Used play2-war-plugin to create the war. Renamed the artifact to root.war
2. Logged into JBoss 5.1 admin console
3. Removed the already existing root.war(the one shipped with JBoss)
4. Deployed the root.war created in step 1
5. Tried accessing the play application using http://localhost:8080/
   The server logs shows a warning message - Unable to process deployment descriptor

[2012-10-16 13:33] dlecan commented on #96
Great !
Don't hesitate to copy/paste error logs :)

I think there is an issue this generated web.xml xml namespace (see #97). As a workaround, you can edit inner `web.xml` file and replace xml namespace as shown in the issue #97.

[2012-10-16 16:44] roopajavali commented on #96
It works fine after changing the web.xml. Thanks!

[2012-10-16 16:48] dlecan commented on #96
If you need a quick version of Play2War with #97, please tell me. I can release a v0.7.5.
Otherwise, you can wait v0.8.

[2012-10-16 16:48] #96 closed, assigned to nobody

[2012-10-16 16:49] roopajavali commented on #96
Yes, that would be great. Please let me know when you release v0.7.5.

[2012-10-17 09:16] peshkira opened #98 "Unresolved conflict on servlet class: play.core.server.servlet30.Play2Servlet (JBoss 7.1.0)"
I am trying to deploy a play 2.0.4 app on JBoss 7.1.0.
After following your guide, i get the following error:

[code]

I am not 100% sure that the error is on your end, but I hope you can give me some insight.
Thanks!

[StackOverflow Question](http://stackoverflow.com/questions/12915199/deploy-play-2-app-to-jboss-7)

[2012-10-17 09:23] dlecan commented on #98
Play2War version ?

According to this line (see the end of it) `Caused by: org.jboss.as.server.deployment.DeploymentUnitProcessingException: JBAS018031: Conflict occurred processing web fragment in JAR: com.github.play2war.play2-war-core_2.9.1-0.5.jar`, you are using Play2War v0.5, which is not compatible with Play 2.0.4.

Please upgrade to Play2war v0.7.4.

[2012-10-17 09:28] peshkira commented on #98
Thanks for the quick reply, I just saw that too and updated.

The error is gone, but deployment still does not work. It just stops. Here is the jboss log. Is this related to issue #54?

[code]

[2012-10-17 11:00] dlecan commented on #98
Does `http://localhost:8080/` work ?

If not, something is wrong during the deployment, but you can't know what because of #54.
Play2War 0.8 is stable enough (including a fix for #54), I will release it soon.

[2012-10-17 11:01] peshkira commented on #98
`http://localhost:8080/` serves an empty page.

Thanks for your reply. I will wait until 0.8.
cheers!

[2012-10-17 11:37] matgi commented on #69
@dlecan

i've tried to do that and i saw this errors:

<pre>
...
[debug] HTTP response status: 404 url=http://repo.typesafe.com/typesafe/ivy-releases/org.codehaus.jackson/jackson-mapper-asl/
[debug] CLIENT ERROR: Not Found url=http://repo.typesafe.com/typesafe/ivy-releases/org.codehaus.jackson/jackson-mapper-asl/
[debug] problem while listing resources in http://repo.typesafe.com/typesafe/ivy-rele

[2012-10-17 12:13] dlecan commented on #69
Incredible ! When a proxy conf is wrong, you get network errors or authentication failure, not 404 errors ??

What about Maven, Curl or Wget commands ? Do they work behind your proxy ?

[2012-10-17 12:28] dlecan commented on #97
Play2War 0.8 has been released, with a fix for this issue.

[2012-10-17 12:29] dlecan commented on #86
Play2War 0.8 has been released, with a fix for this issue.

[2012-10-17 12:29] dlecan commented on #80
Play2War 0.8 has been released, with a fix for this issue.

[2012-10-17 12:30] dlecan commented on #96
Play2War 0.8 (instead of 0.7.5) has been released, with a fix for issue #97.

[2012-10-17 12:31] dlecan commented on #98
Play2War 0.8 has been released, with a fix for issue #54.

[2012-10-17 12:44] peshkira commented on #98
Works under 7.1.1. Logs are displayed accordingly.
I can't seem to be able to deploy under 7.1.0 but may be it is something on my end.

Thanks so much for your help! You rock!
I consider this CLOSED as it solved the initial reported issue and more :).

[2012-10-17 12:44] #98 closed, assigned to nobody

[2012-10-18 13:39] peshkira commented on #54
Can it be that also some other handlers have to be reattached and not only the JUL handlers?
I use the file handler in my play app and everything is logged fine. But as soon as I get the message that the PlayServletWrapper is initialised and INFO play Application started (Prod) all logs in the console and in the server.log file of JBOSS stop.

The logs of the play app continue to be appended in th

[2012-10-19 11:53] dlecan commented on #54
Which version of Play2War ?

I don't understand.
Handlers **are** JUL handlers (java.util.logging.Handler), they can't be anything else. Look at what Play does :
https://github.com/dlecan/Play20/blob/2.0.x/framework/src/play/src/main/scala/play/api/Logger.scala#L212

Do you mean file _appender_ ?

I think you should open a new issue, as several people have verified that this one.

[2012-10-21 17:52] garytomorrow opened #99 "MultipartFormData getFile returns null in tomcat"
The working code with Play run but not working in tomcat after using play2war and deploy to Tomcat.  ( I reviewed the issue #49 which is similar however but may be different ? and what is the solution of #49? upgrade play2war plug-in or modify code in java? )

Play Version 2.0.3
Play2War 0.8
Tomcat 7.0.29

Java codesnip as below:

[code]

Thanks,
Gary

[2012-10-21 19:35] dlecan commented on #99
Thanks for reporting this.

What about theses snippets:

[code]

[code]

?

[2012-10-22 00:07] garytomorrow commented on #99
Files Size - 0
as Form Url Encoded - {}

btw, I am using ajaxSubmit to submit form from view

testForm.find("input[name='testFile']").change(function(event){
            event.preventDefault();

[code]

[2012-10-22 08:05] dlecan commented on #99
What is the `enctype` of your html form ?
Can you force it to `enctype="multipart/form-data` ?

I know your code is working on the native Play server, but I would like fully to understand your test case.

[2012-10-22 08:32] garytomorrow commented on #99
Yes, the enctype is forced to "multipart/form-data" in the view file (scala.html). Also tried to add contentType in ajaxsubmit options, but seems still getting same result that getFiles.size()=0.

Then tried to use form submit with a submit button ( by removing ajaxsubmit ), and got same result. ( works with native Play but not working with Tomcat)

[code]

[2012-10-23 08:24] dlecan commented on #99
I setup the same configuration as you:
- Tomcat 7.0.29
- P2W 0.8
- your html form
- your Play server code

and .. it works :-(
File is uploaded, `body.getFile("testFile")` is not null.

Can you enable `TRACE` level log on play logger, launch an upload and copy/paste server logs here?

[2012-10-23 08:59] dlecan opened #100 "Missing transitive p2w-core-common in WARs"
Either in 25 ou 3.0 war, p2w-core-common jar is missing.
This is a transitive dependency, lost when using ivy repository.

[2012-10-23 10:24] #100 closed, assigned to dlecan

[2012-10-23 13:47] garytomorrow commented on #99
Thanks for your sample. But seems still doesn't work with my tomcat. :-(

Below is the log attached.

Started with /test/fileupload
And POST to /test/upload  [ logs from line 315 i would guess]
<<<<<

2012-10-23 21:37:01,330 - [DEBUG] - from org.apache.catalina.authenticator.AuthenticatorBase in http-bio-8080-exec-2
Security checking request GET /test/fileupload

2012-10-23 21:37:01,330 - [DEBUG]

[2012-10-23 13:48] garytomorrow commented on #99
The code as below and you can refer to the log above with 'Logger.info("Gary: upload DS - No file");'  which means no file identified from request.

[code]

[2012-10-23 16:39] dlecan commented on #99
Thanks for theses logs, I will analyse them.

What happens if you remove `@BodyParser.Of(BodyParser.MultipartFormData.class)` ?

[2012-10-23 17:44] garytomorrow commented on #99
After removing the  @BodyParser.Of(BodyParser.MultipartFormData.class),  slightly changes on the log from (multipartFormData--> anyContent) but result is the same still can not get the file. :-(

2012-10-24 01:39:34,873 - [TRACE] - from play in http-bio-8080-exec-6
HTTP request content: POST /test/upload
URI: /test/upload
Method: POST
Path: /test/upload
Parameters: Map()
Headers: HOST: dev.feimofa

[2012-10-23 17:48] garytomorrow commented on #99
And here are my native Play log which can see the file uploaded with 'has file', this may be also helpful for analysis?

Btw is there something with HTTP 1.0 or HTTP 1.1?

[info] play - Application started (Dev)
[trace] play - Serving this request with: Action(parser=BodyParser(empty))
[trace] play - Serving this request with: Action(parser=BodyParser(maxLength=2147483647, wrapping=BodyParser(anyC

[2012-10-23 20:10] dlecan commented on #99
Which JDK ?

[2012-10-23 20:14] dlecan commented on #99
Can you add a new snippet at the begin of your method ?

[code]

[2012-10-24 00:02] garytomorrow commented on #99
JDK Version: ( Also tried in Centos 64bit with same JDK 1.6 )

D:\Users\Gary\workspace\feimofang>java -version
java version "1.6.0_32"
Java(TM) SE Runtime Environment (build 1.6.0_32-b05)
Java HotSpot(TM) 64-Bit Server VM (build 20.7-b02, mixed mode)

Request Headers (Both Tomcat and Native Play )

============Tomcat Headers =========================

2012-10-24 07:59:08,480 - [TRACE] - from play

[2012-10-24 08:34] peshkira opened #101 "Log output of non Play war not shown in JBoss after PlayWar deployment"
Hi!

I am using your plugin (v0.8) to create a war, which I want to deploy on a JBoss 7.1.1, where also another non-PlayFramewrok application is running.

First I deploy the other application and everything works fine. All its logs get printed to the console as well as get appended to the standard server.log of JBoss.

As soon as I deploy the Play App ROOT.war I get the following output in the con

[2012-10-24 12:41] renardchien commented on #99
Hello,

I am having the exact same problem. My only difference is that I am using using Play 2.0 and Play2War 0.4. I realize these are older versions, but if you have any suggestions or need any information, please let me know.

I greatly appreciate any help as I have not been able to find a solution. Thank you!

[2012-10-24 13:49] dlecan commented on #99
@renardchien your problem has probably been fixed since Play2War 0.5, has your bug was a known issue of Play2war 0.4. (see #49)
Please upgrade to a newer version of the plugin, upload file with Play2war 0.4 is buggy.

[2012-10-24 14:15] renardchien commented on #99
Oh fantastic thank you. I saw that referenced, but I thought it was the same problem as this one. I'll begin upgrading. Thank you so much; this is a great project by the way.

[2012-10-24 15:26] dlecan commented on #101
Logback configuration in Play application probably reconfigures the logs for the whole system.

You can try to add a `MY_PLAY_APP_ROOT/war/WEB-INF/jboss-deployment-structure.xml` with the following content:

[code]

Then package and redeploy. This may work.

[2012-10-24 16:28] garytomorrow commented on #99
Thanks Damien.
It seems it's the configuration issue in my tomcat.  I added  into context which makes the data lost I guess. Application works after I comment it out.

[2012-10-24 19:13] dlecan commented on #99
Great, that's a good news :-)

Next time, I'll think about App Server configuration earlier ...

[2012-10-24 19:13] #99 closed, assigned to nobody

[2012-10-25 13:17] takezoe opened #103 "Could Play2Servlet25.WAIT_TIMEOUT be configurable?"
In the current implementation of Play2Servlet25 waits 10 sec for play execution.

[code]

However sometimes it's too short. I would like to change it to an suitable value for application.

[2012-10-25 14:45] peshkira commented on #101
Unfortunately, that didn't do it. I have double checked, that the file is inside the war.
Do you have any other suggestions?

Thanks for your time and help

[2012-10-26 10:22] dlecan commented on #103
Yes, I will add a new configuration key, as for Servlet 3.0 async timeout value.

[2012-10-26 13:40] dlecan commented on #101
What is the logging system of your other application ?

[2012-10-30 10:44] peshkira commented on #101
The other application uses slf4j with the bindings for log4j

[2012-10-30 10:56] dlecan commented on #101
Where is located `log4.xml` ? (or `log4.properties`)
Can you deploy the same `jboss-deployment-structure.xml` in this application ?

[2012-10-30 12:42] peshkira commented on #101
log4j.xml is in `OTHER_APP.war/WEB-INF/classes/log4j.xml`
I deployed the same deployment-structure file to the non-play app, but the effect is the same.

As soon as the ROOT war is deployed I get the log:

[code]

and then nothing else. Thanks for your help!

[2012-10-30 17:30] #103 closed, assigned to dlecan

[2012-10-31 13:33] dlecan commented on #103
Play2War 0.8.1 has been release, with a fix for this issue.
See [Additional Play configuration keys](/dlecan/play2-war-plugin/wiki/AdditionalPlay2ConfigurationKeys) for configuration.

[2012-10-31 14:07] dlecan commented on #55
Workaround found.

[2012-10-31 14:07] #55 closed, assigned to dlecan

[2012-10-31 15:12] dlecan commented on #26
Root console has to be disabled first

[2012-11-05 12:28] dlecan commented on #14
Filter "provided" dependencies

[2012-11-20 09:05] tobiasschittkowski opened #105 "Play 2.1 and subcontext deployment"
Hello,

as Play 2.1 RC1 is out (https://github.com/playframework/Play20/commit/ba571ef1c99ec94c94d9eab9986a4c5c6dfa3b3e), could you give an estimation as when your war plugin will support this version and will have the announced feature of non-root context deployment?

Thank you!
Tobias

[2012-11-20 20:49] dlecan opened #106 "Upgrade to Play 2.1.xx"
Play2War needs to be compatible with Play 2.1.xx

This is the main issue which sums up all the work to do to be compatible with.
- subcontext: **done**
- API breaks: **done**
- sbt upgrade: **done**
- scala upgrade: **done**
- Play dependencies: **done**
- CI upgrade (SBT): **done**
  - create new project infrastructure (main + tests project for each play 2.1.x runtimes): **done**
- SBT plugin upg

[2012-11-20 20:50] dlecan commented on #105
Hi @tobiasschittkowski

I'm currently evaluating the work to be done to be compatible with Play 2.1.xx
You will find all informations in issue #106.

[2012-11-20 20:50] #105 closed, assigned to nobody

[2012-11-23 10:41] dlecan opened #107 "[Tomcat] Akka timeout on first http request on new Cloudbees Fedora 17 infra"
Context:
- On Cloudbees, Os version has been migrated from Fedora 14 to Fedora 17
- After that, onlye the first integration tests fail on Tomcat (6 and 7 together), with the following error:

[code]

[2012-11-23 10:43] dlecan commented on #107
Workaround: send a 1st http request to warm up the server (leads to the same exception, but no effect on tests).

[2012-11-26 10:48] #94 closed, assigned to dlecan

[2012-11-26 11:55] dlecan commented on #94
Play2War is now officially compatible with Jetty9 M2.

[2012-11-27 10:42] takezoe opened #108 "[Tomcat7]Leak error and Tomcat is never shutdown"
When I execute CATALINA_HOME/bin/shutdown.sh, I got the following error and Tomcat is never shutdown.

[code]

My environment :
- Tomcat 7.0.29
- Play 2.0.4
- play2-war-plugin 0.8.1 (Servlet 2.5 mode)

Are there anyone who got the same problem?

[2012-11-27 13:07] dlecan commented on #108
Yes, for memory leaks see #29, and [Akka#2672](https://www.assembla.com/spaces/akka/tickets/2672) and [Akka#2479](https://www.assembla.com/spaces/akka/tickets/2479).

But Tomcat shutdown has always been successful.

When Tomcat hangs, can you do a thread dump ?

[2012-11-27 14:22] takezoe commented on #108
This is a part of thread dump. It seems that Akka threads are remained.

[code]

I tried Play 2.0.1 with play2-war-plugin 0.8.1, Tomcat shutdown was successful.

[2012-11-27 17:28] dlecan commented on #108
Hum, this is a Play and its embed dependencies issue.

A quick look at diff between Play 2.0.1 and 2.0.4 Build.scala file gives that (extract):

[code]

Scala STM has been upgraded, and your initial bug report shows `scala.concurrent.stm.ccstm.InTxnImpl$` statements ...

Can you downgrade Scala STM to 0.4 ?

[2012-11-28 03:30] takezoe commented on #108
Thanks, I downgraded Scala STM to 0.4, however Tomcat is not still terminated.

Of course, this is not an issue of play2-war-plugin. I expect this trouble is caused by changes of Play or Akka. But this is a serious problem when running Play2 application on Tomcat using play2-war-plugin. I'll continue to investigate more details and report that result.

[2012-11-28 14:42] ghost opened #109 "Cannot override ehcache.xml when deploying with play2 war plugin"
Im moving this issue here from the Play issue tracker as they thought its was related to the war plugin.

I'm trying to override the ehcache.xml bundled inside play.jar in a Play 2 (2.0.4 java) app thats being deployed to JBoss 5 using the play2-war-plugin 0.8.1.

None of these methods to override the configuration works:

1) Deploy my own ehcache.xml in /conf. Someone in google groups reported th

[2012-11-28 16:58] dlecan commented on #109
JVM loads resources by analyzing jars in classpath alphanumerically sorted.
What is the name of your application ?

[2012-11-29 15:48] dlecan commented on #108
Can you post the full thread dump ?

[2012-11-29 15:50] dlecan commented on #106
Thanks to #111, only tests of _subcontext_ feature remains.

[2012-11-29 16:21] dlecan opened #112 "Fix all warnings in 'sample' compilation"
[code]

[code]

[code]

[2012-11-30 13:10] porchy13 opened #113 "Obtainment of JkEnvVar values"
Hi,

When the War archive is used on Tomcat behind Apache with mod_jk, it is possible to send environment variables with JkEnvVar to the Tomcat servlet.

Those values are stored as attribute of an HttpServletRequest and can be obtained by using the method getAttribute("<env_var_name>").

It would be nice if those values were forwarded to the Play Context object, into the args map.

regards,

Porch

[2012-11-30 13:55] dlecan commented on #113
Ok, I can transfert all request attributes into Play Context.

What is priority of this for you ?

[2012-12-01 00:08] sqs opened #114 "Play2WarCommands getFiles skipHidden"
Elastic Beanstalk looks for config inside WAR files in a top-level directory called `.ebextensions` (note the preceding dot). If I put a `.ebextensions` file inside the `webappResources` dir (i.e., `war/`), it is excluded due to the `skipHidden=true` parameter of `Play2WarCommands.getFiles`.

Can I submit a patch that removes skipHidden so that dot-directories are included (if there is no specific

[2012-12-01 20:07] #114 closed, assigned to dlecan

[2012-12-01 21:03] sqs commented on #114
thanks!

[2012-12-03 08:23] dlecan opened #115 "[CI] Publish snapshots only if integration tests are successful"
Snapshots are published only if compilation is ok.
Improve this to publish them only if all integration tests are ok.

[2012-12-03 08:46] ghost commented on #109
the name is playehcacheplugintest_2.9.1-1.0.0-SNAPSHOT.jar

[2012-12-03 13:16] dlecan commented on #109
Can you rename it "a_playehcacheplugintest" (eg.) in `MY_PROJECT/project/Build.scala` and try again ?

[2012-12-05 20:24] dlecan opened #116 "New application.context feature should work with Play2War"
Need to update:
- integration tests
- sample configuration

[2012-12-05 20:25] dlecan commented on #106
See #116 for subcontext

[2012-12-05 20:25] dlecan commented on #116
This doesn't work yet:

[code]

[2012-12-06 08:30] dlecan commented on #116
Much better after fixing exception (-80 test errors).
But there are still some failures.

[2012-12-06 14:36] ghost commented on #109
Thanks - now it picks up the ehcache.xml deployed in my own Jar although I'm not too exited about renaming my Jar to override the default Play ehcache.xml :)

According to this http://stackoverflow.com/questions/5474765/order-of-loading-jar-files-from-lib-directory its because Tomcat sorts the Jars in the lib folder that this solution works?

[2012-12-06 17:20] dlecan commented on #109
Yes it is. It would possible to rename project's jar when it is embedded in war package, by setting an option configured in your build file.
Please open another issue if you need it.

[2012-12-06 20:27] #116 closed, assigned to dlecan

[2012-12-06 20:28] dlecan commented on #106
All jobs done !

[2012-12-06 20:28] #106 closed, assigned to dlecan

[2012-12-10 14:05] dlecan commented on #114
Play2War 0.9-RC1 has been released, with a solution for this issue.

[2012-12-10 14:05] dlecan commented on #106
Play2War 0.9-RC1 has been released, with a solution for this issue.

[2012-12-10 14:05] dlecan commented on #105
Play2War 0.9-RC1 has been released, with a solution for this issue.

[2012-12-10 14:05] dlecan commented on #100
Play2War 0.9-RC1 has been released, with a solution for this issue.

[2012-12-10 14:05] dlecan commented on #94
Play2War 0.9-RC1 has been released, with a solution for this issue.

[2012-12-10 17:00] #69 closed, assigned to nobody

[2012-12-11 11:27] ghost commented on #109
Although we got Play to load our own ehcache.xml some developers on our team are complaining the exception mentioned in the ticket still happens on hot redeployment in JBoss EAP 5.1.2.

In a small proof of concept app I cant trigger the issue but in a larger app it now seems to happen often after adding /conf/ehcache.xml.

The report Im getting from other developers is that after adding the ehcach

[2012-12-11 13:26] dlecan commented on #109
Someone reported a similar issue with Play itself on Play Google group months ago.
Search for "ehcache" in https://groups.google.com/group/play-framework/tree/browse_frm/month/2012-7?_done=/group/play-framework/browse_frm/month/2012-7?scoring%3Dd%26start%3D750%26&scoring=d&start=750&&pli=1

Weird thing, individual messages seem to have been deleted ?!?

Does it also happen with native Play reloadi

[2012-12-14 13:03] dlecan commented on #113
Do you need that for Play 2.0.x ?

[2012-12-14 13:14] dlecan commented on #54
@andersbohn @sejensen @matgi Cohabitation between JBoss logging and Play logger is very bad and will generate new bugs again and again.

So I would like to disable internal Play logger: all Play logging statements would be redirected to server application logging framework. Internal `logger.xml` would be useless and Play logging configuration might be done through app server logging configuration.

[2012-12-14 13:14] dlecan commented on #101
Cohabitation between JBoss logging and Play logger is very bad and will generate new bugs again and again.

So I would like to disable internal Play logger: all Play logging statements would be redirected to server application logging framework. Internal `logger.xml` would be useless and Play logging configuration might be done through app server logging configuration.

This feature would be enabl

[2012-12-14 13:21] matgi commented on #54
I think is a good solution. I'm looking forward to see this logging system working...
This is the only open bug in our "play applications" installed under JBoss 7.
thank you very much, I really appreciate it!
Matgi.

[2012-12-14 13:31] tm4rini opened #117 "Jboss 7.1.1 + play 2.1-RC does not deploy"
I have a project that uses play2.1-RC with Ebean which I want to deploy in jboss 7.1.1, I disable default page welcome in "standalone / configuration / standalone.xml" changed enable-welcome-root = "true "to enable-welcome-root =" false ". Also rename the WAR file generated for ROOT.war before deploying.

The following error is generated:

[code]

With that tried the alternative of adding the depe

[2012-12-14 14:53] dlecan commented on #117
README.md is not clear, but "jboss7-vfs-integration" in mandatory for all JBoss 7.x series.
I will refactor this part of the documentation to be clearer.

Your exception appears when VFS is not correctly initialized, but this should be done by the extention "jboss7-vfs-integration" ...

I will publish a 1.0.2 version which will output some logs, in order to be sure this initialization:
- is done
-

[2012-12-14 14:54] dlecan opened #118 "Doc updates"
Installation doc on app server needs to be refactored:
- [x] extra JBoss library for all JBoss versions
- [x] explain how to deploy in subcontext
- [x] New Maven repo configuration

[2012-12-14 14:59] dlecan opened #119 "Enhance Jenkins SBT plugin"
Jenkins SBT plugin is not able to substitute variables and this is necessary for P2W builds.

Same job done for SSH Plugin
https://github.com/jenkinsci/ssh-plugin/commit/54f1b8975f0a5c6485d36563a36a39cc1b9c5e9b

Class to update
https://github.com/dlecan/sbt-plugin/blob/master/src/main/java/org/jvnet/hudson/plugins/SbtPluginBuilder.java

UI linked to class to update
https://github.com/dlecan/sbt-pl

[2012-12-14 15:08] tm4rini commented on #117
thanks for the reply.

[2012-12-18 12:45] erkinun commented on #106
thanks for the update, i deployed play 2.1 app to tomcat, and it showed, but when i want to access the application, it tried to open its name for a get action and failed, what is the procedure for deploying at sub context?

[2012-12-18 14:05] dlecan commented on #106
Thank you for testing this new feature :)

I have to do some documentation about this, but there is nothing specific to Play2war to do.

Your Play application must be configured to be accessed by sub context (see [this yellow-highlighted line of code](https://github.com/dlecan/play2-war-plugin/blob/79da55c32c04b67a9f344737606edd9ce6ba6dbc/sample/common/conf/application.conf#L48)).
Don't forget the

[2012-12-19 10:47] porchy13 commented on #113
Hi,

Sorry for having been so late for the response.

It's not a huge priority. We have the chance that Shibboleth check the headers to counter the headers modifications.

What do you mean by Play 2.0.x? We can wait the update of your plugin for Play 2.1 if it is your question.

Thanks for your great job.

regards,

Porchy

[2012-12-19 13:09] dlecan commented on #113
Ok, this will be done for next 0.9.x

[2012-12-19 14:55] erkinun commented on #106
yes man, it works : ) documentation of play 2.0 is kind of confusing, so a little bit hard to learn : )

[2012-12-20 14:08] dlecan commented on #117
Can you update "com.dlecan.reflections"% "jboss7-vfs-integration"% "1.0.1" to 1.0.2 ?

You should see such logs at startup:

[code]

[2012-12-20 14:40] dlecan commented on #117
FYI, my play 2.1 ebean sample works as expected on JBoss 7.1.
If I remove jboss7-vfs-integration jar, I get **the same** exception as you.

Something must be wrong with jboss7-vfs-integration loading.

What's the 1st letter of your project's name ?

[2012-12-20 14:52] tm4rini commented on #117
I tried with 2 project

with the first "M" and the other with "P"

[2012-12-20 14:52] dlecan commented on #112
1st warning fixed.

[2012-12-27 09:20] dlecan commented on #117
Did you see this [comment](https://github.com/dlecan/play2-war-plugin/issues/117#issuecomment-11574592)?

[2012-12-27 09:24] dlecan commented on #109
Sorry, I didn't catch this.
For me, this is a Play reloading issue, which should be reported to Play itself.

Do not hesitate to reopen this issue if you think something is wrong with Play2War.

[2012-12-27 09:24] #109 closed, assigned to nobody

[2012-12-27 09:54] dlecan commented on #54
Hi guys,

Here is a new dependency to include in your project to disable Play Logger:

[code]

How does it work ?
Play logger configuration is disabled, that is to say project's `logger.xml` file will be ignored.
So logs have to be configured by your app server (JBoss for eg.).

Known issue : all Play logs will be output twice.
To fix this, I have to release new versions of Play2War (0.8.2 and 0.9

[2012-12-27 09:54] dlecan commented on #101
Hi guys,

Here is a new dependency to include in your project to disable Play Logger:

[code]

How does it work ?
Play logger configuration is disabled, that is to say project's `logger.xml` file will be ignored.
So logs have to be configured by your app server (JBoss for eg.).

Known issue : all Play logs will be output twice.
To fix this, I have to release new versions of Play2War (0.8.2 and 0.9

[2012-12-31 19:39] thesurlydev commented on #117
I'm having this same issue as well. Running Play 2.0.4 with JBoss 7.1.1. Plugin version is 0.8.1. I do not see "JBoss VFS initialisation for Play applications" in the log.

[2013-01-02 14:34] dlecan commented on #117
@digitalsanctum Which version of `jboss7-vfs-integration` lib ?

[2013-01-02 14:37] thesurlydev commented on #117
1.0.2

[2013-01-02 14:43] dlecan commented on #117
@digitalsanctum Thx. What is the 1st letter of your project's name ?

[2013-01-02 14:44] thesurlydev commented on #117
first letter is P

[2013-01-07 12:18] dlecan commented on #101
New version `1.0.1` of the dependency:
`"com.github.play2war.ext" %% "redirect-playlogger" % "1.0.1"`

[2013-01-07 12:19] dlecan commented on #54
New version `1.0.1` of the dependency:
`"com.github.play2war.ext" %% "redirect-playlogger" % "1.0.1"`

[2013-01-07 12:19] #54 closed, assigned to dlecan

[2013-01-07 12:21] dlecan commented on #117
Hi guys,

I have totally rewritten org.reflection JBoss 7 integration into Play2.
It is now loaded as a Play2 plugin, which should ensure its loading before ebean plugin.

If you want to try it, follow theses intructions:
- Remove old `jboss7-vfs-integration` dependency (servlet-base loading)
- Add this dependency: `"com.github.play2war.ext" %% "jboss7-reflections-vfs-integration-play2" % "1.0.0"`

[2013-01-07 12:24] dlecan commented on #107
It's working, no time to investigate.

[2013-01-07 12:24] #107 closed, assigned to nobody

[2013-01-07 12:25] dlecan commented on #31
No one complain, so close it.

[2013-01-07 12:25] #31 closed, assigned to dlecan

[2013-01-07 12:26] dlecan commented on #29
No thing can be done on Play2War plugin side.

[2013-01-07 12:26] #29 closed, assigned to nobody

[2013-01-07 12:26] dlecan commented on #112
3rd warning fixed.

[2013-01-07 12:31] #112 closed, assigned to nobody

[2013-01-07 12:33] dlecan commented on #108
I think this a Play2 issue.
Please reopen if you think it's a Play2War issue instead.

[2013-01-07 12:33] #108 closed, assigned to nobody

[2013-01-07 12:34] dlecan commented on #46
Java 7 is OK on Jetty 9, compatible with Java 7.

[2013-01-07 12:34] #46 closed, assigned to dlecan

[2013-01-11 08:19] tobiasschittkowski commented on #105
...forgot to say THANK YOU for all the fantastic work you have done -> it works!

[2013-01-11 09:51] dlecan commented on #105
Thank you :)

[2013-01-11 10:36] dlecan opened #121 "Migrate all repo configuration to OSS"
Play2War will be now deployed to OSS.

This issue to track down all tasks.
- [x] Project
- [x] Sample
- [x] Samples

[2013-01-11 10:39] dlecan commented on #101
Probably fixed by the new extension.

Please reopen if this issue isn't fixed.

[2013-01-11 10:39] #101 closed, assigned to dlecan

[2013-01-11 11:25] #121 closed, assigned to nobody

[2013-01-11 11:25] dlecan opened #122 "Upgrade to Play 2.1-RC2"

[2013-01-11 11:25] dlecan commented on #122
Done

[2013-01-11 11:25] #122 closed, assigned to nobody

[2013-01-11 20:29] chuorn opened #123 "problem when submit form with large data"
I used: - play 2.0.4
            - Java jdk 6
            - play2war 0.8.1
            - Tomcat 6.0
Problem I got:
   I have alot of checkbox like in attach file and have one sumbit button for delete information in database. If I try to sumbit with 500 checkboxs it is ok but If you try to submit with 2000 checkboxs and then I got the problem, it is not delete but
it hang on it, and then it redirec

[2013-01-12 20:43] dlecan commented on #123
Do you have any exceptions in logs ?
When it hangs, what's the size of codeToDelete array ?

You may have reached post size limit of Tomcat's connector. Look for `maxPostSize` in http://tomcat.apache.org/tomcat-6.0-doc/config/http.html

Can you set it to `0` and try again ?

[2013-01-13 20:27] dlecan commented on #74
Not necessary anymore.

[2013-01-13 20:27] #74 closed, assigned to dlecan

[2013-01-13 20:29] dlecan commented on #84
Not a problem.
Add snapshot repo explcitely.

[2013-01-13 20:29] #84 closed, assigned to nobody

[2013-01-16 13:19] dlecan commented on #118
All work done.

[2013-01-16 13:19] #118 closed, assigned to dlecan

[2013-01-16 16:43] antoineleclair opened #124 "Memory leak with Tomcat, Guice and Play 2.1-RC2"
I'm using play2-war (dev branch, 2cd7c78dfcae1b81cc7fe76b5cf71dcfa7cda10f) and Tomcat 7. My app uses Guice for dependency injection in the controllers. I eventually get a PermGen space OutOfMemory. Maybe it has something to do with the fact that I see Catalina class loader in the stack trace? (`org.apache.catalina.loader.WebappClassLoader.loadClass`)

Here's the stacktrace that I get:

[code]

[2013-01-17 09:00] dlecan commented on #124
What did you do to get that ? Hot redeployment in Tomcat ?
Or just using application and then getting this exception after a while ?

Profilling is necessary to understand what happens. I don't know what I can do here (or what Play2war can do also).
Guava (Guice dependency) has many memory leaks, which can lead to OOME on Tomcat after redeployment.

Eg.: http://code.google.com/p/google-guice/issue

[2013-01-17 15:42] antoineleclair commented on #124
I got that after a while. Also, when we deploy we restart Tomcat.

[2013-01-17 16:32] dlecan commented on #124
Maybe something should be done by Play2War when servlet context is destroyed.
Any idea ?

[2013-01-17 16:36] antoineleclair commented on #124
Not sure of what I'm saying, but could it be caused by the fact that Play 2.1 has changed the way it loads classes? If they are created by `org.apache.catalina.loader.WebappClassLoader` instead of Play, could it cause a leak?

[2013-01-17 16:41] dlecan commented on #124
Do you mean this wasn't an issue with Play 2.0.x ?

[2013-01-17 16:46] antoineleclair commented on #124
I don't think it was an issue before. But in Play 2.0.x, I was using the [injection plugin](https://github.com/typesafehub/play-plugins/tree/master/inject), which is not supported by Play2.1. I now use Guice, as shown in the [example](https://github.com/playframework/Play20/blob/master/documentation/manual/javaGuide/main/inject/JavaInjection.md).

[2013-01-18 21:47] gguan opened #125 ""org.apache.catalina.connector.Request.startAsync" not supported ?"
When I deploy war package on company's specific tomcat version. I get following errors.

[code]

I looks like asynchronous feature is not configured. I'm quite new to tomcat. Can you point me how to config this in play's project?

[2013-01-18 22:34] yakphi opened #126 "Help on: module not found: com.github.play2war#play2-war-plugin;0.9-RC2"
Hi,
trying to add your plugin to my project it can't find the dependency.
I have checked manually all the tried url and I didn't found any.

[warn]  module not found: com.github.play2war#play2-war-plugin;0.9-RC2
[warn] ==== typesafe-ivy-releases: tried
[warn]   http://repo.typesafe.com/typesafe/ivy-releases/com.github.play2war/play2-war-plugin/scala_2.9.1/sbt_0.11.3/0.9-RC2/ivys/ivy.xml
[warn] ===

[2013-01-19 06:37] dlecan commented on #126
Hi,

Play2War 0.9.x is only compatible with Play 2.1 applications.

For Play 2.0.x applications, use Play2War 0.8.1.

Don't forget to add Play2War specific repository as written in
documentation.
Le 18 janv. 2013 23:34, "yalis" notifications@github.com a écrit :

[2013-01-19 06:38] #126 closed, assigned to nobody

[2013-01-23 08:35] chuorn opened #127 "Cannot download file size > 5MB on Tomcat 6"
I used: - play 2.0.4
- Java jdk 6
- play2war 0.8.1
- Tomcat 6.0
  I have the problem when deploy with tomcat, I can not download file size >= 5MB. when I click download, nothing happend.
  If I use with play start or play run is ok.
  Thank you

[2013-01-23 10:13] dlecan commented on #127
Can you try the following workarounds ?
https://groups.google.com/d/topic/play-framework/vNruSwYMbKs/discussion

[2013-01-24 15:35] cgalpin commented on #93
Damien, if you are still interested in seeing this run on Websphere (7)  I am ready to pick up where this left off.  I get the same error and I am pretty sure this is a classpath/class loader issue.  I know next to nothing about scala, but the file is loaded with app.classloader.getResources(file) and in our java code we have seen a difference between using  getClass().getResource(file).getFile()

[2013-01-24 15:43] cgalpin commented on #93
Sorry I didn't include this in my last message but I just noticed that if I do try to load the app, I see this error in the logs, which I think is telling.  It appears WAS is looking in WebSphere/AppServer/properties directory for the messages file, but this is actually a folder containing language directories like en which contain xml files with messages.

[code]

[2013-01-25 14:30] dlecan commented on #93
Thank you @cgalpin

Even if you and @drdamour have provided usefull stacktraces, I'm not able to fix this issue without more informations.

I well want to work on this, but @cgalpin you must be ready to deploy on your WAS7 test cases you can share.
@cgalpin, you're ready to do such thing, I'll open a new issue.

[2013-01-25 14:39] cgalpin commented on #93
Hi Damien

Absolutely. Let me know what test cases you think would be useful. I am new to play! and scala so I am not sure what to try next.

Thanks,
charles

[2013-01-25 16:46] dlecan opened #128 "Support WAS 7"
This bug to track all tasks related with WAS 7 support.

Known issue:

[code]

[2013-01-25 16:46] dlecan commented on #93
@cgalpin see #128

[2013-01-25 16:52] dlecan commented on #125
You doesn't say anything about your company's specific Tomcat version.
On standard Tomcat version, Async request are "on" by default, so something provided by your disables it.

Maybe you have a Valve or a Filter which disable async request ...

[2013-01-25 16:52] dlecan commented on #123
Any news ?

[2013-01-25 16:54] dlecan commented on #117
Any news guys ?

[2013-01-25 17:51] cgalpin commented on #128
Thanks.  What can I provide to help figure out what's wrong with WAS 7?

[2013-01-25 18:57] gguan commented on #125
I'm not sure why company's tomcat turns off Async by default. But I googled the problem and find some people has similar issue when using tomcat Async. It is solved by adding:
servletRequest.setAttribute("org.apache.catalina.ASYNC_SUPPORTED", true)
in servlet methods. I add this line in Play2-war-plugin Play2Servlet30RequestHandler class, and compile in my local box. Then the war package generated

[2013-01-27 20:11] dlecan commented on #125
You can understand I can't add this code in Play2War it is to linked with Tomcat.
Can you set it through a servlet filter ?

[2013-01-27 20:25] dlecan commented on #128
I will adapt [Play2War sample](https://github.com/dlecan/play2-war-plugin/tree/af9a97a98bd4c109c375e6a920074b649d118534/sample) to output more log traces with Play Messages and MessagesParser classes.

The WAR file of the sample will be built by [Play2War CI server](https://play-war.ci.cloudbees.com/) and you will just have to pick it up here when I'll tell you.

Which Play version are you using ?

[2013-01-28 01:20] cgalpin commented on #128
I have installed both to see if there is a difference so either is fine for me. Whichever is best for the tool going forward?

Thanks

-- charles

On Jan 27, 2013, at 3:25 PM, Damien Lecan notifications@github.com wrote:

[2013-01-28 17:11] dlecan commented on #128
Here is a dedicated WAR file built with Play 2.1-RC2 and Play2War 0.9-SNAPSHOT:
https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_all_issue_branches/ws/sample/servlet30/target/a-play2war-sample-servlet30-1.0-SNAPSHOT.war

It includes new log traces in play.api.i18n Messages, MessagesParser and MessagesPlugin classes, such as:

[code]

How does it work ?
Origi

[2013-01-28 21:25] cgalpin commented on #128
I actually get less output from this than with my basic play "hello world". This is the total output from SystemOut.log, with nothing in SystemErr.log and no other log files evident :

[code]

When I try access the root of app/servlet I get

Error 404: SRVE0190E: File not found: {0}

Thanks,
charles

[2013-01-29 11:04] dlecan commented on #128
Ah, I forget to mention something, sorry: this application must be deployed to `/p2wsample` subcontext.
Then open it with this subcontext : http://localhost:your_port/p2wsample

[2013-01-29 13:42] dlecan opened #129 "Publish sbt plugin to repo.scala-sbt.org"

[2013-01-29 13:43] dlecan commented on #129
Already done.

Must be tested with 0.9-RC3

[2013-01-29 15:15] cgalpin commented on #128
Thanks. I did figure that out (it's baked into the application.conf) when trying to increase the logging levels and tried that too.  But before I was seeing the error on startup, before even trying to access the app.

I think I know what the problem is though - websphere 7 uses servlet spec 2.5 and at least based on the name, this is 3.0

[2013-01-29 15:28] dlecan commented on #128
How are you doing that ?

Use that WAR file instead:
https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_all_issue_branches/ws/sample/servlet25/target/a-play2war-sample-servlet25-1.0-SNAPSHOT.war

[2013-01-29 17:04] cgalpin commented on #128
For the logging, I was increasing the logging level to TRACE in the logger.xml in the a-play2war-sample-common_2.10-1.0-SNAPSHOT.jar (I realize this might be futile)

I just tried the a-play2war-sample-servlet25-1.0-SNAPSHOT.war (no mucking with logging or anything, and using /p2wsample for the context root) and get the following on startup

[code]

And then hitting http://localhost:9444/p2wsample

[2013-01-29 17:37] cgalpin commented on #128
Regarding the context root being baked in, we actually deploy our code as .ear files which seems to be what websphere prefers, and I think the only real difference is the .war is wrapped up in a jar that includes a META-INF/application.xml which basically just contains the context root and a display name.

[2013-01-30 10:46] dlecan commented on #128
Great, overriden code by P2W is correctly loaded by WAS 7. Good point.

Bad point, added logs are hidden. I converted them into standard sys out.
So you can download this WAR file and test it again:
https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_all_issue_branches/ws/sample/servlet25/target/a-play2war-sample-servlet25-1.0-SNAPSHOT.war

[2013-01-30 14:06] cgalpin commented on #128
Whoohoo, it works!  What did you change (I am not sure where this build is getting it's source from but I'd like to see what you were changing).  Did you change it to ignore directories, or continue down the resource files list on failure?

I am not 100% sure what to expect from the sample app, but I get the index page with

This is a Play 2.0 application, running in a Servlet v3.0 Container :)
Ho

[2013-01-31 11:08] dlecan commented on #128
It works, great !

All the code comes from this branch: issue-#93-on-websphere
https://github.com/dlecan/play2-war-plugin/commits/issue-%2393-on-websphere

The 1st build you have tested is bdcf33e800
The 2nd one is f29a800c02

I don't really understand why it works now.

[2013-01-31 12:59] cgalpin commented on #128
Interesting. Neither do I :)  Does using the class loader in println statements change it's state in some way compared to the previous? Could you do a map to just print the files found and then another map to do the parsing?  Or change the code to do the same as what you have now minus the logging (or make it debug or something so it's not normally shown)?  Just throwing out ideas.

One thing I fi

[2013-01-31 13:02] cgalpin commented on #128
BTW, this is not important, but I just realized the app output says "Play 2.0" and "Servlet v3.0" when it should really show the versions built.

[2013-01-31 13:50] dlecan commented on #128
Yes.
I can publish snapshots of artifacts instead of using source code if you prefer.
You will just need to add 2 new repositories:
- one for [plugin.sbt](https://github.com/dlecan/play2-war-plugin/blob/develop/samples/jboss-ebean/project/plugins.sbt#L15)
- one for [Build.scala](https://github.com/dlecan/play2-war-plugin/blob/develop/samples/jboss-ebean/project/Build.scala#L22)

Tell me, I have to

[2013-01-31 15:57] cgalpin commented on #128
If I understand you correctly, you are offering to publish a variant of the p2w plugin? I appreciate that but I'd much rather come up with a solution that doesn't require a special/separate build of the plugin.  Is there anything we can try that is not harmful to put into the main branch?

I tried copying the ImportedCodeFromPlay2.scala to my project and built the war using the standard p2w and I

[2013-02-01 13:57] dlecan commented on #128
Just for your tests :)
All code written for you would be then merged back into main branch (develop).

Instead of using Play2war 0.9-RC2, you would use Play2War 0.9-issue93-SNAPSHOT.

[2013-02-01 14:03] cgalpin commented on #128
Aah, I understand now. Yes, this would be great, thanks.

[2013-02-01 14:43] dlecan opened #130 "Allow version pattern to be customized from current git branch"
This is useful for publishing snapshots such as 0.9-issue89-SNAPSHOT from 0.9-SNAPSHOT and issue-#89-a-fantastic-issue

Algorithm:
- Branch name
  - Locate "#89", and cut after it
  - Remove "-#"
- Version name
  - insert new branch name (issue89 for eg.) just before "-SNAPSHOT"

[2013-02-05 15:35] #130 closed, assigned to nobody

[2013-02-06 00:53] chuorn commented on #123
Hi, I change the way to submit,  I try to build all value from selected checkbox and assign it to hidden field.
So mean that I will sumbit only with hidden field that have all value I need. By do like my problem was fixed.
Thank you for your help, you have give me the way to deploy play with tomcat. :)

[2013-02-06 00:54] chuorn commented on #127
Hi, I try already but still have the same problem. Do you have any idea ?

[2013-02-06 08:26] dlecan commented on #123
Same issue as #127

[2013-02-06 08:26] #123 closed, assigned to nobody

[2013-02-06 08:28] dlecan commented on #127
What so you mean by "when I click download, nothing happend." ?

[2013-02-06 17:29] dlecan commented on #127
I have added integration tests to check if there are limits with download: 0.6Mb, 1.9Mb, 3.2Mb, 5.9Mb and 14.2Mb

Tests are sucessful either as chunked or as non chunked downloads on:
- Tomcat 6
- OpenJDK 6
- Play 2.0.4
- Play2War 0.8.2-SNAPSHOT
  :/

Can you try this war file in your Tomcat deployed as `ROOT.war` ?
https://play-war.ci.cloudbees.com/job/Play_2_War_Run_integration_tests_-_204_Play_

[2013-02-07 08:41] dlecan commented on #130
Useless, code has been deleted

[2013-02-07 09:34] dlecan commented on #128
Here we are: `0.9-issue93-SNAPSHOPT` has been deployed!

In order to use it, you need to add two repositories:
- one in [plugin.sbt](https://github.com/dlecan/play2-war-plugin/blob/develop/samples/jboss-ebean/project/plugins.sbt#L15)
- one in [Build.scala](https://github.com/dlecan/play2-war-plugin/blob/develop/samples/jboss-ebean/project/Build.scala#L22)

Then, fill in `0.9-issue93-SNAPSHOT` in y

[2013-02-07 16:20] cgalpin commented on #128
Thanks. I made the two repo changes, and used "0.9-issue93-SNAPSHOT"  for the play2war plugin version but I still don't get any output for my app, just blank pages for valid actions and no errors in the logs. I do get the play "Action not found" page on bad actions though.

I just ran "play war" to create the war - is there any way to increase logging other than in logger.xml (which I have set to

[2013-02-08 07:51] chuorn opened #131 "cannot access to some page."
Hi,
Sorry for post this subject, it is not related with play2war but I don't know how to contact you.
It look like I cannot access to this:
https://github.com/dlecan/play2-war-plugin/blob/develop/dlecan/play2-war-plugin/wiki/Configuration

Could you help me ?

Thank you
Chamnan

[2013-02-08 07:54] dlecan commented on #131
Hi,

Here is the correct link:
https://github.com/dlecan/play2-war-plugin/wiki/Configuration

Where did you get your one ?

[2013-02-10 07:44] #131 closed, assigned to nobody

[2013-02-10 18:50] kozyr commented on #131
The broken link came from https://github.com/dlecan/play2-war-plugin. I can't access any of the Configuration, Deployment etc. links from there.

[2013-02-10 20:47] dlecan commented on #131
Thank you, I fixed all the links.

[2013-02-11 16:38] dlecan commented on #128
As you get "Action not found" (404 error), Play framework answers your HTTP request.
Much better, isn't it ? Your application has started :)

No, Play framework has very, very few logs ...

Is `application.context` parameter correctly configured ? Don't forget the trailing slash.

[2013-02-20 10:54] momomagic opened #132 "[Play 2.1] Remote deployments on Tomcat 7 fail"
I got this exception when I try to deploy the war file

[code]

[2013-02-20 12:50] dlecan commented on #132
Is it a redeployment ?
Play container isn't properly unload when container is stopped. After that, next deployment is a real mess ...

[2013-02-20 13:46] momomagic commented on #132
when I deploy it to my local machine I got this error until I restart the tomcat it self ,  but If I deploy it to remote server it always crash with that exception

[2013-02-24 20:11] dlecan commented on #132
Ok, redeployment doesn't work because Play doesn't stop properly.

Interesting. How do you deploy remotely on Tomcat ?

[2013-02-25 11:52] jn73 opened #133 "logging on jboss-7.1.1 stops working even when redirect-playlogger is added"
I followed the instructions to disable the play logger when deploying to jboss7 (https://github.com/dlecan/play2-war-plugin/wiki/ConfigurationLoggingJBoss7). Even when doing so my jboss server will stop logging as soon as i deploy my play war.

From my Build.scala:

[code]

I also tried deleting the logger.xml file all together - same result.

I'm using play2-war-plugin 0.9-RC2

[2013-02-25 17:35] dlecan commented on #133
Thank you for reporting this issue.

Can you give more informations about your test case ?

[2013-02-26 08:44] jn73 commented on #133
I reproduced it by:

precondition: logging is working in jboss server
1. create fresh play project (scala)
2. add play2-war plugin in plugins.sbt
3. add dependencies and config in Build.scala (servlet 3.0)
4. play war
5. deploy war in standalone/deployments (jboss 7.1.1)

=> no more logs

I pushed the test-project to github: https://github.com/jn73/play2-war-test

I didn't setup the jboss-server m

[2013-02-26 20:01] dlecan commented on #133
Thanks, I will try to reproduce this issue with your test case.

[2013-02-27 10:55] jn73 commented on #133
I installed jboss locally and deployed nothing but a EJB that logs on a timer (log4j). Deploying the same war will not impact the logging in this installation.

I will keep testing on our other server - but for now I don't know how to reproduce it on a "clean" jboss installation.

[2013-02-27 12:46] dlecan commented on #133
Ok, so I wait for more informations.

[2013-02-27 16:18] jn73 commented on #133
Well this is driving me crazy.. It seems like this problem occurs when i deploy the war to a jboss that is located under our /apps. If I copy the jboss installation from /apps to /var/tmp it works!? Same host...

I also downloaded a fresh jboss-7.1.1. Did nothing but unzip it (one installation under /var/tmp and another to /apps), copied my war to each installation. Works under /var/tmp - fails un

[2013-02-28 09:54] dlecan commented on #128
Any news ?

[2013-02-28 09:57] dlecan commented on #129
Ok for the SNAPSHOTS.
Will be tested for release with 0.9.

[2013-02-28 09:57] #129 closed, assigned to dlecan

[2013-02-28 14:06] cgalpin commented on #128
Sorry no. I haven't had any time to work on it, but also if I did, I am out of ideas on what to try to figure out what's going on.  I will try make some time tomorrow to revisit it if I can get my other work done.

I didn't notice your comment about application.context before. I just looked for application.context but I don't have this set - is this in application.conf?  Sorry I haven't touched th

[2013-02-28 15:28] dlecan commented on #128
New in Play 2.1, it allows you to deploy your application in a subcontext. Otherwise, you **must** deploy your Play application at root context.
- Without `application.context=/p2wsample/`, you must deploy and run at root context : `http://myhost:8080/`
- With `application.context=/p2wsample/`, you must deploy and run at subcontext : `http://myhost:8080/p2wsample`

[2013-02-28 15:45] cgalpin commented on #128
This is sure to be my problem. I will try this as soon as I can, thanks!

[2013-03-01 21:39] cgalpin commented on #128
I set the application.context (including a trailing slash) and made the corresponding changes in the routes file and tested under play and then re-deployed to WAS, but I just get the same result - blank page for any valid path, and nothing in the logs. I'll try deploy as root when I get the next chance.

[2013-03-04 09:05] dlecan commented on #128
ok, something like `application.context=/p2wsample/`

Huh ? What to you mean ? Using `application.context` doesn't need to configure anything in routes file.

See Play2War Sample:
- [application.conf](https://github.com/dlecan/play2-war-plugin/blob/develop/sample/common/conf/application.conf#L48)
- [routes](https://github.com/dlecan/play2-war-plugin/blob/develop/sample/common/conf/routes)

Nothing

[2013-03-04 14:18] cgalpin commented on #128
Correct. Previously my routes file had things like

/myContext/test

Which I changed to

/test

After adding application.context=/myContext/ to application.conf. I tested that everything worked under play before making the war.

The other thing I will try and do is build the p2wsample here and try deploy it to rule out me doing something stupid.

[2013-03-04 18:54] cgalpin commented on #128
Perhaps this is good news - I get the same result building the p2wsample locally so I must have something wrong in my setup. Here is what I did
1. Downloaded the source for the sample from https://github.com/dlecan/play2-war-plugin/tree/develop/sample
2. Edited plugins.sbt to have

addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "0.9-issue93-SNAPSHOT")
1. play compile, play war, the depl

[2013-03-04 18:55] cgalpin commented on #128
Oh I forgot to mention that deploying my test app at the root didn't work either

[2013-03-06 15:58] bjoernjacobs opened #135 "Tomcat 6 + Play 2.1"
Hallo, I have problems with the constellation Play 2.1 and Tomcat 6

I followed the instructions and generated a war file from my play project - so far so good.
In my application.conf I added the line

[code]

since it will be executed parallel to other web services on the same tomcat.

In file Build.scala I configured it to run on Servlet 2.5 (Tomcat 6)

[code]

The directory structure within the

[2013-03-06 16:14] dlecan commented on #135
Thank you for this precise bug report. What is the version of Play2War ?

`WEB-INF/web.xml` file seems to be missing. Do you see it in `PROJECT_HOME/war/WEB-INF` folder ?
It is automatically generated by the plugin.

[2013-03-07 08:48] dlecan commented on #128
I'm lost :)

What is the problem ?

[2013-03-07 14:06] cgalpin commented on #128
I can download your build of a-play2war-sample-servlet25-1.0-SNAPSHOT.war and run it here on WAS and it works.

If I build my own a-play2war-sample-servlet25-1.0-SNAPSHOT.war and run it on WAS it does not work. Same problem with blank output that I get with my own test app.

So there must be something wrong with my environment, but I do not know what.

Clear?

[2013-03-07 14:27] bjoernjacobs commented on #135
Hallo,

thank you for your response. It turned out that play still was using the old configuration where I set the servlet version to 3.0. I had to perform a _clean_ before compiling and afterwards it was recognized correctly.

Sorry for this false alarm. :) Now everything is working as espected.

[2013-03-07 14:27] #135 closed, assigned to nobody

[2013-03-07 15:50] dlecan commented on #128
oh, great ! When did you download it ?
Can you compare the 2 WAR with diff tools such as Winmerge (on Windows) or Meld (on Linux) ?

[2013-03-08 09:13] vasiliyz opened #136 "Concurrency issue with Java code on P2W 0.9-RC2"
I tried to package a sample play app (2.1-RC1, 2.1.0) with war plugin (0.9-RC1, 0.9-RC2) on some servers (tomcat6,tomcat7) with servlet version (2.5,3.0) and found that my play 2 application can handle only one (!) request per moment. When i had put a complex work or just Tread.sleep(10000) into any controller than all other request to other controllers are waited. It makes impossible to use war p

[2013-03-08 14:19] dlecan commented on #136
Surely not :) That's why Play2war 0.9 series is still in beta/RC cycle.

Performances tests were made on 0.8 series (so for Play 2.0.4) and they were OK.

Internal Play 2.1 API has major improvements due to Scala 2.10 and so Play2war 0.9 may have code adaptation issues.

Thanks for reporting that important issue, I can reproduce it.

[2013-03-08 18:13] cgalpin commented on #128
This is nothing new. The one I downloaded is the one you linked here a while ago

https://play-war.ci.cloudbees.com/job/Play_2_War_-_on_push_-_with_integration_tests_-_on_all_issue_branches/ws/sample/servlet25/target/a-play2war-sample-servlet25-1.0-SNAPSHOT.war

I will try compare the WARs today or monday if I can get a chance.

[2013-03-10 21:56] dlecan commented on #136
This issue cannot be reproduced on v0.7.4, v0.8.1 or v0.8.2-SNAPSHOT (for Play 2.0.x).

Only 0.9 series is affected (so for Play 2.1.x).

[2013-03-11 10:32] #125 closed, assigned to nobody

[2013-03-11 10:47] dlecan commented on #133
I don't understand how JBoss installation folder can change anything.
A hidden exception may occur when JBoss is deployed on `/apps`

You could start JBoss in debug mode, attach your Java debugguer on it and hook an Exception break point to see what happens between `/apps` and `/var/tmp`.

[2013-03-11 10:51] dlecan commented on #128
Warning, this is a snapshot file which can be generated from **any branches**.
So the approximate date/time of your download is very important :) (you can look at Play2war files timestamps inside the WAR).

[2013-03-11 10:53] dlecan commented on #127
Any news on this issue ?

[2013-03-11 10:54] dlecan commented on #124
Any news on this issue ?

[2013-03-11 11:20] antoineleclair commented on #124
We stopped using Tomcat because of this bug. Also, we are now starting play with `-XX:+CMSClassUnloadingEnabled -XX:+UseConcMarkSweepGC`, which might have helped when using Tomcat (never tested).

[2013-03-11 12:52] dlecan commented on #124
Thanks

[2013-03-11 12:52] #124 closed, assigned to nobody

[2013-03-11 16:42] cgalpin commented on #128
The WAR file I downloaded contained a-play2war-sample-common_2.10-1.0-SNAPSHOT.jar, 272405 bytes, 2013-01-29 18:48

This is a report of the differences between the two WARs (tsv). Let me know if I can give you more info or if I should download something else to compare to.

[code]

[2013-03-11 17:19] dlecan commented on #128
So, it is this commit (as [already written above](https://github.com/dlecan/play2-war-plugin/issues/128#issuecomment-12937769))
https://github.com/dlecan/play2-war-plugin/commit/f29a800c026e092738db9446e5ab24c5d356e867

Ok, you have built your own WAR, so this jar comes from your build.

0.9-issue93-SNAPSHOT jars are just for you.
My build of P2WSample uses 0.9-SNAPSHOT jars, which are the same as

[2013-03-11 17:50] cgalpin commented on #128
Yes those 3 were missing. I added them but still blank pages. The play command is all I know btw :) It looks like I would need to download sbt standalone to use that 9and would be happy to try it) But let me know if it comes with play (I don't see it)

Just for the record here is the diff showing identical files as well

[code]

[2013-03-12 08:59] dlecan commented on #132
Any news on this issue ?

[2013-03-12 09:09] dlecan commented on #128
Where are your _.play2war_ jars inside your WAR ? You should have the following files inside (notice version 0.9-issue93-SNAPSHOT):
- com.github.play2war.play2-war-core-common_2.10-0.9-issue93-SNAPSHOT.jar
- com.github.play2war.play2-war-core-servlet25_2.10-0.9-issue93-SNAPSHOT.jar

[2013-03-12 09:36] dlecan opened #137 "Synchronize PlayDefaultUpstreamHandler and RequestHandler"
New code appeared in PlayDefaultUpstreamHandler for Play 2.1.0.

RequestHandler needs to be synchronized with it.

[2013-03-12 14:04] rhoposit opened #138 "Not fixed: ClassCircularityError on Tomcat 6 deployment"
Reference  Issue #80 - Not Fixed

play2war 0.9 RC2
Tomcat 6 (servletVersion 2.5)
play 2.1.0
scala 2.10
java 1.6.0_41
sbt.version=0.12.2

After creating WAR file, when deploying on Tomcat 6, I get the following error:

ERROR:
Mar 11, 2013 10:09:49 PM org.apache.catalina.loader.WebappClassLoader loadClass
FINE:   Loading class from local repository
Mar 11, 2013 10:09:49 PM org.apache.catalina.loader

[2013-03-12 15:14] dlecan commented on #138
Thanks for reporting this issue.

Can you add more informations:
- Why is there a Javamelody handler in your Play application ?
- Can you copy/paste a dump of the content of `YOUR_WAR_FILE.war!/WEB-INF/lib` ?

[2013-03-12 15:19] cgalpin commented on #128
Sorry my settings were hiding "right only" items. I have included a complete diff showing everything this time, but the things that were not included last time are

[code]

So I have the right play2war jars but also two different copies of org.slf4j.slf4j-api so removed the org.slf4j.slf4j-api-1.7.2.jar but this didn't change anything either.

So this is the list of differences and left only/right

[2013-03-12 16:21] rhoposit commented on #138
Hello, this may be solved - at least I have a working state at the moment. The my-app.war/WEB-INF/lib directory was/is empty.

Solution: here is what I found on the site which seems to have solved the issue for me:
https://github.com/dlecan/play2-war-plugin/wiki/ConfigurationLoggingJBoss7

Adding the following dependency seems to solve my issue:
"com.github.play2war.ext" %% "redirect-playlogger" %

[2013-03-13 10:16] dlecan commented on #138
Ok, thank you.
Let me know if you encouter any new issue.

[2013-03-15 10:43] psartini opened #139 "Flash scope cookie is not removed in tomcat"
Environment: Tomcat 7, JDK 7u11

It seems the flash scope is not handled correctly when deploying to tomcat. The flash cookie is never removed and is available until the browser session is closed.

Using play2 without war everything works as expected.

[2013-03-15 13:37] dlecan commented on #139
With Play 2.1 / Play2War 0.9-RCx ?

[2013-03-15 13:47] psartini commented on #139
Play 2.1 / Play2War 0.9-RC2

[2013-03-15 14:04] dlecan commented on #139
You're right, this will be fixed by #137, available in the next 0.9-RC3 release (in the next couple of weeks).

[2013-03-15 17:12] dlecan opened #140 "Add Tomcat launcher in samples"

[2013-03-15 17:20] dlecan commented on #140
http://www.hostettler.net/blog/2012/04/09/embedded-jee-web-application-integration-testing-using-tomcat-7/
http://blog.rasc.ch/?p=1144
http://blog.faultylabs.com/2011.php?t=ant

[2013-03-16 06:27] garytomorrow commented on #99
<http://www.skillpages.com/i/ftuf/emailinvitelanding?user=33599300-f58d-e211-b16a
-d6233cd505ab&signedParameters=jJhvEvZGhPD5fQ1xjU4ZdkVSBuHWt7zP8G02iS8Q5cs.eyJlbW
FpbCI6InJlcGx5K2ktNzc1MDcxOC1iODdhODg2OTZjMWFhNWI0NWQyMzE5Yjc5OTYyMTU5YmRiNWVmNzQ
3LTY3NjMxNkByZXBseS5naXRodWIuY29tIiwiZnJvbSI6IjMzNTk5MzAwLWY1OGQtZTIxMS1iMTZhLWQ2
MjMzY2Q1MDVhYiIsInRvIjoiMjEzMGNkMjEtMWU3NS01ZWRmLWE1OGYtODUyY2QwMTBjMTI1

[2013-03-16 21:04] dlecan commented on #127
I cannot reproduce this issue.
Please reopen it if you have more information to give.

[2013-03-16 21:04] #127 closed, assigned to nobody

[2013-03-19 15:35] dlecan commented on #137
Remaining work: commented code https://github.com/dlecan/play2-war-plugin/blob/58cc2e37bcdbc6b4358600f9f5789ad0d31149ed/project-code/core/common/src/main/scala/RequestHandler.scala#L404

Remove all commented code

[2013-03-19 16:31] dlecan commented on #136
This issue doesn't occur with Scala code.
Only Java code has a concurrent execution issue.

[2013-03-20 13:12] #136 closed, assigned to nobody

[2013-03-20 13:13] dlecan commented on #140
Done via sbt aliases:
sbt itt-tomcat7
sbt itt-quick-tomcat7

[2013-03-20 13:13] #140 closed, assigned to dlecan

[2013-03-20 15:29] #137 closed, assigned to dlecan

[2013-03-22 13:02] #139 closed, assigned to nobody

[2013-03-22 13:06] dlecan opened #141 "File upload : switch from Enumerator#fromStream to in-memory buffers"
Some users have reported hangs while uploading files.
This may come from Enumerator#fromStream.
So switch to in-memory-buffer.

[2013-03-22 13:06] dlecan commented on #141
Already done

[2013-03-22 13:06] #141 closed, assigned to dlecan

[2013-03-23 03:30] garytomorrow commented on #99
<http://www.skillpages.com/i/ftuf/emailinvitelanding?user=33599300-f58d-e211-b16a
-d6233cd505ab&signedParameters=ZU6EhLlxmYpRMfDAmF1nllNiv56a8zJm57MiauS1iHA.eyJlbW
FpbCI6InJlcGx5K2ktNzc1MDcxOC1iODdhODg2OTZjMWFhNWI0NWQyMzE5Yjc5OTYyMTU5YmRiNWVmNzQ
3LTY3NjMxNkByZXBseS5naXRodWIuY29tIiwiZnJvbSI6IjMzNTk5MzAwLWY1OGQtZTIxMS1iMTZhLWQ2
MjMzY2Q1MDVhYiIsInRvIjoiMjEzMGNkMjEtMWU3NS01ZWRmLWE1OGYtODUyY2QwMTBjMTI1

[2013-03-25 11:43] dlecan commented on #113
This is harder to implement than I thought initially.

Play Http.Context is initialized in a lazy mode when (Java)Action is created.
Actually, Play2War cannot attached Http.Context between this creation and user's action execution.

It needs more investigations.

[2013-03-25 16:53] tru3d3v opened #142 "Error Action Not Found After deploy to WebSphere"
Dear dlecan,

When i deploying to Websphere i got the error bellow

![error_after_deploy_towebsphere](https://f.cloud.github.com/assets/2869216/298959/486f28f8-956c-11e2-84dd-a37954bd6068.png)

[2013-03-25 17:05] dlecan commented on #142
Which versions ?
- Websphere
- Play2War
- Play

Did you configure `application.context` key configuration in `conf/application.conf` ?
Eg.: `application.context=/myplay/`

See https://github.com/dlecan/play2-war-plugin/wiki/Deployment#subcontext-deployment

[2013-03-25 17:06] #138 closed, assigned to nobody

[2013-03-25 17:06] dlecan commented on #133
Any news ?

[2013-03-25 17:17] tru3d3v commented on #142
Wow, its works...sorry i am forget the applcation.context value :D

![1](https://f.cloud.github.com/assets/2869216/299055/a7120f30-956f-11e2-893c-4d7f5e63f1f1.png)
![2](https://f.cloud.github.com/assets/2869216/299056/ac89e938-956f-11e2-8cf9-cc1f9de1c2bb.png)
![3](https://f.cloud.github.com/assets/2869216/299057/afc1b41e-956f-11e2-9ed6-bae2c8276d57.png)
![4](https://f.cloud.github.com/assets/28692

[2013-03-25 17:25] dlecan commented on #142
Do you know the version of WAS CE ?
Thank you.

[2013-03-25 17:28] tru3d3v commented on #142
mybe :

  IBM WebSphere Application Server Community Edition (3.0.0.3)

i see in console log the server like that.

Thanks

[2013-03-25 17:34] #142 closed, assigned to nobody

[2013-03-25 17:34] dlecan commented on #128
Someone was able to deploy a Play application on WAS Community Edition.
See #142.

[2013-03-25 20:21] cgalpin commented on #128
Interesting, I have no idea how WAS CE 3.0.3 compares to WAS 7, but my guess is it's a closer relative to WAS 8 than WAS 7 since it's the latest CE.

[2013-03-26 10:36] jn73 commented on #133
Hi, sorry i run out of time on this one.. Deployed it as a standalone app (for now). I just debugged the server during deployment of the war however. Didn't see any uncaught exceptions. Lots of caught exceptions (BundleException and a bunch of CEStreamExhausted exceptions until deployment is aborted (because of debugging).

Too much noice when catching java.lang.Exception with subclasses.. Did not

[2013-03-26 10:41] dragojeremic opened #143 "ClassCastException on Tomcat 7"
Hi guys,

I'm tying to deploy war on my local tomcat7, but I'm  getting an error:

[code]

Can you give me any hint how to fix it?
Thanks

[2013-03-26 11:06] dlecan commented on #143
Please, give more informations:
- Play2war version
- Play version
- Exact version of Tomcat 7
- JVM model and version

Thank you

[2013-03-26 11:15] dragojeremic commented on #143
Ah sorry,

Play2war version: 0.9
Play version: 2.1.0
Tomcat 7.0.16
Windows7 OS
jdk1.6.0_21
jre1.6.0_21

Application is done in Java mode...

[2013-03-26 11:19] dlecan commented on #143
Can you provide a test case, or at least show the way you have coded your Java action ?

[2013-03-26 14:19] dragojeremic commented on #143
It is happening for every action, for example:

public class User extends Controller {

[code]

}

[2013-03-26 18:50] proDOOMman opened #144 "play2-war-plugin_2.9.2_0.12-0.9-RC2 not avaliable in maven repository"
http://mvnrepository.com/artifact/com.github.play2war/play2-war-plugin_2.9.2_0.12/0.9-RC2
There is no jar and no pom file.

[2013-03-27 05:02] dlecan commented on #144
Yes you're right, Play2War SBT plugin can't be published on maven Central repository.

Is it an issue for you ?

[2013-03-27 05:03] dlecan commented on #143
Was that ok with Play2War 0.9-RC2 or 0.9-RC1 ?

[2013-03-27 09:42] proDOOMman commented on #144
Oh, sorry. I  should sleep more.
All works fine, thank you!

[2013-03-27 09:42] #144 closed, assigned to nobody

[2013-03-28 10:23] dlecan commented on #143
I tried to reproduce your issue with the Play 2.1 provided sample : `samples/java/helloworld`.
Unfortunately, despite:
- Tomcat 7.0.16
- JDK 1.6.0_29
- WinXP
- Play 2.1.0
- Play2War 0.9

I was not able to reproduce your issue.

I know that JDK and OS are not the same as yours, but I don't think it matters.

What about extra dependencies or plugins in your project ?

[2013-03-28 10:32] dragojeremic commented on #143
None...

It's probably some java dependency in my app,
I'll see what I can do.

Thanks for you're effort, I appreciate it.

[2013-03-29 15:56] dlecan opened #145 "Compute application.context automatically"
It would be possible to compute application.context automatically with servlet context path.

[2013-03-31 14:37] programmist opened #146 "play2war module not found at http://repo.typesafe.com/typesafe/releases/com/github/play2war/"
I used the play2war plugin (0.9) for a Play 2.1 project last week and it worked great.  I started a new project this week and Play was unable to import it.  I set it up identically to the other project.  After trying several things I decided to look at the repo and I noticed it is no longer there - http://repo.typesafe.com/typesafe/releases/com/github/play2war/ is empty.

Any help appreciated.

[2013-03-31 19:38] dlecan commented on #146
repo.typesafe.com is an Artifactory proxy repository for many other Maven repositories, such as Maven Central.

Play2War is available at:
- Scala Sbt repo for SBT plugin: http://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.github.play2war/play2-war-plugin/scala_2.9.2/sbt_0.12/0.9/
- Maven Central for librairies: http://search.maven.org/#search|ga|1|com.github.play2war

http://repo.typesafe.

[2013-04-01 01:24] programmist commented on #146
I'm getting the following error:

Also the following warnings:

[2013-04-02 11:37] dlecan commented on #146
Play2War plugin is located here:
http://repo.scala-sbt.org/scalasbt/simple/sbt-plugin-releases/com.github.play2war/play2-war-plugin/

But `http://repo.scala-sbt.org/scalasbt/simple/sbt-plugin-releases` should be a default repository (or its alias `http://scalasbt.artifactoryonline.com/scalasbt/sbt-plugin-releases`).

I will check into Play 2.1 configuration if they are configured by default.

If y

[2013-04-03 12:07] #145 closed, assigned to dlecan

[2013-04-09 03:00] takezoe opened #147 "Dead lock in Play2Servlet25RequestHandler"
`Play2Servlet25RequestHandler` blocks until response is done by `onFinishService()` and `onHttpResponseComplete()`. But if the request processing is fast and response is small, sometimes `onHttpResponseComplete()` is called before `onFinishService()`. So it causes dead lock.

`onFinishService()` should not wait if `onHttpResponseComplete()` is called before it.

[2013-04-09 03:11] takezoe commented on #147
We are using old version of play2-war-plugin because still using Play 2.0.1. I solved dead lock using AtomicBoolean as the lock object like this: https://github.com/takezoe/play2-war-plugin/commit/e95c0a3f124165b1a3785598b4c476e6c68bb04e
Of course, there may be better solution...

[2013-04-09 20:21] #147 closed, assigned to dlecan

[2013-04-10 10:01] snowdream commented on #80
Not fixed: ClassCircularityError on Tomcat 7 deployment ,with play framework 2.1.1

Apache Tomcat/7.0.30

[2013-04-11 13:42] jn73 commented on #133
Perhaps you should just close this one? I won't have time to troubleshoot more and well.. given the wierdness of running the appserver from different locations it will be difficult to reproduce..

We ended up deploying to a tomcat server instead.

[2013-04-11 13:59] jn73 opened #148 "Explain how to use 'targetName' key property"
I'm trying to exclude version number from the generated war by using the targetName configuration that was mentioned in the changelog for 0.9.

I haven't found any documentation, but my guess was that a configuration like this would do the trick:

[code]

[2013-04-11 14:51] dlecan commented on #146
I can confirm that Scala SBT repo is provided by default with SBT:
https://github.com/sbt/sbt/blob/0.12.0/ivy/IvyInterface.scala#L196

Something must be wrong this your setup.
Please reopen if you still have this issue with new information.

[2013-04-11 14:51] #146 closed, assigned to nobody

[2013-04-11 14:56] dlecan commented on #148
Good question, I will ask to this author of this feature (see https://github.com/dlecan/play2-war-plugin/pull/134).
And then, improve the documentation :)

[2013-04-11 15:02] dlecan commented on #133
Configuring Play log on servlet engines is a real mess, I will try to improve that directly in Play core with the Play team.
Sorry, I can't help more.

[2013-04-11 15:02] #133 closed, assigned to nobody

[2013-04-11 15:04] dlecan commented on #147
Thanks for your help.
You definitely should upgrade to Tomcat7, Tomcat6 begins to be quite old now ...

[2013-04-11 16:47] jozic commented on #148
I've just tested that on my branch in sample project

[code]

this works fine and generates a war file with name "my-fancy-target-name.war"

[2013-04-11 18:48] dlecan commented on #148
Thank you, @jozic
@jn73 settings declaration order is probably important.
Can you try this?

[code]

[2013-04-11 19:05] jn73 commented on #148
Yes, that's it! Thanks :-)

servletVersion works within the first block, targetName must be chained after play2WarSettings.

[2013-04-14 17:37] programmist commented on #146
I haven't worked on that project for about two weeks, but this morning I decided to try again to see if I could resolve the issue.  When I ran "play war" it worked on the first try.  I haven't changed anything, so I have no explanation for why it suddenly works.  I won't look a gift horse in the mouth.

[2013-04-14 19:47] dlecan commented on #146
Great to read that good news :)

[2013-04-15 20:11] programmist opened #149 "TomEE : Servlets named [Play] deployed twice which is not permitted"
We're having trouble with the latest Tomee 1.5.2 milestone and the Play2War plugin.  During server startup we get the following error (catalina.out):

[code]

We are trying to understand whether the problem is in Tomee or Play.  To reproduce the error take the helloworld sample app from Play 2.1.1 and modify the files (below) to import play2war plugin.  After running ```play war```, rename the war

[2013-04-16 07:29] dlecan commented on #149
Theses lines suggest you have a `YOUR_PROJECT/war/WEB-INF/web.xml` file, which declares one or more servlets.
If you need them, why not, but you can't name them "Play", as it is [the name of the annotation-driven servlet](https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/servlet30/src/main/scala/Play2Servlet30.scala#L16) provided by Play2War.

[2013-04-16 16:35] programmist commented on #149
Hi Damien. I used the "helloworld" sample from the Play2.1.1/samples directory and only made the modifications to add the play2war plugin.  There is no war in that project and I didn't add one.  My colleague received this response from one of the Tomee developers: http://openejb.979440.n4.nabble.com/war-file-fails-to-deploy-servlet-loaded-twice-td4662288.html.

It seems that there was a change in

[2013-04-16 19:49] dlecan commented on #149
It was working with TomEE 1.5.1 and doesn't work anymore with TomEE 1.5.2 ?
You can upload your generated WAR file somewhere, I'd like to check out its content.

I will try to reproduce this issue on TomEE 1.5.2.

[2013-04-16 21:27] programmist commented on #149
Yes, it worked with 1.5.1, but not with 1.5.2.  After several days of debugging we finally discovered that it the version of Tomcat was the root of the issue.  Tomee 1.5.1 uses Tomcat 7.0.34 which worked fine.  Tomee 1.5.2 uses Tomcat 7.0.37 whch caused a problem.

I should note that we did try running the war in just a plain Tomcat 7.0.37 instance and it worked.  So it seems that it's a combinati

[2013-04-16 22:02] programmist commented on #149
I also wanted to mention that I used the Reflections library (https://code.google.com/p/reflections/) to detect if there were multiple classes in the classpath using the @WebServlet annotation.  I deployed the war and the only class detected was Play2Servlet.

[code]

[2013-04-17 08:01] dlecan commented on #149
Ok, thank you for all theses tests.

For Tomcat 7, Play2War integration tests are run on 7.0.32, quite old now.
I will run Play2War integration tests on Tomcat 7.0.[34, 35, 37, 39], to try to detect the same regression.

[2013-04-17 12:03] dlecan commented on #143
Any news ?
Please reopen this issue if you have more information to provide.

[2013-04-17 12:03] #143 closed, assigned to nobody

[2013-04-17 12:04] dlecan commented on #80
@snowdream See [this comment](https://github.com/dlecan/play2-war-plugin/issues/138#issuecomment-14785516), it might help you.

[2013-04-17 12:05] dlecan commented on #132
Please, do not hesitate to reopen this issue if you have more information to provide.

[2013-04-17 12:05] #132 closed, assigned to nobody

[2013-04-17 12:07] dlecan commented on #117
@digitalsanctum  @guetomarini Please, do not hesitate to reopen this issue if you have more information to provide.

[2013-04-17 12:07] #117 closed, assigned to nobody

[2013-04-17 12:18] dlecan commented on #149
Integration tests results on Tomcat:
- 7.0.32: OK
- 7.0.34: OK
- 7.0.35: OK
- 7.0.37: OK
- 7.0.39: OK

I can't find anything in [Tomcat 7 changelog](http://tomcat.apache.org/tomcat-7.0-doc/changelog.html) about a more restrictive servlet loading.

Integration tests rely on [Cargo framework](http://cargo.codehaus.org/), which is not compatible with TomEE yet. So I will have to test it manually.

Do

[2013-04-17 12:49] dlecan commented on #149
Finally, I was able to find it:
https://issues.apache.org/bugzilla/show_bug.cgi?id=54387

It has been included in Tomcat 7.0.35.

[2013-04-17 12:57] programmist commented on #149
That confirms our findings, but it's strange because we tried it on bare Tomcat and it always worked, but Tomee versions higher than 1.5.1 always failed until we copied the JARs from the Tomcat (7.0.34) lib folder to the Tomee lib folder.

I tried it on TomEE
- 1.5.1 final:  OK
- 1.5.2 final:  ERROR
- 1.6.0.beta1:  ERROR
- 1.6.0-SNAPSHOT:  ERROR

`cp -f apache-tomcat-7.0.34/lib/*.jar   apache-tome

[2013-04-17 14:09] dlecan commented on #149
All Tomcat versions and Play2War are OK.

TomEE 1.5.1 [with Tomcat 7.0.34](http://svn.apache.org/viewvc/tomee/tomee/tags/tomee-1.5.1/pom.xml?view=markup) is OK
TomcatEE 1.5.2 [with Tomcat 7.0.37](http://svn.apache.org/viewvc/tomee/tomee/tags/tomee-1.5.2/pom.xml?revision=1459131&view=markup) is KO.

According to [a discussion on TomEE ML](http://openejb.979440.n4.nabble.com/war-file-fails-to-deploy

[2013-04-17 18:49] programmist commented on #149
That's strange.  I built Tomee 1.6.0-SNAPSHOT (trunk) and tried it and it did not work.  I'll try it again.

[2013-04-17 19:19] programmist commented on #149
I tried again on a fresh checkout of 1.6.0-SNAPSHOT and it still fails to load due to the "duplicate mapping."  Here were my steps:

[code]

Wen I look at `apache-tomee-plus-1.6.0-SNAPSHOT/logs/catalina.out` I see the stacktrace.

Am I doing something wrong?

[2013-04-17 19:44] dlecan commented on #149
Probably nothing. 1.6.0-SNAPSHOT has the same issue.
For me, that is a TomEE issue, because it works on a vanilla Tomcat 7.0.39.

[2013-04-24 12:07] dlecan commented on #149
I tried your [sample](http://stupidjavatricks.com/code/helloworld.tar.gz) on TomEE 1.5.1 and 1.5.2: I just get 404 error for the welcome page (http://localhost:8080/), where as exactly the same war works on Tomcat, JBoss and Jetty: `CLASSES FOUND WITH WEBSERVLET ANNOTATION`.

And only one line in browser: `play.core.server.servlet30.Play2Servlet`

What to do in order to make work on TomEE 1.5.1?

[2013-04-24 12:56] programmist opened #150 "jar-exploded mode"
Please consider creating a "jar-exploded" mode which explodes the application JAR to WEB-INF/classes.

[2013-04-25 06:19] dlecan opened #151 "Servlet 2.5 : default timeout should be 60s"
https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/servlet25/src/main/scala/Play2Servlet25.scala#L11 should be raised up to 60s.

[2013-04-25 06:24] dlecan opened #152 "[Servlet 2.5] Throw an exception on lock timeout"

[2013-04-25 07:51] dlecan commented on #148
Documentation is up to date.
https://github.com/dlecan/play2-war-plugin/wiki/Play2War-configuration#target-war-file-name

[2013-04-25 07:51] #148 closed, assigned to dlecan

[2013-04-25 07:52] dlecan opened #153 "Add scalastyle report"

[2013-04-25 09:40] jozic commented on #148
:+1:

[2013-04-25 11:03] yanns opened #154 "play.api.UnexpectedException not logged in tomcat"
see https://twitter.com/simon_yann/status/327329643537502209

play.api.UnexpectedException are logged in play but not in tomcat.

Stack trace in play:

[code]

Stack trace in tomcat:

[code]

[2013-04-25 11:11] dlecan commented on #154
Very strange, all stacktraces are clean, but exception messages are missing ?? "Caused by" too ?

[code]

Can you provide your `logger.xml` file ? (if any)

[2013-04-25 12:14] yanns commented on #154
Thanks for the help.

I found out that the %xException was missing in my logback.xml

Now I can see the cause (with wrong line encoding, but it is a minor annoyance)

Thanks!

For info if it can help someone else:
Before:

[code]

After (as documented in https://github.com/dlecan/play2-war-plugin/wiki/Configuration#configure-logging ):

[code]

[2013-04-25 12:14] #154 closed, assigned to nobody

[2013-04-25 12:20] dlecan commented on #154
What do you mean ?

[2013-04-25 12:22] dlecan commented on #154
Do you mean " %n%message%n was missing" ?

[2013-04-25 12:34] yanns commented on #154
"with wrong line encoding" -> it comes from syslog.
It is not a problem related to play2war nor to logback.

[2013-04-26 14:10] dlecan opened #155 "Comply with open-source license requirements"
Missing:
- [x] LICENSE file
- [x] Header with license
- [x] Automatic verification of header with license

[2013-04-26 15:06] #153 closed, assigned to dlecan

[2013-04-26 15:07] dlecan commented on #153
Done

[2013-04-29 13:09] coupoholics-deploy opened #156 "Outdated import syntax in documentation"
In [Configuration](https://github.com/dlecan/play2-war-plugin/wiki/Configuration) _Import Play2War SBT settings_ section

[code]

This line causes build error while running `play war`, just remove this line to make building success.

(There is already `import play.Project._`, is this one the correct one?)

Tested on Play! 2.1.1 Java project.

[2013-05-01 18:57] dlecan commented on #156
Thanks a lot for reporting that.

I updated the documentation, which was not up to date for Play 2.1.x:
https://github.com/dlecan/play2-war-plugin/wiki/Configuration#import-play2war-sbt-settings

This is the correct import for Play 2.1.x

[2013-05-01 18:57] #156 closed, assigned to nobody

[2013-05-09 19:50] programmist commented on #149
Sorry, I only just saw this.  I specified application.context=/helloworld/, so you should be able to load it from http://localhost:8080/helloworld/

To work with TomEE, just unzip the archive, cd into the directory, and make the files under bin/ are executable (chmod +x bin/*).  Make sure the war is named helloworld.war and place it in the webapps/ directory  run bin/startup.sh (or .bat if Windows

[2013-05-13 08:47] dlecan opened #157 "Support Caucho Resin"
http://cargo.codehaus.org/Resin+4.x

[2013-05-13 17:19] jplehmann opened #158 "Session Cookie Paths are not Root Context"
We are having a problem of Play storing session cookies with a path which is not the root context. I don't know if this is a play2war problem, and I am happy to add additional logging etc, to try to pinpoint the problem, I just don't know what to look for.

We're using Play 2.1.1.  Play2war plugin is 0.9. We do not experience this problem with "raw play" or even when deployed in TomEE, unless TomE

[2013-05-13 19:16] dlecan commented on #158
Ok, that's probably a Play2war's bug.

I don't understand the difference. How can you run TomEE without a VM (JVM ??) ?

[2013-05-13 19:31] jplehmann commented on #158
When running within TomEE on my workstation (OSX) in TomEE, I don't see the problem. But deployed (in a Centos 6.3 VM using OpenJDK) I do see the problem, with the same WAR.

I don't know what difference the VM makes or if that is a red herring. Can you suggest any logging which would help track down the problem? At first we thought the difference was the Apache front-end until we tried hitting To

[2013-05-13 19:49] dlecan commented on #158
Ok, to sum up, cookie handling is ...:
- On standard Play + OSX + Oracle JDK: OK
- On TomEE + Play2war + OSX + Oracle JDK: OK
- On TomEE + Play2war + CentOS + OpenJDK: KO

It will be hard for me to reproduce this issue.

Unfortunately, in Play code, logging is only used to output errors ...
You can lower the "play" logger to "trace" level, in order to see headers dump (including cookie details).

[2013-05-14 13:19] #151 closed, assigned to dlecan

[2013-05-14 13:28] dlecan commented on #149
OK

OK

OK

OK

404 error :(
With Oracle JDK 7, either on TomEE 1.5.1 or 1.5.2.

I can see in logs that "helloworld" app is deployed, but nothing happens. The main Play2War servlet is probably not found by TomEE, which leads to 404 errors.

[2013-05-14 15:43] programmist commented on #149
You can add

to application.conf and then rebuild the war (play war).

You should notice an exception in logs/catalina.out:

You should still get a 404 because of this error.

Edit: You are probably getting this exception now, even without the application.context setting.

[2013-05-15 07:47] yanns opened #159 "Exclude some jars from war"
It should be possible to mark a jar not to be included in the war.

For the moment, it is already possible to make the jar as "provided" and it is not included in the war.

But it is not the solution for the following scenario:
- a jar is provided by tomcat in the general lib
- this jar is needed by play (start or stage)
- this jar should not be in the war, as the classloader would find the jar 2

[2013-05-15 08:53] dlecan commented on #159
Ok, I understand the use case.

This could be done by using a new Key setting, which describes a `Seq[(groupId: String, artifactId: String)]` of dependencies to exclude from the WAR.

Would it be enough to solve this request ?

[2013-05-15 09:00] yanns commented on #159
Yes, it would be enough.
Thanks!

2013/5/15 Damien Lecan notifications@github.com

[2013-05-15 09:06] dlecan commented on #159
Do you need a transitive mecanism ? (much harder !)

[2013-05-15 10:30] yanns commented on #159
Transitive would be perfect yes :)
But I understand it is much harder.

A non-transitive solution would be ok for us.
I'd exclude the dependency from the transitive ones and add it explicitly.

2013/5/15 Damien Lecan notifications@github.com

[2013-05-18 01:04] harid opened #160 "[Tomcat6] Blank page under cygwin"
I am trying to get the HelloWorld sample app shipped with Play 2.1 to build as a WAR file.

When I deploy the WAR file in Tomcat and navigate to localhost:8080/hw/, I get a blank page.

Some info:

[code]

I set application.context=/hw/ in application.conf

[code]

[2013-05-20 19:18] harid commented on #160
Hi,

Can someone comment on what could be the issue here please?

Thanks,
-hari

[2013-05-20 19:31] dlecan commented on #160
What is the version of Play2War ?
Any exceptions in logs ? (this needs to configure a `logger.xml` file as described in documentation).

[2013-05-21 03:35] harid commented on #160
This is play2war 0.9:

[code]

---

I do have a logger.xml as in the documentation:

[code]

---

I don't see any errors in tomcat logs. This is localhost.<date>.log

[code]

---

I do see some errors like the below in catalina.<date>.log while (re)deploying hw.war:

[code]

---

In the tomcat console(tomcat running in foreground), I see:

[code]

---

The application.log is empty.

I did a rawcap

[2013-05-21 07:56] dlecan commented on #160
Did you configure "play.version" system property ?
Otherwise, your application will be packaged with Play 2.0.

If you want ot use Play 2.1.1, you should configure like this:

[code]

[2013-05-22 13:01] jn73 opened #161 "tomcat 6: hangs on shutdown"
After deploying my play2-war bundled application i'm no longer able to successfully shutdown my tomcat 6 (6.0.29). shutdown.sh executes as usual but the tomcat process never dies.

Actually, i'm able to shut it down as long as i haven't hit the play2war servlet with any requests. But after i accessed my app shutdowns will hang.

I've googled it and my guess would be that play2war/play/akka (don't

[2013-05-22 16:17] dlecan commented on #161
Sounds like #108.

Can you post a full thread dump with it hangs ?

[2013-05-22 21:27] jn73 commented on #161
Here's the thread dump:

[code]

[2013-05-23 01:22] harid commented on #160
I made that change as you have it above to use 2.1.1. It is unfortunate the variable is called "play.version" and is not defined by the Play framework. In any case, after that change, I still got the same blank page.

I did a "play clean-all" and things seem a little better in that I get some response atleast but the response is "Action not found"

When I navigate to http://localhost:8080/hw-1.0/,

[2013-05-23 08:00] dlecan commented on #160
Great, Action not found is a Play response :)

`application.context` in `application.conf` should match `http://localhost:8080/hw-1.0` servlet context.

Is it better ?

[2013-05-23 21:53] harid commented on #160
If I have "application.context" defined in application.conf, I get a blank page.

If I don't have "application.context" defined in application.conf, I get the play error("action not found")

Go figure! What is wrong here?

[2013-05-25 19:14] dlecan commented on #160
Can you share your generated war ?

[2013-05-25 20:27] dlecan commented on #158
Can you provide a test case which isolates this issue ?

[2013-05-25 20:45] jplehmann commented on #158
Hi Damien,

I hadn't forgotten about this issue... in fact we are going to have to solve it within the next three weeks one way or the other before our product launch.  However, it may be very difficult to provide an isolated example. I will talk to the others and see what we can do.

Regarding logging, I didn't mean pre-existing logging, but I meant are there any logging messages I could add -- i

[2013-05-25 21:01] #152 closed, assigned to dlecan

[2013-05-26 13:17] #155 closed, assigned to dlecan

[2013-05-27 10:32] chrisie opened #163 "Problems with project containing sub-projects"
I have a Play project which has a dependency from another play project, declared in Build.scala as follows:

[code]

The routes of the module are included in conf/aModule.http.routes in the module project and imported into the main project's routes:

[code]

The problem is that if the module also declares an application router in application.conf (so as to allow also executing it as a standalone a

[2013-05-27 13:58] dlecan commented on #163
I understand the issue.
All play modules have the same compiled structure:

[code]

When `application.conf` have to be loaded, which one to pick up ?

What would be the expected behavior ?

I would like to know how Play itself solve this issue. Can you do `play dist` then:
- extract `dist/your_package.zip`, execute `start` file (Linux or Mac only) and tell here if it's working as expected
- copy/p

[2013-05-28 07:13] chrisie commented on #163
I tried with `play dist` and I have the same problem so I guess this is also a problem with Play and not just with the plugin. I also posted a question on Play's Google Group (https://groups.google.com/d/topic/play-framework/bYRt7feWfEQ/discussion) to see what the people at Play have to say about this.

[2013-05-28 14:17] chrisie commented on #163
I got a reply to my question in Play's Google Group and it turns out that if I start play with `-Dconfig.file=conf/application.conf` then the `application.conf` file I specify is included in the root of the dist zip and the option `-Dconfig.file=`dirname $0`/application.conf` is included in the start script. Is there a way to include this behaviour also in the play2war plugin?

The full dist start

[2013-05-29 03:05] harid commented on #160
Hi Damien,

Please downloaded my generated war from here:
https://dl.dropboxusercontent.com/u/14341561/hw.war

Appreciate your help. I am still getting blank page.

Thanks,
-hari

On Sat, May 25, 2013 at 12:14 PM, Damien Lecan notifications@github.comwrote:

[2013-05-29 15:18] dlecan commented on #160
Your war works perfectly, either on Tomcat 6.0.37 or 7.0.29 (The 'helloworld' application), on Windows XP, Oracle JDK (not JRE).

I just dropped the war into `webapps` then opened `http://localhost:8080/hw/`.

Something may be wrong with your app server.
In your first post, we have written ``...catalina.sh ...` (not `.bat`), but you are running Windows !

[2013-05-29 15:29] harid commented on #160
I am running Cygwin on Windows.

-hari

On May 29, 2013, at 8:18 AM, Damien Lecan notifications@github.com wrote:

[2013-05-29 15:37] dlecan commented on #160
Can you run Tomcat with `startup.bat` ?

[2013-05-29 21:08] harid commented on #160
You are right, it does work perfectly when tomcat is stated using
startup.bat in a CMD window. I guess the real issue is then running under
cygwin. There are plenty of other wars we have that work flawlessly under
cygwin/tomcat.

-hari

On Wed, May 29, 2013 at 8:37 AM, Damien Lecan notifications@github.comwrote:

[2013-05-30 07:23] dlecan commented on #160
Ok, I understand.
I will try to reproduce this issue.

[2013-05-30 09:14] dlecan commented on #66
Fixed

[2013-05-30 09:14] #66 closed, assigned to dlecan

[2013-05-30 12:33] samspycher commented on #157
Wow, Scala, Java, and PHP all in one app!? :D

[2013-05-30 12:47] dlecan commented on #157
@samspycher what do you mean ?

[2013-05-30 12:54] #159 closed, assigned to dlecan

[2013-05-30 12:55] dlecan commented on #159
Documentation: https://github.com/dlecan/play2-war-plugin/wiki/Play2War-configuration#artifacts-to-filter-from-war

[2013-05-30 13:01] samspycher commented on #157
[Resin integrates PHP nicely with Quercus.](http://wiki4.caucho.com/Resin_4_built-in_fast_PHP_support_called_Quercus_:_covers_Java_integration,_JSON_support_and_more)

[2013-05-30 13:22] yanns commented on #159
Thanks!

2013/5/30 Damien Lecan notifications@github.com

[2013-05-30 13:26] dlecan commented on #157
Interesting project, thanks

[2013-06-01 20:33] cjk commented on #13
I'm not understanding this one - does "consume external datasources" mean right now my Play2 app cannot access a Oracle- or DB2-database if I deploy it using this plugin e.g. in Websphere ?

[2013-06-03 12:57] chrisie commented on #163
Is there any update on how I could resolve this issue with Play2War plugin?

[2013-06-03 13:41] dlecan commented on #13
This is a "requirement", that is to say this may be already available but not specifically tested because this issue is still opened.

To be clear: I have never tested Play Framework v2.x app connected to a WAS connection pool (or JBoss one).
But no one has never reported any issue about a such configuration.
You should give it a try!

[2013-06-03 13:43] dlecan commented on #163
Add to your app server starting script: `-Dconfig.file=/a_path_to/application.conf`

[2013-06-03 15:44] cjk commented on #13
Ah, I see, thanks for clarifying. I'll report back about my experience once I've tried this out.

[2013-06-03 20:40] mmalfertheiner commented on #132
I have the same problem. Where you able to solve it?

[2013-06-03 21:01] dlecan commented on #132
@mmalfertheiner no, the reporter didn't give enough informations.
If you have a similar issue, the best is to open a new one.
Thank you

[2013-06-03 21:30] jplehmann commented on #158
We examined the HTTP traffic with Wireshark and discovered that in the broken scenarios, the cookie path is being wrapped with double-quotes.  And apparently this is not valid and some browsers will reject the path and then take the current request path as the cookie path.  This is the exact behavior we see in Chrome and Firefox, but Safari seems more tolerant.

We are currently investigating whos

[2013-06-04 15:30] jplehmann commented on #158
The root cause of the problem was our Tomcat server hardening. We used

[code]

when we run the server on a vm which causes the server to quote the path names. To get around this, we are now setting:

[code]

as well.

A short write up of configuration parameters is at:  http://tomcat.apache.org/tomcat-7.0-doc/config/systemprops.html

Someone else is bound to run into this problem eventually, and

[2013-06-04 15:30] #158 closed, assigned to nobody

[2013-06-04 15:56] dlecan commented on #158
Thank you for theses explanations.

[2013-06-05 07:18] dlecan commented on #161
Hum, I can't find anything helpfull to understand this issue in this thread dump.

Can you provide a simple test case ?

[2013-06-10 18:09] jn73 commented on #161
Sorry for the delay - just came back from a vacation.

Anyway, steps 1-4 in the description should be enough to test. Just make a "play new ..." project, add play2war and package the project. Deploy it in tc6 and try shutting it down.

I do believe the problem is related to akka however. I tried doing something similar using spray.io (also akka-based) and building a servlet/war application. It als

[2013-06-13 14:37] matmsh opened #164 "[Jboss 7.1.1] Conflict between Netty's librairies (Play <-> Jboss)"
I used play2war 0.9  to create anormdemo1.war and playScalaDemo.war, each with an application context. When I deployed them in Jboss 7.1.1 standalone, I get the following error.

[code]

The above problem is mentioned in :
https://issues.jboss.org/browse/IMMUTANT-144

I followed the suggestion in the the above link and removed pojo subsystem from
my standalone.xml.  When start Jboss again,  I no l

[2013-06-15 21:21] matmsh commented on #164
I have found a solution.

In addition to removing pojo subsystem in  Jboss standalone.xml,    in each of my Play application, I added
META-INF/jboss-beans.xml:

[code]

so that the bean name is unique amongst my Play apps.

Please see http://lists.jboss.org/pipermail/netty-users/2011-June/004541.html

[2013-06-17 08:57] SudhaNadchal opened #165 "Help on creating a WAR file for Play 2.1.1 application offline"
Hi,

I'm trying to deploy my Play 2.1.1 project on Tomcat 7 using WAR file. I followed the same steps specified under https://github.com/dlecan/play2-war-plugin except that I did nothing with the "play2-war-plugin-develop.zip" file. I could successfully deploy my application on tomcat and it is up and running. But I learnt that play application tries to download the plugins from online repositorie

[2013-06-17 09:02] dlecan commented on #164
Strange, you are the first one who has issues between Netty's librairies of Play and JBoss ones.

Thank you for the solution.

[2013-06-17 09:02] #164 closed, assigned to nobody

[2013-06-17 11:39] dlecan commented on #165
This "question" is not related to Play2War.
Let me answer it in the Play Google group: https://groups.google.com/forum/?fromgroups#!topic/play-framework/0wQlTUKIU-w

[2013-06-17 11:39] #165 closed, assigned to nobody

[2013-06-18 17:40] ckarle opened #166 "Should request().username() be set by play2war 0.9 if I've set up Tomcat 7 security?"
My playframework 2.1.1 Java application is successfully deployed to Tomcat 7 using play2war 0.9. Our next step is securing the app, at first using basic authentication but we'll need to support any scheme Tomcat supports (say possibly leveraging Spring security). I hoped the play2war would push the username into request().username(), but it's coming up null -- is there configuration detail we're m

[2013-06-19 11:18] dlecan commented on #166
Play is great for development because it has a very good productivity: hot reloading, compiled templates, ...
But, for business world, it lacks a legacy deployment target: common but heavy application servers.

So Play2War has been designed to package Play applications into standard JavaEE WAR files, for production environments. You shouldn't use it in development (or just for testing purpose).
Mo

[2013-06-19 13:28] ckarle commented on #166
Those are great points, and we frequently run straight out of Play as we develop because of those hot compile/reload features.  However, the choice of Tomcat and Spring security is already made by the team that will receive our work, and whatever my team delivers must play nicely there.

Our main need is to capture the id of the authenticated user (just id String, not any more complex object) and

[2013-06-20 09:41] dlecan commented on #166
Grails may fit exactly your needs :)

Anyway, how this could be solved with Play or/and Play2War ?

It is already possible to integrate Spring Security with Play2 applications.
See this sample: https://github.com/JuanManuelCarballo/play-spring-security
This is interesting, because it works with Play deployment model, so it will work with WAR packaging too.

You could also integrate Spring security

[2013-06-20 16:08] #163 closed, assigned to nobody

[2013-06-21 02:31] ckarle commented on #166
Hi Damien

<blockquote>what do you expect ? HttpServletRequest#getRemoteUser() or HttpServletRequest#getUserPrincipal()#getName() filled in this your username ?</blockquote>

Yes, that is what I'm after -- request().username() returns the value from getRemoteUser...  I'm very new to Play, so if I'm missing something please be blunt  :-)  I was assuming I'd need to grab that value and push it into

[2013-06-21 11:22] #150 closed, assigned to dlecan

[2013-06-21 11:27] dlecan commented on #150
See [Play2War-configuration](https://github.com/dlecan/play2-war-plugin/wiki/Play2War-configuration#exploded-mode-for-main-projects-artifact) for configuration.

[2013-06-21 11:42] dlecan commented on #14
Consider this to be done.
Anyone can now filter any dependency thanks to #159

[2013-06-21 11:42] #14 closed, assigned to dlecan

[2013-06-24 14:48] dlecan commented on #52
No one seems to want this feature.

[2013-06-24 14:48] #52 closed, assigned to nobody

[2013-06-24 14:49] dlecan commented on #51
No one seems to need this feature.

[2013-06-24 14:49] #51 closed, assigned to dlecan

[2013-06-24 15:13] dlecan commented on #160
I cannot reproduce this issue: updated Cygwin, Tomcat 6.0.29, [Play2War sample](https://play-war.ci.cloudbees.com/job/Play_2_War_Run_integration_tests_-_211_Play_runtime/ws/sample/servlet25/target/a-play2war-sample-servlet25-1.0-SNAPSHOT.war), under `/p2wsample/` application context.

[code]

It works as expected. Can you try with the same WAR file ?

[2013-06-24 15:14] #39 closed, assigned to dlecan

[2013-06-24 15:17] #115 closed, assigned to dlecan

[2013-06-24 17:54] KevinSheedy opened #167 "Websphere 8.5.5 - models.Customer is NOT an Entity Bean registered with this server"
The app works fine when I run it using `play ~run`
When I try deploying it as a war on Websphere 8.5.5, I get the error message:

[code]

I tried reading the [ebean docs](http://www.avaje.org/static/javadoc/pub/com/avaje/ebean/config/ServerConfig.html#addJar(java.lang.String) regarding where ebean searches for model classes. Based on these, I created the file `APP_HOME\conf\ebean.properties` and s

[2013-06-25 05:10] myliu opened #168 "Use custom configuration files at runtime"
First of all, thanks for providing play2-war-plugin to the Play community!

Currently, I am able to build a war using the plugin, and deploy the application through Tomcat7.  When we deploy the Play application to different environment, we need to use different configuration files.  If we were running play as standalone server in production environment, we would do something like

[code]

Referenc

[2013-06-25 09:23] dlecan commented on #168
Yes !

`-Dconfig.resource=prod.conf` is a JVM configuration parameter :) So you can reuse it for your Tomcat environment.
You can [set `CATALINA-OPTS` or `JAVA-OPTS` with this configuration](www.wellho.net/mouth/2163_CATALINA-OPTS-v-JAVA-OPTS-What-is-the-difference-.html).

[2013-06-26 14:20] dlecan commented on #167
Classloading issue ? Parent_last vs parent_first ?

[2013-07-01 09:11] #168 closed, assigned to nobody

[2013-07-01 10:03] dlecan opened #170 "[Play 2.1.2-RCx] Performance regressions with Scala controllers"
With Play 2.1.2-RCx, an important regression can be seen with Scala controllers:
https://play-war.ci.cloudbees.com/job/Play_2_War_Run_integration_tests_-_212_Play_runtime/3/testReport/