[2013-07-01 14:00] nickcousyn commented on #167
Facing the same issue on Websphere 8.5 Liberty Profile, which seems to be related to an earlier classpath issue.

[code]

[2013-07-01 16:21] KevinSheedy commented on #167
Looks like it's a  [known issue](https://code.google.com/p/reflections/source/detail?r=169) with the reflections jar running on websphere.
It seems to be fixed in version 0.9.9-RC1 of the reflections jar.

Is that a Play issue or a Play2-war issue?

[2013-07-01 16:41] dlecan commented on #167
Neither one nor the other, as you say, that's a Reflections issue :)

You can force Reflections version in your Play projet, in `project/Project.scala` (add the Reflections version you need as a dependency).

[2013-07-03 14:46] dlecan commented on #167
@KevinSheedy @nickcousyn did you try with a newer Reflections version ?

[2013-07-06 19:26] KevinSheedy commented on #167
Just tried reflections-0.9.9-RC1.jar
Looks like the class TypesScanner.java has been dropped from the reflections jar.
Got the following error:

[code]

[2013-07-08 08:41] dlecan commented on #167
TypesScanner  has been removed in [rev 167](http://code.google.com/p/reflections/source/detail?r=167), but it is necessary for Play ([here](https://github.com/playframework/Play20/blob/5fb6ecf6faa58e1d427136240fa745049d2f2813/framework/src/play-java/src/main/scala/play/libs/ReflectionsCache.scala#L35), [here](https://github.com/playframework/Play20/blob/5fb6ecf6faa58e1d427136240fa745049d2f2813/fra

[2013-07-08 11:38] aplikianer opened #171 "tomcat 7.0.39/7.0.42 deployment failed"
Hi dlecan,

i'm new to play framework dev and building a little app as a proof of concept for my company. The app works fine in dev (play run) and prod (play start) mode, but while deploying the play2-war bundled application (as ROOT or in a subcontext), there are some unexpected SEVERE errors (see log file).

Is it a know issue or my fault???

Kind regards
aplikianer
# system

os x: 10.8.4
java:

[2013-07-08 14:11] dlecan commented on #171
Thank you for this precise issue report.

Do you have more traces in other Tomcat log files ? catalina.out, localhost_xxx.log, ...

You can also try this [special JBoss configuration](https://github.com/dlecan/play2-war-plugin/wiki/ConfigurationLoggingJBoss7). Some users have more logs with it.

Theses are [known issues](https://github.com/dlecan/play2-war-plugin/issues/108) with Play, but they ar

[2013-07-09 06:40] aplikianer commented on #171
thx for the quick response

Here are the catalina.out and the localhost_xxx.log

# catalina.out

[code]

# localhost.2013-07-09.log

[code]

[2013-07-09 06:42] aplikianer commented on #171
wrong button clicked :)

[2013-07-09 07:28] aplikianer commented on #171
SOVED! Had an indirect dependency to ehcache 1.1

[2013-07-09 07:28] #171 closed, assigned to nobody

[2013-07-09 09:46] dlecan commented on #170
Play's regression, fixed in 2.1.3.
https://github.com/playframework/Play20/commit/5d82797

[2013-07-09 09:46] #170 closed, assigned to nobody

[2013-07-09 09:47] dlecan commented on #160
Feel free to reopen this issue if necessary.

[2013-07-09 09:47] #160 closed, assigned to nobody

[2013-07-09 09:55] dlecan commented on #166
It's a good idea to find the best way to propagate that ID string (I don't have the test case), and then do a pull-request instead of building your own build of Play2War.

[2013-07-09 09:59] dlecan commented on #161
That's an Akka issue:
https://groups.google.com/forum/#!topic/akka-user/a8GcX2qEm6g
https://www.assembla.com/spaces/akka/tickets/1604-future-threadlocal-leftover#/activity/ticket:

[2013-07-09 09:59] #161 closed, assigned to nobody

[2013-07-09 10:01] dlecan commented on #161
See also:
https://www.assembla.com/spaces/akka/tickets/2672#/activity/ticket:
https://www.assembla.com/spaces/akka/tickets/2479#/activity/ticket:

[2013-07-15 17:45] ronmamo commented on #167
Try using TypeElementsScanner instead of TypesScanner.
If too much of a trouble, it can be brought back in the next release

[2013-07-16 23:27] raulraja opened #172 "GAE support"
Not sure if this a plugin or Play related issue but it seems like the generated exploded WAR's with Servlet 2.5 fail to run on GAE due to use of restricted classes...

2013-07-16 14:25:35.886 [s~play2-test/1.368832958670789026].<stderr>: Failed to instantiate [ch.qos.logback.classic.LoggerContext]
W 2013-07-16 14:25:35.969 [s~play2-test/1.368832958670789026].<stderr>: Reported exception:
C 2013-07

[2013-07-18 14:19] ibusse opened #173 "Play2WarKeys.filteredArtifacts does not work"
[code]

Results in a war that does not contain  junit.junit-4.11.jar  but that now contains a  junit-4.11.jar  ,  so the organization is missing but the jar is still added to the war.

[2013-07-22 23:03] jtal opened #174 "Where does application.conf end up?"
Hello, I am new to play and just started trying to use play2-war plugin.

I'm wondering where application.conf ends up? It doesnt seem everything is inside the war.

Is there any way for me to change config without rebuilding the war?

[2013-07-25 20:22] dlecan commented on #172
Unfortunately, Akka, which the most important part of Play 2.x, can't run on Google App Engine.

More details in this old topic:
https://groups.google.com/forum/#!topic/play-framework/MtWcaaBN14E

[2013-07-25 20:22] #172 closed, assigned to nobody

[2013-07-25 20:24] dlecan commented on #173
Thank you for reporting your issue.

Can you provide a simple test case ?

[2013-07-25 20:29] dlecan commented on #174
`application.conf` file is packaged in `your_project_name_version.jar` located in `your_project_name_version.war!/WEB-INF/lib`.

Play2War supports all standard Play 2.x configuration overloading:
http://www.playframework.com/documentation/2.1.2/Configuration (See _Specifying an alternative configuration file_).

With Play2War 1.x, you can also package your project exploded in `YOUR_WAR!/WEB-INF/cl

[2013-07-25 20:29] #174 closed, assigned to nobody

[2013-07-29 09:16] snowdream opened #175 "Action not found"
Hi dlecan,
  i'm new to play framework dev and building a little app.when i package it in war and deploy to the Apache Tomcat/7.0.40.It shows  "Action not found".as the followings.
![2013-07-29 17 03 40](https://f.cloud.github.com/assets/737958/870458/d372ccc4-f82d-11e2-9149-2883a0333d79.png)
# system

---

Tomcat Version:     Apache Tomcat/7.0.40
JVM Version:    1.7.0_21-b11
JVM Vendor:   Oracle

[2013-07-31 00:49] jtal opened #176 "application.conf contents visible"
I have database user/pass in my application.conf.

If, upon startup, I have incorrect db user or pass, there is, of course, an error.

Unfortunately, in the error it prints some lines from application.conf including the connection info, user, pass.

How do people deal with this?

Is it possible to move the config out of the war altogether?

Is it possible for someone to request and get a copy of m

[2013-07-31 09:51] timscarborough commented on #176
I'm not certain about editing the .conf file that's in the war file, but it's possible to include another .conf file in the application.conf file that is part of your play app. I use that method in multiple deployments. I have an external .conf file in resources folder (I'm running my wars in Jetty), but I believe it just needs to be in the classpath.

[2013-07-31 20:34] jtal commented on #5
Is it possible to customize web.xml? For example, I would like to change the display-name to just be the name of my project. Thank you.

[2013-08-02 02:12] zquintana commented on #83
Which test caused this problem? I am having the same problem

[2013-08-05 13:22] dlecan commented on #176
You should ask Play2 developers.

Play2War supports all standard Play 2.x configuration overloading:
http://www.playframework.com/documentation/2.1.2/Configuration (See _Specifying an alternative configuration file_).

This is a Play2 feature: only resources located in `public` folder can be downloaded.

[2013-08-05 13:22] #176 closed, assigned to nobody

[2013-08-05 13:23] dlecan commented on #175
Why did you configure this ?

[2013-08-06 02:56] snowdream commented on #175
@dlecan because i use servlet 3.0, maybe there is no web.xml.

[2013-08-07 00:46] edonato opened #177 "P2W 0.8.1 + Play 2.0.6 hangs all requests"
I know play 2.0.6 is a very recent release but it seems it's not working with P2W 0.8.1.  When I used P2W 0.8.1 + Play 2.0.4 + Tomcat 7.0.28 everything worked fine, however when I upgraded to Play 2.0.6, every HTTP request, even the simplest ones started to hang indefinitely.

I set log level to trace and the last record logged is:

[code]

Can this be analyzed?

Thanks
Esteban

[2013-08-07 09:15] dlecan commented on #177
Confirmed, something is wrong since Play 2.0.5.

[2013-08-07 14:37] edonato commented on #177
great!!  Thanks for the super fast patch.  Do you know when 0.8.2 will be ready to be use?  Just to plan my upgrade to 2.0.6 and protect against the session injection vulnerability.

Thanks
Esteban

[2013-08-07 14:50] dlecan commented on #177
Fix validated, all integration tests are ok:
https://play-war.ci.cloudbees.com/job/Play_2_War_Run_integration_tests_-_Play_20x/5/testReport/

I will release v0.8.2 in the next hours (it will be announced here).

[2013-08-07 14:50] #177 closed, assigned to nobody

[2013-08-07 14:55] edonato commented on #177
awesome!  Looking forward to hearing the announcement.  Thanks so much

[2013-08-07 16:13] dlecan commented on #177
Play2War v0.8.2 has been published.

[2013-08-07 18:17] edonato commented on #177
Thank you.  I will download it right away and let you know if I find any issue.

[2013-08-09 08:08] dlecan commented on #175
There is no `web.xml` file. Play2War Servlets are loaded via annotations.

Your screenshot shows:
- Loaded URL: `http://locahost:8080/play2/`
- Logs: `For request 'URI: //play2/ ...`

Why double slash before context-path ?

Can you copy/paste your `application.conf` ?

[2013-08-09 10:09] sbarlster commented on #167
I dont mind the TypesScanner dissappearing if there is equivalent functionality available. Can you add something to the reflections lib project homepage describing how you may find all the types that are available? What the TypesScanner provided before. Do we just use the SubTypesScanner(false)?

[2013-08-22 06:42] yanns opened #178 "Streaming download from WS client does not work"
When I deploy the following application as WAR on tomcat 7:
https://github.com/yanns/streamapp

the following streaming URI does not work: /stream/stream3.

The controller for it:

[code]

Started with netty, the streaming works.

[2013-08-22 08:48] dlecan commented on #178
Interesting use case.
Your Play instance acts as a kind of reverse proxy, doesn't it ?

Tomcat hangs or do you have an error message ?

[2013-08-22 09:13] yanns commented on #178
yes

it hangs

[2013-08-22 09:30] dlecan commented on #178
Only /stream3, not /stream or /stream2 ?

[2013-08-22 09:38] yanns commented on #178
2013/8/22 Damien Lercan notifications@github.com

[2013-08-22 09:46] dlecan commented on #178
I will try your test case and reproduce your issue.

[2013-08-22 17:12] benlwong commented on #168
First, thanks for providing this plugin.

Just some feedback.  In certain environment, it might not be possible to change JVM configuration parameter.  It would be nice to have play2war to copy and replace the application.conf with the appropriate one (or some other clever way).

For example, when we run:

[code]

It will build the war and replace application.conf with prod.conf.

[2013-08-23 22:02] benlwong opened #179 "Logging File Specified in logger.xml Ignored"
I followed the instructions to add a logger.xml file in the conf directory.  I provided the following condition:

[code]

When I am running it as a standalone Play app (via IntelliJ IDEA), it is writing it to the proper directory (logs/portal.log).  But when I deployed it as a war file to the TOMCAT server using the plugin, the portal.log file is nowhere to be found. It is still logging to the

[2013-08-26 14:27] dlecan commented on #168
@benlwong It would be better to do that with SBT.
For example, you could extend [default resources with new ones](http://stackoverflow.com/questions/7718850/sbt-task-to-copy-directory) on some conditions.
This should be transparent for Play2War (and compatible with Play2 build itself).

[2013-08-26 14:33] dlecan commented on #179
Does it work with Play2 itself ? (with another environment variable)

[2013-08-26 15:14] benlwong commented on #179
Not sure exactly what you are asking, but if you meant does it work when I simply do the following (from the command line):

[code]

The answer is yes.  Here is the output that shows that the logger.xml file is being picked up:

[code]

But when I run it with the war file in a Tomcat server, it doesn't look like the logger.xml file is being used at all.  I even tried the war file on a new Tomcat i

[2013-08-27 07:37] dlecan commented on #179
What's the name of your project ?

[2013-08-27 12:20] benlwong commented on #179
The name of the project is portal.  However, it was play2sample for a long time until I changed it a few days ago.  I made sure all references to play2sample was changed.  The target name is also portal.

[code]

[2013-08-27 12:45] dlecan commented on #179
Tomcat loads resources (jars) in alphabetical order. So I suspect that `logger.xml` in play_.jar file is found before your one in portal_.jar.

For testing purpose, can you rename your project with a name _before_ "play" ? (petal, mum, a_portal, ...)

[2013-08-28 15:04] benlwong commented on #179
Yep, that's the problem.  I renamed the project to "badboy" and its logger.xml is loading.  So what's the best way to resolve this issue short of changing the name of the war/jar file?

[2013-09-04 14:20] dlecan commented on #179
You can try to package your application in WEB-INF/classes in your WAR thanks to this configuration key: https://github.com/dlecan/play2-war-plugin/wiki/Play2War-configuration#exploded-mode-for-main-projects-artifact

[2013-09-04 14:33] dlecan commented on #173
`Play2WarKeys.filteredArtifacts` doesn't seem to work a all !
It needs more tests.

[2013-09-06 14:36] #173 closed, assigned to dlecan

[2013-09-06 21:19] keithblaha opened #180 "Filtered Artifacts Setting Doesn't Correctly Filter"
Hi, I'm using Play 2.1.1 and Play2War 1.0 but am having some trouble filtering an artifact from the generated war. I have these settings added to my project:

[code]

However, when I explode the generated war I see these two jars in it:

[code]

The problem is that there's a name conflict coming from akka-actor-2.0.1 which is overwriting the ConfigFactory class from com.typesafe.config and crashin

[2013-09-06 21:45] keithblaha commented on #180
So I just noticed this: https://github.com/dlecan/play2-war-plugin/issues/173

Is there a planned release with this fix?

[2013-09-09 14:14] dlecan commented on #175
Any news ?

[2013-09-09 14:14] dlecan commented on #179
Any news ?

[2013-09-09 14:16] dlecan commented on #180
Play2War 1.0.1, as planned in #173.
Until now, this is the only issue planned for this milestone.
Do you need a quick release ?

[2013-09-09 16:01] keithblaha commented on #180
A quicker release would be much appreciated, right now it's a manual
process to fix the war
On Sep 9, 2013 10:16 AM, "Damien Lecan" notifications@github.com wrote:

[2013-09-10 00:26] benlwong commented on #179
Sorry, been distracted with other stuff.  But I am definitely going to
test it and hopefully report back by tomorrow.

Thanks for all your help,
Ben

[2013-09-11 16:55] ricardoMogg opened #181 "Glassfish can't read some files when play2.1.2 project's war is deployed"
When I try to deploy a war to glassfish both 2 and 3 with java 6 or java 7, glassfish stops working.

To reproduce the error. Create a newly built Java project with play 2.1.2, add in plugin.sbt:
`addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.0")`
Then add in Build.scala

[code]

and

[code]

And then deploy to glassfish.

This is wha I get in my glassfish's log:

[code]

[2013-09-11 19:59] benlwong commented on #179
Yeah, I can confirm with the exploded settings, Tomcat is picking up my logging.xml ahead of the Play version.  Everything appears to work as expected.  Thanks so much for all your help!

[2013-09-11 19:59] #179 closed, assigned to nobody

[2013-09-11 20:18] ricardoMogg commented on #181
If I unzip the created war, this files Glassfish complains about in fact are missing.

[2013-09-11 23:14] SagarPhanse opened #182 "logback+Tomcat7+play2.1.3 using play2war plugin using 1.0 version"
Hi,
I am using play2war plaugin on my play 2.1.3 application and deploying it to Tomcat7.
I have my logging configuration in logger.xml as below

[code]

in application.conf, I have commented three lines,

[code]

And that is it,

[code]

And then there is nothing generated, how do I make it create those logs?

Functionality is working fine, it is just that it is not producing any logs.

Can you p

[2013-09-12 05:13] devcommunity opened #183 "AbstractMethodError when added to Play 2.1.4 project"
Having just upgraded to the new Play 2.1.4 release, the war plugin breaks my play project when I add in this plugin, works perfectly if I remove the plugin from the various config files.

Stack:

[code]

[2013-09-12 06:44] kevin-lee commented on #183
I have the same issue.

[code]

[code]

[2013-09-12 09:15] He-Pin opened #184 "upgrade to 2.1.4"
upgrade to play framework 2.1.4

[2013-09-12 09:19] He-Pin opened #185 "error on play update"
using play 2.1.4
added
addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.0")

[code]

[2013-09-12 09:52] dlecan commented on #183
Thank you for reporting this issue.
It's a known regression (for me):
https://groups.google.com/forum/#!msg/play-framework/Mq-rIX38la8/t2xRUCxz9eoJ

No answer from Play dev team.

It's a Scala binary incompatibility issue (2.9.x), a clean recompilation of Play2War plugin would solve this issue with Play 2.1.4
However, it would be incompatible with previous version.

[2013-09-12 09:53] dlecan commented on #180
I will release Play2War 1.0.1 this week-end.

[2013-09-12 09:57] dlecan commented on #181
Thank you for reporting this issue.

Did you filter theses logs ?
Between:

[code]

[2013-09-12 09:58] dlecan commented on #185
Thank you for reporting this issue.
See this duplicated: #183

[2013-09-12 09:58] #185 closed, assigned to nobody

[2013-09-12 09:59] dlecan commented on #184
This is a valid task ;-)
It is blocked by #183.

[2013-09-12 10:01] dlecan commented on #175
I don't have information enough to solve your issue.
Please, reopen this issue if you have more information.

[2013-09-12 10:01] #175 closed, assigned to nobody

[2013-09-12 10:43] devcommunity commented on #183
Whats the best way to do that? I tried to compile and package the latest code but got a build error?

[2013-09-12 12:33] dlecan commented on #183
As described here:
https://github.com/dlecan/play2-war-plugin/wiki/How-to-help#build-and-publish-plugin-and-core-runtime-in-local-repository
- Checkout Play2War source code
- Go in `project-code`
- Run `sbt publish-local`

[2013-09-12 15:52] dlecan commented on #182
This log statement indicates that you have enabled `"com.github.play2war.ext" %% "redirect-playlogger" % "1.0.1"` dependency.

It means that internal Play logger is disabled.
So all you application logs are handled by the log framework of your application server (Tomcat).

[2013-09-12 15:55] dlecan commented on #119
Done.

[2013-09-12 15:55] #119 closed, assigned to nobody

[2013-09-12 15:57] #180 closed, assigned to nobody

[2013-09-12 18:07] ricardoMogg commented on #181
No, I didnt't filter logs. My glassfish log configuration is  the one it has on a fresh install, in fact I just installed it in a vagrant machine to test this war.

The output of the log I gave you is complete ant it is the only clue I have, I'm sorry.

On Sep 12, 2013, at 4:57 AM, Damien Lecan notifications@github.com wrote:

[2013-09-12 20:15] SagarPhanse commented on #182
So what happens to my custom logback appenders in play's logger.xml? are they all ignored?
Will it induce the Tomcat's logging mechanism handle my logs?

[2013-09-15 04:17] He-Pin commented on #183
yes,I can not using this plugin after I upgrade the Play to 2.1.4

[2013-09-16 08:21] #183 closed, assigned to nobody

[2013-09-16 08:42] #184 closed, assigned to dlecan

[2013-09-16 22:36] SamJoan opened #186 "Using version 1.1 as recommended on the front page causes "unresolved dependency""
Hi there,

Apologies if this is a mistake on my side.

My configuration is as follows:

_plugins.sbt_

[code]

_Build.scala_

[code]

calling `play war` causes

[code]

Again, sorry if this is my bad.

Cheers!
Pedro

[2013-09-17 06:17] SimonChong commented on #186
I'm having the exact same issue. Any one?

[2013-09-17 07:12] SimonChong commented on #186
I ended up building it as per

https://github.com/dlecan/play2-war-plugin/wiki/How-to-help

After a lot of sticky tape I got a WAR file.

[2013-09-17 07:54] dlecan commented on #186
Maven Central synchronization is hung for Play2War.
Follow this issue to be notified when Play2War sync process will be ok:
https://issues.sonatype.org/browse/OSSRH-7262

[2013-09-17 16:26] dlecan commented on #186
Issue is fixed (https://issues.sonatype.org/browse/OSSRH-7262?focusedCommentId=200704)
Play2war v1.1 will be available in a few hours.

[2013-09-17 16:26] #186 closed, assigned to nobody

[2013-09-17 21:37] SamJoan commented on #186
Awesome work @dlecan ! Thanks

[2013-09-17 21:41] SamJoan commented on #186
Artifact is definitively there now.

http://search.maven.org/#artifactdetails%7Ccom.github.play2war%7Cplay2-war-core-servlet25_2.10%7C1.1%7Cjar

[2013-09-18 01:14] SimonChong commented on #186
@dlecan Great work thanks !!

[2013-09-18 02:47] He-Pin commented on #184
thanks

[2013-09-18 07:59] He-Pin opened #187 "add change log"
Thanks for the last upgrade to v1.1 for play2.1.4 supporting.
could you just provide and change log page?
thanks again?!

[2013-09-18 12:49] dlecan commented on #187
Changelog is provided through the "release" page of Github:
https://github.com/dlecan/play2-war-plugin/releases/

[2013-09-18 12:49] #187 closed, assigned to nobody

[2013-09-18 12:56] dlecan commented on #182
If you enable "redirect-playlogger" dependency, yes.
If you want to control logging with Play logger, remove this dependency.

[2013-09-18 12:59] dlecan commented on #181
Can you copy/paste the list of librairies embedded in your WAR file ? (in `WEB-INF/lib`) Or attach to this issue a screenshot of `WEB-INF/lib`.

[2013-09-18 14:11] ricardoMogg commented on #181
Yeah, here they are

[code]

[2013-09-18 21:39] SamJoan commented on #83
After a few hours of investigation, it turns out "SEVERE: Error listenerStart" means "Got a fatal exception while trying to initialize your servlet. Please enable futher logging so that I show you the error please, if you would be so kind".

Further logging can be enabled by creating a file in my case at `/var/lib/tomcat6/shared/classes/logging.properties` (YMMV)

[code]

After that it threw a mor

[2013-09-18 22:31] SamJoan commented on #168
Hey,

I agree with @benlwong, since -Dconfiguration.resource how Play Framework oficially recommends you to go around for deploying for several environments:

http://www.playframework.com/documentation/2.0.2/ProductionConfiguration

While I possibly can alter the opts, it's dodgy as to have to do it =)

It would be great to specify the configuration file to include. I.e. only add "prod.conf", rena

[2013-09-20 06:55] tobiasschittkowski commented on #186
Hi!

I have the same problem when using Play 2.2:

I tried

[code]

and get the following error:

[code]

Thank you for your support!
Regards,
Tobias

[2013-09-20 07:29] dlecan opened #188 "Be compatible with Play 2.2"
Play 2.2 is available.

Plugin and Servlets are totally broken by new Play APIs.
- [x] Upgrade SBT plugin
- [x] Use new Play 2.2 APIs
- [x] Multi-projects builds are broken
- [x] Flash cookies are not removed (9512e8a)
- [x] Chunked downloads on Jetty 8 / 9 don't work as excepted (97edd6f)

[2013-09-20 07:31] dlecan commented on #186
@tobiasschittkowski Play2War is totally broken by new Play 2.2 APIs and SBT 0.13 upgrade.
Watch #188 to follow Play2War updates.

[2013-09-20 07:35] tobiasschittkowski commented on #186
Thank you for your quick response!

[2013-09-20 08:34] dlecan commented on #168
@droope

Any contribution is welcome !

[2013-09-23 10:16] He-Pin opened #189 "Unmanaged dependencies are not included in the WAR"
Hi,thanks for your great work
If I have an dependency jar in /lib then when I run play war
the jar file is not include in the built war.
which means that there is no jar which i put in the /lib in the
/WEB-INF/lib

[2013-09-23 10:32] He-Pin commented on #189
fixd via
Embed custom WAR configuration files in WIKI
but i think your may provide an better way

[2013-09-24 19:58] dlecan commented on #189
That's a regression introduced by fix for #173.

[2013-09-25 07:36] He-Pin commented on #189
thanks
I just add the file duplicated just as your wiki says

[2013-09-25 11:54] dlecan commented on #189
Don't close this issue, it's not fixed :)

[2013-09-25 19:16] #189 closed, assigned to dlecan

[2013-09-25 19:19] dlecan commented on #189
Which version of Play2War are you using ?

[2013-09-26 10:04] jensjaeger commented on #188
Hi Dlecan,
any idea when 1.2 will be released?
Thanks
Jens

[2013-09-26 11:55] He-Pin commented on #189
version 1.1

[2013-09-26 12:03] dlecan commented on #189
Ok, I will release Play2War v1.1.1 which fixes this issue.

[2013-09-26 12:09] dlecan commented on #188
No. There is a lot of work to do, I need to analyze this precisely.

[2013-09-26 20:18] dlecan commented on #178
Ok, I can reproduce your issue with your test case. Tomcat hangs after ~20Mbs of download.
But I'm worried because I do not have any clue to understand what doesn't work!
No thread dead lock, nothing I can find in JVM to understand what's wrong.

It just stops downloading... Hey, interesting idea. Download could be stopped by something with an hidden exception and the HTTP communication would stay

[2013-09-26 20:49] jensjaeger commented on #188
Hey Damien,

thanks for your quick reply. Do you have any kind of forecast= Worst case, best case maybe. Just any information would help.

Just had a look into the code. But I was not sure where to start. I will try again tomorrow and give you some feedback if I got any further.

Thanks
Jens

[2013-09-27 06:17] He-Pin commented on #189
I will test it now

[2013-09-27 06:20] He-Pin commented on #189
:: com.github.play2war#play2-war-plugin;1.1.1: not found
@dlecan

[2013-09-27 08:42] dlecan commented on #189
@hepin1989 no released yet

[2013-09-30 17:14] Yoztastic opened #192 "What does it take to get a War from Play 2.1.1 for deployment into Glassfish 4?"
After using this plugin I am unable to run the Play app in Glassfish 4.

See: http://stackoverflow.com/questions/19096352/

[2013-09-30 19:42] dlecan commented on #188
Most of the work is done in [`feature-#188-be-compatible-with-Play-2.2`](https://github.com/dlecan/play2-war-plugin/tree/feature-%23188-be-compatible-with-Play-2.2) branch.

SBT build has been upgraded, now it's time to convert Servlet classes to new Play APIs.

[2013-09-30 19:47] dlecan commented on #189
Play2War 1.1.1 has been released !

[2013-10-01 01:01] He-Pin commented on #189
thanks I will take it a try

何品

On Tue, Oct 1, 2013 at 3:47 AM, Damien Lecan notifications@github.comwrote:

[2013-10-02 15:22] dacresni opened #193 "test report link broken"
on the develop branch's readme page, the hyperlink heavily tested, is broken. (also why is the master branch so far behind?

[2013-10-05 04:59] dlecan commented on #181
This list is right, your war file is ok.
l will try with GF3 and GF4.

[2013-10-05 05:00] dlecan commented on #182
Any news ?

[2013-10-05 05:02] dlecan commented on #192
Probably the same issue as #181.
Can you check your log files ?

[2013-10-05 05:05] #193 closed, assigned to nobody

[2013-10-05 05:06] dlecan commented on #193
Thank you for reporting this broken link.
Master branch is not used anymore, I will remove it some day.

[2013-10-08 17:27] finklang opened #195 "play2war doesn't call ShutdownManager.shutdown()"
We're seeing exceptions like those described in https://groups.google.com/forum/#!topic/ebean/ix5sOX68MsY
where due to timing issue ebean isn't getting shut down correctly - it looks like the solution is to add ShutdownManager.shutdown() to Servlet.destroy(), and from code inspection it doesn't look like play2war's servlet calls this.

I'm not sure if just throwing the method call in there is the

[2013-10-08 18:43] dlecan commented on #195
Thank you for reporting this issue.
Do you think Play itself should call `ShutdownManager.shutdown()` ?

[2013-10-09 17:25] SagarPhanse commented on #182
Hi, when I removed the dependency to the redirect-playlogger, I received an error at the Tomcat Server Start Up
as below,

[code]

Can you please check?

[2013-10-09 21:45] finklang commented on #195
It could, but this problem only shows up when running inside a container (like tomcat), so maybe it best belongs here.

[2013-10-10 15:39] dlecan commented on #182
So you need "redirect-playlogger" extension and logs have to be configured through application server logging system.

[2013-10-13 02:24] jyorajesh opened #196 "Not able to exclude folders while creating a war"
Hi,

Please let me know how I can exclude folders/files while generating a war.

Thanks and Regards,
Jyothi

[2013-10-13 07:45] dlecan commented on #196
What do you mean by "filter" ?
Where are theses folders/files ?

[2013-10-15 12:02] mebibou commented on #168
@droope I'm not familiar with SBT and would like to copy another configuration file while generating the WAR, did you manage to make it work? any help is appreciated :-)

[2013-10-15 22:52] SamJoan commented on #168
no, not at all, abandoned the war plugin and went with `play dist` with different javaopts for each environment.

you can't really do that twice with the same dist, so you have to copy the folder, into two folders.

quite ugly :P

[2013-10-21 06:50] yanns commented on #195
@finklang Do you know why this problem only occurs inside a container and not with Play standalone?

[2013-10-22 16:22] lalloni commented on #54
This solution is not acceptable for many of us since it effectively leaves our app without logging in production!

I think we could leverage the fact that play uses logback and jboss uses log4j to have 2 separate logging configurations in runtime, so play apps log to logback instances with its own configuration and the rest of jboss logs to its traditional log4j backend.

For this to work we would

[2013-10-23 19:30] dlecan commented on #54
Yes it does. However, I'm not sure to understand what you expect from Play2War.

[2013-10-23 19:36] lalloni commented on #54
First of all I was expecting feedback on my ideas (given you have much more knowledge than me on the matter).

Secondly (which I can help to implement) I think this could be accomplished with a "plugin" like redirect-playlogger which instead of voiding play logging configuration would just initialize logback without messing around with JUL or Log4J settings. Would this work?

[2013-10-25 16:37] sigma-wschung opened #197 "JBoss logging stops when deploying play app war"
I am trying to deploy a play 2.1.2 app war file to JBoss 7.2.0. I have followed the instruction to configure loggng in JBoss 7 and added the redirect dependency to Build.scala:

[code]

About half the time during the deployment of this play App with other non-play app, the JBoss server.log stops logging anything after showing this:

[code]

When the server startups correctly, only the line:

PlayS

[2013-10-25 16:44] sigma-wschung commented on #197
I forget to mention that this issue appears to have cause other application to not startup correctly. The play app does startup and is accepting request, although all responses come back as error page. Since there is no log, I cannot tells whether the error is due to the play app or from because of the other app.

[2013-10-30 21:15] finklang commented on #195
Perhaps play stop exits the VM but with a container the VM is still around so threads still stay around?

[2013-10-31 08:25] dlecan commented on #188
Good news guys, we are not far from releasing a beta version of Play2War supporting Play 2.2 runtimes.
Still some bugs, but we need community feedbacks.

[2013-10-31 09:26] yanns commented on #195
I did not find any documentation about this ShutdownManager.shutdown.
Is there any?

When we found out that this method should always be called, then we could add this in the default ebean play plugin.

[2013-10-31 16:39] marcosinigaglia commented on #188
Nice

[2013-10-31 19:03] lalloni opened #198 "Unable to publish produced war file using sbt publish tasks"
We have a play 2.1.5 project on which play2-war-plugin 1.1 successfuly builds a war file.

Then when we try to publish the war artifact using standard sbt procedures the war task starts to fail.

Specifically, when we add the following settings:

[code]

The war task fails printing the following error:

[code]

Remarkably that error is [cited as the reason](https://github.com/dlecan/play2-war-plug

[2013-10-31 21:23] abhinav-maheshwari commented on #188
Thats great dlecan. Is it not possible to build at all to build war using Scala 2.10 / sbt 0.13 right now ? Would be awesome if you can also indicate when will the beta be released, I will act as beta tester.

[2013-10-31 22:18] sigma-wschung commented on #197
After some more tries, it turns out this issue is not related to the non-play app. Just the play app deployed to JBoss is giving the same behavior.

[2013-11-04 01:46] sigma-wschung commented on #197
I notice that the debug level was switched to display some TRACE level output, while when the issue does not happen, the log level stays at INFO. This seem to be consistent with what the two lines of code in play.api.Logger pointed out in #54 that could cause the server.log to stop. I also notice that the class  Logger$$anonfun$configure$1$$anonfun$apply$1 is being loaded by JBoss. I try removing

[2013-11-04 10:51] dlecan commented on #197
Thank you for reporting all these information.

"redirect plugin" provides `Logger` class and object with an empty configuration implementation (compared to Play 2 one). See https://github.com/dlecan/redirect-playlogger/blob/develop/src/main/scala/Logger.scala.
When the redirect plugin is enabled, you should see "Play logs now directly handled by this application server" in logs.

In order to work

[2013-11-04 12:02] dlecan commented on #196
More information to give ?

[2013-11-04 12:02] dlecan commented on #182
Any news on this ?

[2013-11-04 12:10] dlecan commented on #54
Yes, it would work. And the good news for you is that you don't need to depend on a Play2war plugin API. "Redirect-playlogger" is not a plugin or an extension. It's just a collection of classes (`play.api.Logger` Scala class and object) which will supersede play's classes thank to ordered class loading: jars of classes are often loaded in alphabetical order.

So `com.github.play2war.ext.redirect-p

[2013-11-04 12:51] lalloni commented on #54
That's exactly what we did at the time and it worked great!

So now we have an independent log file for each play app and another for
jboss' log.

We managed to setup logback so it writes app's log to jboss' logs directory.

There's still the potential problem that if any dependency would use JUL
directly then that logged events would be routed to jboss's log file. This
has not been the case so fa

[2013-11-08 18:01] abhinav-maheshwari commented on #188
Rohit, my team mate and I have found out a clunky workaround that allows you to build a war file using play 2.2.x. Check it out here - http://play2war.blogspot.com

[2013-11-09 03:51] sigma-wschung commented on #197
I tried starting the server a few times. Every time the log continue without stopping, the line "Play logs now directly handled by this application server" is written out in the log. Every time the log stops, this line is not in the log. It seems clear that the Logger class in the redirect-plugin is not always run and the fact it is not used is the cause of the log being stopped.

I see that the L

[2013-11-12 22:39] kevinmeredith commented on #188
Hi @dlecan - could you please let me know when the official update (play2war supporting Play 2.2.x) will be released?

[2013-11-13 08:51] dlecan commented on #188
?? Where is my comment ?
A beta version of Play2War for Play 2.2 is out for 9 days !
https://github.com/dlecan/play2-war-plugin/releases/tag/1.2-beta1

Really sorry

[2013-11-13 08:58] dlecan commented on #198
We will try to reintroduce this feature for Play2War 1.2 (compatible with Play 2.2).

[2013-11-13 08:59] #196 closed, assigned to nobody

[2013-11-13 09:00] #182 closed, assigned to nobody

[2013-11-13 10:03] dlecan commented on #195
This is definitely a Play's issue, which needs to be fixed in Play itself.

@finklang Can you report a fix yourself in Play's EBean plugin or do you need help for this ?

[2013-11-13 10:03] #192 closed, assigned to nobody

[2013-11-13 10:34] Yoztastic commented on #192
Sorry I thought I had replied. The log file contained nothing at all. It is
not negotiating the route hence the 404.

There is some significant step that I am not doing but I cant find any
documentation.

One thing maybe

I have a routes file under conf in the play application which does its job
fine in stand alone mode.

But there is nothing in the config file for router.

Could this be related d

[2013-11-13 11:19] lalloni commented on #198
Great news!

If you have a clue on what could be causing this I can try to fix it.

While I've been trying to investigate the problem using inspect and friends in sbt, I couldn't figure out what cycle sbt refers to on the error message.

[2013-11-13 13:55] kevinmeredith commented on #188
Thanks, @dlecan , for this library & your quick reply.

After updating my build config to point to this local plugin, are the instructions the same as configuring play2war for Play 2.1.x?

[2013-11-13 14:06] dlecan commented on #188
@kman007us same instructions, same configuration, except Play2war version

[2013-11-13 14:09] dlecan commented on #149
Still a blocking issue for you ? I can reproduce it.

[2013-11-13 15:11] kevinmeredith commented on #188
Pardon my SBT ignorance, but, do I need to simply switch my play_app/project/plugins.sbt from:

`addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.0")`

to

`addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.2-beta1")` ?

That's the name of the unzipped folder, "play2-war-plugin-1.2-beta1"

[2013-11-13 15:20] yanns commented on #188
Yes.

You can check the sample in github:
https://github.com/dlecan/play2-war-plugin/blob/00f3204b8796d943e311c6e1f6822d9eae9cbe39/sample/project/plugins.sbt#L17

[2013-11-13 23:46] programmist commented on #149
Yes, this is still a blocking issue.  Thanks.

[2013-11-21 12:34] dlecan commented on #188
Play2War 1.2-beta2 will be released in the next days. Thanks to @yanns, all known issues are fixed!

[2013-11-22 19:08] paulogaspar7 commented on #167
Missing TypesScanner too. To the point it stops me from upgrading on some of my projects.

[2013-11-25 09:52] dlecan commented on #167
Again, this is a Play issue. You should request an upgrade of Reflections to at least reflections-0.9.9-RC1.

[2013-11-26 22:20] kevinmeredith opened #203 "Can't Deploy to Web Logic 12c"
Hi -

I tried to deploy my play2war-generated WAR to Web Logic 12c with both Servlet 2.5 and 3 versions, but neither worked.

I kept seeing this type of error message in Web Logic:

<Nov 26, 2013 2:24:27 PM EST> <Error> <Weblogic-Validation> <BEA-2156404> <Unable to find a Validation Context. java.lang.RuntimeException: javax.naming.NamingException: String ind
ex out of range: -1

Any ideas on how

[2013-11-27 19:19] viniciusmichelutti commented on #188
Guys, sorry for the ignorance, but how can i configure it in 2.2.1? Do I still needs to create a Build.scala file?

[2013-11-28 12:13] yanns commented on #188
you can use the Build.scala as usual.

If you are using the new build.sbt file, here is an example:

[code]

I hope it helps.

We should extend the documentation for this new configuration.

[2013-12-03 13:10] valdar commented on #168
@dlecan I'm interested in contributing for this feature and adding an osgi mainfest automatic generator.
Can you pleas pointing me in the right direction?
May be some project development documentation; how to build and run test..
Thank you,
Andrea.

[2013-12-03 13:46] yanns commented on #168
@valdar you can check the first steps on the Wiki: https://github.com/dlecan/play2-war-plugin/wiki/How-to-help

[2013-12-03 14:21] valdar commented on #168
@yanns Exactly what I was looking for. I don't know why I hadn't found that page by myself. Thank you!

[2013-12-03 20:37] jensjaeger commented on #188
Is the Play2War 1.2-beta2 already released?

Thanks
Jens

[2013-12-03 20:41] dlecan commented on #188
Yes it is.
But you may encounter some warnings when downloading the SBT plugin because its deployment has failed partially.
Just ignore them, this will be fixed for next release.

[2013-12-03 20:42] dlecan commented on #188
Upgrade to Play 2.2 is done in 1.2-beta2

[2013-12-03 20:42] #188 closed, assigned to dlecan

[2013-12-04 14:30] yanns opened #205 "version 1.2-beta2 package 2 times the root project as jar"
With a multi-modules project like that one:

[code]

the root project is packaged 2 times as jar in the generated war:
- one time as myapp.myapp-1.jar
- one time as myapp_2.10-1.jar

(You can assign this issue to me)

[2013-12-05 10:41] wroblisko opened #206 "Using SecurityContextHolderAwareRequestFilter in Play"
Hi! First of all I want to say you've done a great job with Play2War plugin :)!
My problem is similar to problem mentioned by ckarle in https://github.com/dlecan/play2-war-plugin/issues/166.

I have exisiting main application deployed on Jboss 7 which uses Spring Security. We are developing another smaller app using play, which is deployed on production together with main app using Play2War plugin

[2013-12-05 10:53] valdar commented on #206
Hi,
for the solution 1) have you try to use  Play2War plugin version 1.0.1?
May be that fix the NullPointerException problem.

Andrea.

[2013-12-05 11:12] yanns commented on #206
in an asynchronous environment, you cannot use something like ThreadLocal variables to keep track of the logged-in user. I do not know how spring security context is build, but if it is using a ThreadLocal (what a lot of security framework do), it cannot be used with servlet 3.0.

You should try to write your own play filter (by re-using some parts of Spring's SecurityContextHolderAwareRequestFilt

[2013-12-05 14:12] wroblisko commented on #206
@valdar Thanks for pointing it. I've tried 1.0.1 and NullPointerException has gone, but now the response comes totaly empty. Only think I see now is:

<pre>
ERROR [play] (http--0.0.0.0-8443-1) Play server as not been initialized. Due to a previous error ?
</pre>

Do I have to do something to start it working ? Am I missing something ?

@yanns Yes, your first part is exacly what I have written. Wri

[2013-12-05 21:43] kevinmeredith commented on #203
respectful bump - this plug-in was easy to set up and deploy on Tomcat for me

[2013-12-06 07:50] yanns commented on #206
@wroblisko I do not understand your problem with "same session in both threads"

Did you write a servlet filter, or a play filter?

I meant the last one:
http://www.playframework.com/documentation/2.2.x/ScalaHttpFilters

As an alternative, you can write an play action wrapper:
http://www.playframework.com/documentation/2.2.x/JavaActionsComposition

[2013-12-06 09:25] dlecan commented on #203
Weblogic  is not supported by Play2War. It needs many specific configuration.
If you need Weblogic compatibility, you will have to do it yourself :)

Begin to increase logging.

[2013-12-06 09:56] wroblisko commented on #206
@yanns Thanks for replying! I will do my best to clarify my problem!

Due to the fact that I'm still unable to use play2war for servlet 2.5, I'm still using play2war for servlet 3.0. This, as you have written, causes that Spring security mechanism which uses ThreadLocals doesn't work.

I would like to use play2war for sevlet 2.5 which would allow me to use ThreadLocal set by Spring. I have still p

[2013-12-06 14:33] valdar commented on #206
@wroblisko Have you configured Jboss 7 correctly because out of the box I think that it supports only servlet 3
(maybe deploing this jar: https://repository.jboss.org/nexus/content/repositories/releases/org/jboss/spec/javax/servlet/jboss-servlet-api_2.5_spec/1.0.0.Final/jboss-servlet-api_2.5_spec-1.0.0.Final.jar ?) and did you follow the instructions at https://github.com/dlecan/play2-war-plugin/w

[2013-12-06 15:26] kevinmeredith commented on #203
Thanks for letting me know, @dlecan!

[2013-12-06 15:29] wroblisko commented on #206
@valdar Thanks for replying!

Yes, Jboss is configured properly. In fact, that Play application have already been running on this Jboss, but we came to a moment when we needed SecurityContext or any other information about logged-in user.

About servlet 2.5, as far as I know, servlets 3.0 are fully compatible with servlet 2.5, so we don't need to add any new jar's to Jboss 7 to be able to use serv

[2013-12-12 19:51] craigwblake commented on #198
Hi, I am using the 1.2-beta1 build with a Play 2.2.1 application, and while the war generation works fine I am not sure how to include the war file in the published artifacts.  I expect it does not publish the war due to this issue?  Is there any way to work around the problem?  Thanks!

[2013-12-13 20:50] dlecan commented on #198
@craigwblake what did you try ?

[2013-12-13 20:54] dlecan commented on #149
@programmist Oh, dear, i wrote someting wrong : I **can't** reproduce it.

[2013-12-16 11:51] erkinun opened #207 "Play2War application on tomcat starts a thread local and fails to remove it"
Dec 15, 2013 3:13:48 PM org.apache.catalina.loader.WebappClassLoader checkThreadLocalMapForLeaks
SEVERE: The web application [/appName] created a ThreadLocal with key of type [scala.concurrent.stm.ccstm.InTxnImpl$](value [scala.concurrent.stm.ccstm.InTxnImpl$@4f4c8e7d]) and a value of type [scala.concurrent.stm.ccstm.InTxnImpl](value [InTxnImpl@2345c7ee%28Detached, slot=-1, subsumptionAllowed=true

[2013-12-16 13:16] dlecan commented on #207
Please, look at #108, #171, #161 and especially [this comment](https://github.com/dlecan/play2-war-plugin/issues/161#issuecomment-19216126).

Without more information, it's an Akka/Play issue.

[2013-12-16 14:18] erkinun commented on #207
Thank you for the info. So what is the suggested course of action given this scenario? Does it only effect the shutdown process or it also leaks from the heap memory as well?

[2013-12-18 20:29] craigwblake commented on #198
Added the "Play2WarPlugin.play2WarSettings" and added artifact settings "addArtifact(artifact in (Compile, war), war).settings" along with the servletVersion setting.  Now that I look at it though, it seems that the built in publish tasks are in fact generating and publishing the WAR properly, it's only the aether-deploy task that is not.  So, it seems that is more likely where the problem lies.

[2013-12-20 16:34] ghost opened #208 "Exploded WAR packaging not including "<project>/lib" folder"
Any solution other than adding the libs to the webapp in production? I noticed this after receiving a Scala "ThreadLocal" error when deploying to TOMCAT 7.

Using:
Play 2.1.1
play2-war-plugin 1.0.1
Oracle OJDBC jar

[2013-12-23 15:49] sigma-wschung commented on #197
Here is a simple workaround that I find works. Since the problem is that JBoss is loading the Logger class from the play jar instead of the redirect plugin some time, I unzip the generated war file and the play jar file play.play_2.10-2.1.2.jar and then delete the two class files that have the same package and class name as those in the redirect plugin jar file com.github.play2war.ext.redirect-pla

[2013-12-25 06:08] ghost opened #209 "external setting for database"
Is there any way to set different value for db.default.url without rebuilding WAR?

The situation is that I have full control of my project, and I have to let other to test its pre-compiled WAR with Tomcat7. However, he only has Tomcat7 and I don't know his database configuration. I want just let him change its value by himself.

I know that I can put a web.xml into WAR but I don't know neither ca

[2013-12-25 09:48] valdar commented on #209
You can use the JVM configuration parameter -Dconfig.file=/opt/conf/prod.conf to specify a different application.conf file (with different values of db.default.url).
You can set CATALINA-OPTS or JAVA-OPTS with this configuration parameter.

[2013-12-25 11:21] ghost commented on #209
Thank you for your quick response!

Following your nice instruction, I found the information here:
http://www.playframework.com/documentation/2.2.x/Configuration
(However, this doc doesn't say I can put parameter at JAVA_OPTS or CATALINA_OPTS.)

In my case, this should work nicely, but it affects to all of servlets on same Tomcat, doesn't it?

[2013-12-25 11:21] #209 closed, assigned to nobody

[2013-12-26 09:46] dlecan commented on #208
See #189, it's a know bug of P2W v1.0.x, fixed in v1.1.1.
Unfortunately, this version is only compatible with Play 2.1.4+

Can you upgrade to Play 2.1.4+ ? (not Play 2.2.x)

[2013-12-26 09:52] dlecan commented on #207
This issue has never been reported as a "real" memory leak. When Tomcat shutdowns the container, it considers remaining running threads/threadlocals as potential memory leaks because they are not stopped by the application and it has to stop them itself.
Akka runs like this, and it shouldn't be a problem for a running application.

However, after many hot redeployment (without Tomcat restart), thi

[2013-12-26 15:53] adelarsq opened #210 "Unresolved dependency: com.github.play2war#play2-war-core-servlet30_2.10;1.2-beta3-SNAPSHOT"
The command  "play war" in the sample (play2-war-plugin/sample) didnt work, showing the log:

[code]

Running "last a-play2war-sample-servlet30/*:update" shows:

[code]

It's related with some configuration that I am forgetting?

Setup:
Play 2.2.1
JDK 1.7.0_45 (Windows x64)

[2013-12-26 16:50] dlecan commented on #210
You have to deploy play2war locally before building the sample. For your configuration, in `C:\dev\workspace\play\play2-war-plugin\project-code`, run `sbt publish-local`.

What do you want to do ?

[2013-12-26 19:41] adelarsq commented on #210
Did work! The first time that I executed the command showed a error like from http://stackoverflow.com/questions/18505176/unresolved-dependency-sbt-0-13-0-after-update
Worked after do upgrade from SBT.
I want create a Play application (packaged as a war) to manipule JMS queues inside a JBoss 7 Server.
Thanks @dlecan

[2013-12-26 21:18] #210 closed, assigned to nobody

[2013-12-28 20:44] mountash opened #211 "Play2War can't be installed and run offline"
[code]

[2013-12-29 18:08] mountash commented on #211
Unfortunately it can`t work offline. When running on server with Internet connection all compiled. War created.
Deployed and run on tomcat 6. But when trying to open the url an error appears:

[code]

[2013-12-29 22:52] mountash commented on #211
I thought that may be something with beta version
This is under play-2.1.5 and play2-war-plugin 1.1
In what dependencies play2-war-core-common not found ?

[code]

[2014-01-07 13:52] adelarsq commented on #164
I found another solution. Just need to exclude org.jboss.netty from build (file Build.scala):

[code]

May be usefull for someone else.

[2014-01-09 08:17] dlecan opened #213 "Add a test to check if unmanaged dependencies are handled by the SBT plugin"
An idea:
- Compile an empty custom class (eg.: ClassToCheckUnManagedDependencies)
- Put it in a jar file
- Put it in `common/lib`
- Load this class (or not) in the main controller of the sample
- or (better), add a simple rest service which responses ok/ko if the class is found in the classpath, then call this service from the integration tests

[2014-01-09 08:30] yanns commented on #213
yes, it was my idea too.

Instead of having a custom class in a jar, we can put a text file and load it with Classloader.getResourceAsStream

[2014-01-09 09:07] joesan opened #214 "Classcast Exception with deployment to Glassfish"
I'm deploying the generated war file into Glassfish which results into the following exception:

[code]

I'm sure that I'm using Servlet 3.0.1 API as I have the jar file in the lib folder where my domain is runnning. Any clue as to why this would run into this error?

[2014-01-09 09:13] joesan commented on #214
Looks like this is the root cause for the issue:

[code]

[2014-01-10 13:24] cgrohowski commented on #192
Was this issue ever resolved?  I am having the same issue with a vendor-written application (so I don't have visibility into the source at the moment) with their deployment to glassfish v3.  Same file not found error, and it's looking for a class contained in one of the play jar files in the lib/ folder as if it was exploded into WEB-INF/classes.  Is there any fix for this?  This only happens in o

[2014-01-10 14:16] Yoztastic commented on #192
No. We have placed another question relating to our attempts to get this
working with Glassfish.
https://github.com/dlecan/play2-war-plugin/issues/214

On 10 January 2014 14:24, cgrohowski notifications@github.com wrote:

[2014-01-10 15:02] dlecan commented on #214
As [you have already written](http://www.coderanch.com/t/626627/oa/Error-WebListener-Annotation), `Play2Servlet` annotated with `@WebListener` extends an abstract class which extends itself `HttpServlet` and implements`ServletContextListener`.

Glassfish doesn't seem to be happy with a such hierarchy, I can force "ServletContextListener" implementation in Play2Servlet.
Are you ok this that solutio

[2014-01-10 19:17] joesan commented on #214
Yes can you please add that. I will try to install that in Glassfish and post my findings here.

[2014-01-15 18:02] mdebusschere opened #216 "Custom MANIFEST.MF in war/ subdirectory prevents build from completing"
Using Play 2.2.0 and play2-war-plugin 1.2-beta2, building on Windows 7 & Java 7.

When adding custom file war/META-INF/MANIFEST.MF the following error is seen.

Build fails due to conflict
[trace] Stack trace suppressed: run last *:war for the full output.
error java.util.zip.ZipException: duplicate entry: META-INF/MANIFEST.MF

Notes: providing a custom web.xml files works with servlet 3.0.
When u

[2014-01-20 11:19] adelarsq commented on #114
Are there a way to configure files/folders that are not included (files that are hidden and are not)?

[2014-01-28 21:09] maxsilva opened #218 "How to use container datasource in play 2.2"
Please,

How I would to use a jboss 7 database datasource in my play 2.2 war application?

I had tried so many things but not success! I put a datasource name in persistence.xml
(I have used JPA) but I get `javax.naming.NameNotFoundException` exception.

Thanks in advanced.

Maxwell

Stack trace:

[code]

[2014-01-29 12:43] adelarsq commented on #218
The datasource proconBloqueioDS is defined into JBoss configuration?

[2014-01-29 13:28] haberchuck commented on #198
Publish is working for us with the version 1.2-beta1, but with version 1.2-beta2 it doesn't work.
We get the already mentioned error:

[code]

[2014-01-29 13:33] maxsilva commented on #218
Hi Adelarsq,

Yes, it is. It is used by other java application (common servlet ) with no problem.

[2014-01-29 14:13] dlecan commented on #218
Hibernate is trying to look up Play's internal defintion of your datasource.
Context look up is provided by Tyrex, an in-memory JNDI provider as you can see in your stacktrace:

[code]

You can try to [filter](https://github.com/dlecan/play2-war-plugin/wiki/Play2War-configuration#wiki-artifacts-to-filter-out-from-war) `"tyrex, tyrex"`out of the WAR file then retry.

[2014-01-29 17:27] maxsilva commented on #218
Hi Dlecan,

Thank you. I do it and now is possible to use jboss 7 datasource. However I get a JTA problem ( I think so).

Please, Is possible to use JTA datasource?

stack trace:

[code]

[2014-01-29 18:03] maxsilva commented on #218
Hi,

I found a solution: I put the propertie below in my persistence.xml and all work!

<property name="hibernate.transaction.jta.platform" value="org.hibernate.service.jta.platform.internal.JBossAppServerJtaPlatform"/>

http://stackoverflow.com/questions/7181673/createentitymanager-gives-nullpointerexception

Thanks

[2014-01-29 20:05] dlecan commented on #214
Someone has a similar issue and has submitted a PR: #217

[2014-01-29 20:18] maxsilva commented on #218
No, I was wrong: Is not possible to use JTA yet.
Caused by: java.lang.IllegalStateException: A JTA EntityManager cannot use getTransaction()

Please, Would you have a suggestion?

exception stack trace:

[code]

[2014-01-29 20:21] dlecan commented on #216
Probably fixed by #215, but fix needs to be reported for 1.2.x series.

[2014-01-29 20:29] maxsilva opened #219 "Play 2.2 - Duplicate jar in war"
Hi,

Play war is create two app jar in war /lib: a default.<'app_name'>.jar and <'app_name'>.jar.

For example:

app.war
  -- lib/default.app-1.0.jar
  -- lib/app-1.0.jar

Please, why this occurs?

I have used play2-war alpha2 version.

Thanks

[2014-01-29 20:54] dlecan commented on #218
If you look at [Play's JPA class code](https://github.com/playframework/playframework/blob/2.2.x/framework/src/play-java-jpa/src/main/java/play/db/jpa/JPA.java#L173), you understand it's not possible to use Play + JPA/Hibernate + JTA. You have to remove "JTA" and Play will handle transactions for you.

[2014-01-30 09:01] dlecan commented on #216
Reported in commit 7510a3a

[2014-01-30 09:01] #216 closed, assigned to nobody

[2014-01-30 09:02] dlecan commented on #205
Fixed by #212

[2014-01-30 09:02] #205 closed, assigned to yanns

[2014-01-30 09:04] dlecan commented on #219
Duplicated by #205

[2014-01-30 09:04] #219 closed, assigned to nobody

[2014-01-30 09:23] dlecan commented on #208
Will be included in 1.0.2 for Play 2.1.0 to 2.1.3

[2014-01-30 09:23] #208 closed, assigned to nobody

[2014-01-30 10:02] dlecan commented on #208
Play2War v1.0.2 with a fix for this issue is out!

[2014-01-30 10:02] dlecan commented on #205
Play2War v1.2-beta4 with a fix for this issue is out!

[2014-01-30 10:03] dlecan commented on #216
Play2War v1.2-beta4 with a fix for this issue is out!

[2014-01-30 14:30] maxsilva commented on #218
Ok, thank you very much.

[2014-01-30 14:32] maxsilva opened #220 "How to get alpha4 binary version ?"
Please,

Is there a plugin alpha4 binary version (jars) in any repository?

Thanks

[2014-01-30 14:39] dlecan commented on #220
1.2-beta4 is available in Maven Central and Sbt Plugin repository.

[2014-01-30 15:07] maxsilva commented on #220
I don´t understand. Seems that is all ok but play doesn´t get download plugin:

Please, would you help?

[code]

[2014-01-30 15:20] dlecan commented on #220
The link http://dl.bintray.com/sbt/sbt-plugin-releases/com.github.play2war/play2-war-plugin/scala_2.10/sbt_0.13/1.2-beta4/ivys/ivy.xml works perfectly for me.
May be you can try to enable debug logging in SBT (put `logLevel := Level.Debug` in `conf/plugins.conf` instead of `logLevel := Level.Warn`)

[2014-01-30 17:04] maxsilva commented on #220
Ok, thank you. Maybe the corporation proxy is blocking that domain/url.

[2014-02-03 14:57] dlecan commented on #218
Finally, does it work ?

[2014-02-03 14:57] #214 closed, assigned to nobody

[2014-02-03 14:58] dlecan commented on #211
Still an issue for you ?

[2014-02-03 14:59] #207 closed, assigned to nobody

[2014-02-03 15:00] dlecan commented on #206
@wroblisko Do you still have an issue ?

[2014-02-03 15:01] dlecan commented on #195
If you have more information, do not hesitate to reopen this issue.

[2014-02-03 15:01] #195 closed, assigned to nobody

[2014-02-03 15:01] dlecan commented on #203
If you have more information, do not hesitate to reopen this issue.

[2014-02-03 15:01] #203 closed, assigned to nobody

[2014-02-03 15:02] dlecan commented on #220
If you have more information, do not hesitate to reopen this issue.

[2014-02-03 15:02] #220 closed, assigned to nobody

[2014-02-03 15:03] dlecan commented on #13
Users have reported that it works, when JTA is disabled.

[2014-02-03 15:03] #13 closed, assigned to dlecan

[2014-02-03 15:04] dlecan commented on #166
@ckarle Any news ?

[2014-02-03 15:05] dlecan commented on #128
Any news ?

[2014-02-03 15:08] dlecan commented on #198
Does it work with Play2War 1.2-beta4 ?

[2014-02-03 15:37] wroblisko commented on #206
@dlecan We have made a workaround (for my primary problem) by passing certain information (about logged in user) in "smarter" Request object. Thus I didn't try to solve problem with uninitialized Play server..

[2014-02-03 15:38] haberchuck commented on #198
Sorry, it's not working with the 1.2-beta4 too.
Again:

[code]

[2014-02-03 16:09] maxsilva commented on #218
Yes, It work but without JTA.

[2014-02-03 16:55] #218 closed, assigned to nobody

[2014-02-03 16:57] dlecan commented on #113
Current Play architecture doesn't allow such improvement.
Sorry.

[2014-02-03 16:57] #113 closed, assigned to dlecan

[2014-02-03 16:58] dlecan commented on #95
Done by #204

[2014-02-03 17:11] dlecan commented on #206
This message is raised for the same reason as the previous `NullPointerException`: your Play server is not started, but the servlet container itselft has started!
If an exception is thrown during Play server initialization, the servlet container start should fail too. So I don't understand.

Can you try with a later version of Play2War ? Can you report a separate issue for this?
Thank you.

[2014-02-03 17:19] dlecan commented on #26
JBoss package is too heavy for automation.

[2014-02-03 17:19] #26 closed, assigned to nobody

[2014-02-03 18:32] mountash commented on #211
Yes,
I didn`t try the beta3 and beta4 but when running the war on Tomcat 6
the issue appeared.
03.02.2014 18:58, Damien Lecan:

##

С уважением,
Сергей Золотов

[2014-02-03 20:03] dlecan commented on #211
I see several issues in your bug report:
- Play2War can't run offline
- `UnsatisfiedLinkError` with Akka on IBM J9 JVM. It's an [Akka issue](https://groups.google.com/forum/#!msg/akka-user/0Z-9_Bmt8p4/Xlg8jsoqvkMJ)

About Play2War that can't be run offline, can you precise the test case ?
Thank you.

[2014-02-03 20:58] mountash commented on #211
I downloaded play. Unpacked it. Downloaded play2war-plugin play2-war-core-common 25-servlet jars. Created directory structure in play/repository/local for play2war.
When running and compiling app under play console everything is fine.
When trying to create war file a message recieved: play2-war-core-common not found in dependencies!

[2014-02-04 00:07] cgalpin commented on #128
Sorry we never moved forward with it and I no longer work there so don't even have access to any of it anymore.

[2014-02-04 10:24] dlecan commented on #128
Thank you

[2014-02-04 10:24] #128 closed, assigned to dlecan

[2014-02-05 20:09] dlecan commented on #211
Some SBT/ivy2 metadata must be missing from your manual packaging.
Is it possible for you to let SBT download Play2War from Internet then package the Play repository ?

[2014-02-05 20:50] dlecan commented on #178
I tryed with your test case, upgraded to Play 2.2.
Bad news, `/stream3` hangs with Netty too (Ubuntu + OpenJDK 1.7.0_51 64 bits). So I didn't try with Tomcat.

Can you try too ?

[2014-02-05 21:47] #213 closed, assigned to nobody

[2014-02-06 10:23] mountash commented on #211
No, unfortunately server has no access to public repositories.
But I found a way out. I packaged Play on another server and then copied the play2war cache to the one, which has no access, and it worked.

[2014-02-06 16:45] akuklev opened #221 "Perfectly valid Play 2.2.1 appliction does not run on Tomcat 7."
Our Play 2.2.1 application (a multi-module one) perfectly starts via play run and play start, however if we make a servlet container for Tomcat7 with play2-war-plugin 1.2-beta4 or beta2 or beta3, it doesn't work at all. Tomcat (7.0.27) says only this:

[code]

[2014-02-06 16:56] yanns commented on #221
Is it a java or Scala application? Could you provide sample coffee that reproduces this error?

[2014-02-06 17:11] akuklev commented on #221
It's a Java application, I'll be able to provide code on monday.

On Thu, Feb 6, 2014 at 5:56 PM, Yann Simon notifications@github.com wrote:

[2014-02-11 01:26] keithblaha opened #222 "Run war app in dev mode"
I was wondering if it's currently possible to run the war'd play application in dev mode while it's in tomcat, and if not what would have to be done to make it be possible... this would make it easier to debug and develop

[2014-02-14 14:09] dlecan commented on #222
"Mode.Prod" is hard coded. Why not let this be configured in `Build.scala`. Don't forget to put "Mode.Prod" for releases.

Will you switch this manually ?

[2014-02-14 14:10] dlecan commented on #221
Any code ?

[2014-02-14 14:10] dlecan commented on #211
Cool.

[2014-02-14 14:10] #211 closed, assigned to nobody

[2014-02-14 14:12] dlecan commented on #178
@yanns can you try with a pure Play 2.2.x projet ? (see my pull request)

[2014-02-14 14:12] #206 closed, assigned to nobody

[2014-02-14 23:21] keithblaha commented on #222
It'd be nice if it defaulted to prod mode, but an application.conf option could override. Setting it in `Build.scala` would also work fine

[2014-02-15 09:50] yanns commented on #178
@dlecan thanks for your pull request!

Your experience is very confusing, because the /stream3 is working on my machine, and I have the same configuration as you (Ubuntu + OpenJDK 1.7.0_51 64 bits).

I tried it with tomcat, and it is working as well.
It is at the same time good news (it is now working with netty and tomcat) and bad news (why do you experience something different?)

If you can, you

[2014-02-17 22:23] jroper opened #223 "Don't write to servlet output stream in a trampoline context"
As far as I can see, this write:

https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/common/src/main/scala/play/core/server/servlet/RequestHandler.scala#L209

and this write:

https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/common/src/main/scala/play/core/server/servlet/RequestHandler.scala#L260

Writes to the servlet output stream in a trampoline c

[2014-02-18 08:12] yanns commented on #223
@jroper thanks for the code review!
I was wondering myself if the current code was right.
You've anticipated my questions. ;)

[2014-02-18 11:07] dlecan commented on #223
Several issues have already been reported by users about "application hangs". They might be related to this excellent code review. Thank you!

[2014-02-18 15:24] azuken opened #224 "Exploded Jar function doesn't work"
I use Play 2.2.1 with Scala 2.10 and sbt 0.13.1. Play2War plugin works fine, but I want to get my custom conf after have deployed war.

So I've set Play2WarKeys.explodedJar := true, but nothing happends : Play project jar is in lib directory, but no classes directory

(I use a Build.sbt, not Build.scala)

Play2War version : 1.2-beta4

[2014-02-18 16:32] dlecan commented on #224
You're right, that's a regression.

[2014-02-18 20:04] feni8888 opened #225 "Play 2.2.1 - play2-war-plugin - 1.2-beta4 (not found)"
[code]

[2014-02-18 20:34] feni8888 commented on #225
added this in plugins.sbt, still same error:

resolvers += Resolver.url("sbt-plugin-releases",url("http://repo.scala-sbt.org/scalasbt/sbt-plugin-releases"))(Resolver.ivyStylePatterns)

[2014-02-18 20:42] dlecan commented on #225
What about [http://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.github.play2war/play2-war-plugin/scala_2.10/sbt_0.13/1.2-beta4/ivys/ivy.xml](http://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.github.play2war/play2-war-plugin/scala_2.10/sbt_0.13/1.2-beta4/ivys/ivy.xml) in your browser ?

[2014-02-18 20:44] feni8888 commented on #225
I can open the link in my browser.

[2014-02-19 03:54] feni8888 commented on #225
do i need to modify my resolver in plugins.sbt?

this is the content of plugins.sbt

[code]

[2014-02-19 08:27] azuken commented on #224
It will be corrected soon ? (next release ?)

[2014-02-19 09:49] dlecan commented on #225
Are you behind a proxy ?

[2014-02-19 09:50] dlecan commented on #224
I hope so.
Sure, it will be fixed for 1.2. So probably for next 1.2 beta.

[2014-02-19 13:36] feni8888 commented on #225
yes, but i don't see any error on proxy with logLevel := Level.Debug.
Also i can get to http://repo.scala-sbt.org/scalasbt/sbt-plugin-releases/com.github.play2war/play2-war-plugin/scala_2.10/sbt_0.13/1.2-beta4/ivys/ivy.xml on my browser

[2014-02-19 13:39] yanns commented on #225
Have you configured sbt to use your proxy:
http://stackoverflow.com/questions/13803459/how-to-use-sbt-from-behind-a-proxy
"Dhttp.proxyHost=yourserver -Dhttp.proxyPort=8080"?

[2014-02-19 20:56] feni8888 commented on #225
yes, still the same after configuring proxy.

[2014-02-19 20:57] feni8888 commented on #225
do you have sample war file and default web.xml I can look at? I'm contemplating using ant build as I'm running out of time.

[2014-02-19 22:18] feni8888 commented on #225
tried a diff proxy server and it's working now :) closing this.. thanks guys!

[2014-02-19 22:58] jroper commented on #223
I didn't do an overly comprehensive review here.  It's important to understand exactly what calls in the servlet API can block (some are surprising), given that you're probably more familiar with the code than I am it would also be good if you did a careful review.

For the servlet 2.x implementation (I don't know how interested you are in making that as good as it could be), the best thing to do

[2014-02-20 13:43] eloo opened #226 "Localization is not working"
Hello,
i deployed my Java Play 2.2 application with your plugin. Now i run it on Tomcat7(Servlet 3.0), but there seems to be a bug with the localization files.
It seems that the framework doesnt find mit Messages.en-US and Messages.de-DE files.
So the @Message commands in my views arent working.
Any suggestions?

Thanks for your great work!

[2014-02-20 15:25] yanns commented on #223
2014-02-19 23:58 GMT+01:00 James Roper notifications@github.com:

But I am much more interested in getting the async IO with servlet 3.1
before, although it is not so easy, as I am finding bugs in containers. The
specification is not precise enough in this area.

[2014-02-21 12:51] dlecan commented on #223
We used to have issues with reading inputstreams thanks to enumerators (request hangs).
`Enumerator.fromStream(is).andThen(Enumerator.eof)` for eg. Reading the stream in the memory was a way to solve theses issues.
#169 was a proposal to improve this, but was not integrated into main branch.

[2014-02-21 12:55] dlecan commented on #226
Can you provide a test case ?

[2014-02-22 10:40] eloo commented on #226
In this zip you can find a view where i call @Messages and my messages.en-US file
As you can see i already tested some changes like using "_" instead of ".".
But the result is everytime the same.. is see the key of the message instead of the value.
http://www.xup.in/dl,14051094/Messages.zip/

If you need more just let me know..
Maybe I can build you a war and provide source and war in the next few

[2014-02-24 10:29] kwanchanok-wc opened #227 "ERROR deploy with tomcat 7"
i deploy in tomcat 7 and error 404
and i look in log file found this error
Error this :

[code]

build.scala

[code]

[2014-02-24 10:45] dlecan commented on #227
Which Play version ?
Which Play2War version ?
What is the content of `<WAR_FILE>!/WEB-INF/lib` ?

[2014-02-24 10:49] kwanchanok-wc commented on #227
Play version - 2.2.2-RC2
Play2War version 1.2-beta4
What is the content of <WAR_FILE>!/WEB-INF/lib ==> has jar file

note =>i can deploy on tomcat6

[2014-02-24 11:44] kwanchanok-wc commented on #227
I can solved it already. ^^
I remove web.xml in folder WEB-INF and my web application can use

[2014-02-24 11:48] dlecan commented on #227
You're right, you shouldn't have a `web.xml` file with servlet 3.0 container configuration.

[2014-02-24 11:48] #227 closed, assigned to nobody

[2014-02-24 18:36] feni8888 commented on #225
in linux server, it is now generating with the same error, even with this defined in profile:

export HTTP_PROXY=http://hostname:portnumber of the proxy server

[2014-02-24 18:46] feni8888 commented on #225
also tried
export JAVA_OPTS=-Dhttp://proxyHost=hostname -Dhttp.proxyPort=8080

did not work :(

[2014-02-24 19:45] feni8888 commented on #225
redo the whole project in my local before redeploying everything to linux.. working now..

[2014-02-24 19:45] #225 closed, assigned to nobody

[2014-02-28 10:40] bharath12345 opened #228 "support for wildfly 8"

[2014-02-28 10:44] bharath12345 commented on #228
I can contribute for Wildfly8 support. Not new to scala or play but new to sbt plugin dev. Presently reading your code.

[2014-02-28 10:56] dlecan commented on #228
Is it presently working with Wildfly ?
If not, any issues to raise ?

[2014-02-28 12:29] bharath12345 commented on #228
I created the basic Scala app with "play new". On deploying the WAR in Wildfly I get the exceptions pasted below. The version info -

Play - v2.2.1
Play2War plugin - 1.2-beta4
Wildfly - 8.0 Final

Exceptions - (my app name is _fordoc_)

[code]

This is followed by some more info -

[code]

Please note -
- I am running Willfly in standalone-full deployment mode
- While building the WAR I got the fo

[2014-02-28 12:32] bharath12345 commented on #228
Looks like the @Inject annotation is causing the problem which comes from Google Guava lib packaged in the WAR's WEB-INF/lib

[2014-02-28 16:21] allnash opened #229 "logger.xml settings not correctly applied"
Here is my logger xml.file
1. http://www.playframework.com/documentation/2.0/SettingsLogger
1. application conf. logger is set to defaults

logger.root=ERROR
logger.play=INFO
logger.application=DEBUG
1. Build.scala

import sbt._
import Keys._
import play.Project._
import com.github.play2war.plugin._
object ApplicationBuild extends Build {
    val appName         = "app"
    val appVersion      = "

[2014-02-28 16:22] allnash commented on #229
Oh I am using 1.2-beta4

[2014-03-03 10:40] dlecan commented on #228
As usual for JBoss, you should isolate the WAR classloader. Play runtime must use WEB-INF/lib jars first (then delegate to parent's classloader).

Look at https://docs.jboss.org/author/display/WFLY8/Class+Loading+in+WildFly I think.

[2014-03-03 15:05] bharath12345 commented on #228
Sorry, my bad. The problem got fixed after I followed your advise. Here is what I did -
- created a new slot in JBoss for Guava 14.0.1
- added a jboss-deployment-structure.xml to use this slot of guava
- excluded guava from getting packaged by Play2War

My Play2 UI shows up absolutely clean on Wildfly :-). Thank you!

[2014-03-03 15:05] #228 closed, assigned to nobody

[2014-03-05 11:47] ruicnsilva opened #230 "Subclassing is not longer supported in Ebean (Play 2.2.1)"
Hi all!

Whenever I try to start Tomcat I'm getting the following exception on localhost.log file:

[code]

I'm not having any issue when I start the server using Play's start script.
Any suggestions?

Thanks

[2014-03-06 10:08] dlecan commented on #230
EBean classes need to be enhanced to work correctly.
When I read [that](https://groups.google.com/forum/#!topic/play-framework/PJ_QB9apCNc) or [that](https://groups.google.com/forum/#!msg/play-framework/wwKnOGyD2zc/uYMoKl3Jea0J), I understand EBean enhancer doesn't work with packaged classes, such as in a WAR file.

Is it a Play2War or EBean bug ? I don't know.

[2014-03-11 00:22] pasamio commented on #197
I ran into a similar problem and the solution provided by @sigma-wschung worked properly. Thanks!

[2014-03-13 11:06] poornerd opened #231 "how to configure play2war with just build.sbt for Play 2.2.1"
I just created a new Play 2.2.1 project.  It has a build.sbt - but no Build.scala.

If I add the imports from the config instructions to the build.sbt, I get an error. I tried adding it as a plugin, in the plugina.sbt like this, then the error with the include and parameter in the build.sbt go away, but "play war" doesn't do anything:
    addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "

[2014-03-13 17:06] sebastianwe7 opened #232 "play 2.2.2"
Hi,

is there any plans to support play 2.2.2 ?

thanks

[2014-03-13 17:10] yanns commented on #232
The version 1.2-beta4 works with 2.2.2.
Or do you have any problems with it?

2014-03-13 18:06 GMT+01:00 Sebastian notifications@github.com:

[2014-03-13 17:32] sebastianwe7 commented on #232
following the instructions, I cannot find the Build.scala. After google for a while, it looks like the Build.scala was a file used by older versions of the play framework...

As a work around I copied a Build.scala from another project (as explained http://play2war.blogspot.in/) which made it works... but the war generated is not showing the right page... and as I'm very new to the play framework,

[2014-03-13 19:44] poornerd commented on #232
1. Add this to your plugins.sbt:
   addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.2-beta4")
2. Add this to the top of your build.sbt:
   import com.github.play2war.plugin._
3. Add this at the end of your build.sbt: (yes with the line between them, and the servlet Version you need).
   Play2WarPlugin.play2WarSettings

   Play2WarKeys.servletVersion := "2.5"
4. Run "play war" and when

[2014-03-13 19:44] poornerd commented on #231
Ok, that was almost...  this works:
1. Add this to your plugins.sbt:
   addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.2-beta4")
2. Add this to the top of your build.sbt:
   import com.github.play2war.plugin._
3. Add this at the end of your build.sbt: (yes with the line between them, and the servlet Version you need).
   Play2WarPlugin.play2WarSettings

   Play2WarKeys.servletVersion

[2014-03-13 19:52] yanns commented on #232
I extended the documentation to support build.sbt as well:
https://github.com/dlecan/play2-war-plugin/wiki/Configuration

Please check if it is easier to understand.
Feedback welcome!

2014-03-13 20:44 GMT+01:00 Brian Porter notifications@github.com:

[2014-03-13 19:53] yanns commented on #231
I extended the documentation to support build.sbt as well:
https://github.com/dlecan/play2-war-plugin/wiki/Configuration

Please check if it is easier to understand.
Feedback welcome!

[2014-03-13 21:23] poornerd commented on #231
Thanks @yanns

[2014-03-13 21:23] #231 closed, assigned to nobody

[2014-03-14 09:41] sebastianwe7 commented on #232
thanks for that poornerd and yanns.

Following your new sbt instructions I was able to create a new application from scratch, create a war and deploy it in tomcat 7 (just copying it).. without any errors... in under 2 minutes ... fantastic !

the only part missing is to be able to see the same page that I see running "play run "(localhost:9000/ shows the default template while localhost:8080/my-ap

[2014-03-14 10:07] yanns commented on #232
you will see the same page with play if you'd start play in production mode
(play start instead of play run)

2014-03-14 10:41 GMT+01:00 Sebastian notifications@github.com:

[2014-03-14 10:11] sebastianwe7 commented on #232
cool... great... thanks you for that !

[2014-03-14 10:11] #232 closed, assigned to nobody

[2014-03-14 21:32] benlwong opened #233 "[1.2beta4] Play2WarKeys.explodedJar doesn't work"
As far as I can tell, the Play2WarKeys.explordedJar option doesn't work in 1.2beta4 when it is set to true.  I looked into the war file and it is still build as a jar.

Let me know if you need further info.

Thanks,
Ben

[2014-03-14 21:37] benlwong commented on #233
Same issue as #224.  I didn't see that issue until now.  This is kind of critical as I relied on it being exploded due to this issue I raised earlier in #179.

[2014-03-14 21:39] benlwong commented on #229
Wild guess, might have to do with this issue #179.

[2014-03-18 12:02] dlecan commented on #233
Duplicates #224

[2014-03-18 12:02] #233 closed, assigned to nobody

[2014-03-19 14:35] yanns commented on #198
A workaround is to keep the war and the publish separated:

[code]

With that configuration, your must first generate the war and then call publish.

[2014-03-20 13:36] sebastianwe7 opened #234 "Question: 2 WARs, same tomcat, different config ?"
Sorry for abusing  this bug system for asking a question, but I could not find a mailing list ...

we need to deploy multiple play apps  on the same tomcat, and each one needs to use different configuration  (different DBs, etc...). If we use the -Dconfig.resource (or config.file) as suggested by http://www.playframework.com/documentation/2.2.x/Configuration will work BUT, all the apps will share

[2014-03-20 13:53] valdar commented on #234
Hello,
by defualt it is used the conf/application.conf;
as a workaround you can try to ave the config file named that way for all aplications,
I mena: evry aplication has to use conf/application.conf as his config file.

I'm develpoing a features that will permit to specify an alternative config file name during creation of the war; then the package process will package that config file as conf/ap

[2014-03-20 16:50] sebastianwe7 commented on #234
thanks for that valdar. Is there any way that I can subscribe to that feature that you are developing ?

[2014-03-20 18:36] valdar commented on #234
Unfortunatly , it isn't.
When it is finished I'll fill a pull request.
But I don't know if it will be acepted, it is also based on an old version of the plugin (the one that I have used since the first day with play2-war-plugin).

[2014-03-20 18:40] yanns commented on #234
On Mar 20, 2014 7:36 PM, "Andrea Tarocchi" notifications@github.com wrote:

Do not hesitate to make a pull request, we will adapt it if necessary (or
help you to do that).

Every contribution is welcome!

[2014-03-20 21:05] dlecan commented on #198
Great workaround Yann :+1:

[2014-03-21 08:55] sebastianwe7 commented on #234
that's great. I'm closing it as it is not a bug. Thanks !

[2014-03-21 08:55] #234 closed, assigned to nobody

[2014-03-21 10:04] sebastianwe7 commented on #234
just to complete this thread, I've add this line to the end of applocation.conf, as explained in https://github.com/marconilanna/play-bootstrap/blob/master/conf/application.conf#L71

include "local.conf"

now, I can put that file in any tomcat classpath and it works !!! so  we won't need that plugin.

[2014-03-21 10:13] valdar commented on #234
On Thu, Mar 20, 2014 at 7:40 PM, Yann Simon notifications@github.comwrote:

Do I need to create a fake play project and invoking the task some how?

[2014-03-21 10:28] yanns commented on #234
2014-03-21 11:13 GMT+01:00 Andrea Tarocchi notifications@github.com:

There are 2 possibilities:
- you can use a fake play project as you mentioned. The play-war-plugin has
  for example sample for this:
  https://github.com/dlecan/play2-war-plugin/tree/develop/sample
- you can use the scripted test plugin. For that, I think you still need a
  fake play project. For info: http://eed3si9n.com/testi

[2014-03-25 10:11] tru3d3v opened #237 "Error play war"
Hi dlecan,

i have an error when play war, the error message is:

[code]

Advice me please.

Best Regards

Muchlis

[2014-03-25 10:14] yanns commented on #237
Same problem as here: https://github.com/dlecan/play2-war-plugin/issues/225 ?

[2014-03-25 13:01] dlecan commented on #237
Wrong version : `v1.2-beta4` instead of `1.2-beta4` (notice `v`).

[2014-03-25 13:07] tru3d3v commented on #237
plugins.sbt

addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.2.2")
addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.2-beta4")

is it right?

[2014-03-25 13:58] tru3d3v commented on #237
[error] References to undefined settings:
[error]
[error]   *:servletVersion from *:war
[error]
[error]   *:servletVersion from *:war
[error]
[error]   *:servletVersion from *:libraryDependencies
[error]
[error] Use 'last' for the full log.
Project loading failed: (r)etry, (q)uit, (l)ast, or (i)gnore?

[2014-03-25 16:31] dlecan commented on #237
Can you provide more project's configuration ? `Build.scala`, `plugins.sbt`

[2014-03-25 18:32] tru3d3v commented on #237
## build.sbt

[code]

---

plugins.sbt

[code]

[2014-03-31 08:05] valdar commented on #234
I have an error when I run the scripted test plugin with "sbt scripted":
class not found: jline\Terminal

I'm runngin it under linux with sbt 0.12.2, scala 2.10.1 and play 2.1.3.

Do you have a clue on this?
I'm planning to port the work to the development branch and see if whit
different sbt and scala version it works some how...

On Fri, Mar 21, 2014 at 11:28 AM, Yann Simon notifications@github.

[2014-04-02 15:29] khkarens opened #238 "Webapp redeployment error"
Hello,

We are facing a sever exception during the redeployment of a simple play war project on Apache Tomcat 7.0.52 server. Bellow is the content of localhost.2014.04.02.log file:

[code]

Please, let me know if you need any more info.

Thanks,
Karen

[2014-04-03 08:01] yanns commented on #238
does it happen by every redeployment?
How do you trigger the redeployment?

[2014-04-03 13:29] ShushanArakelyan commented on #238
Hi All,

I'm facing a similar problem, and in my case it happens during every redeployment.
I'm doing

Thank you,
Shushan

[2014-04-03 13:30] khkarens commented on #238
Hi Yanns,

Yes, it happens by every redeployment. Either when I "touch" or replace the war package.

thanks,
Karen

[2014-04-03 13:36] dlecan commented on #238
Play runtime is not designed to be embedded in another classloader.
By luck/accident, it is compatible with a one-time-deployment model and only in "prod" mode. Hot redeployment is not supported.

Play2War shouldn't be used during development.

[2014-04-03 13:56] khkarens commented on #238
Thank you Damien, but could you, please, clarify what you mean by: "Play2War shouldn't be used during development" ?

I can't understand why should one generate a .war package from a play project if one can't deploy that package to a web server (Tomcat etc.)?

[2014-04-03 14:26] dlecan commented on #238
WAR package provided by Play2War is a solution for operationals, who require every Java web application must be deployed in an application server.

So developers don't require Play2war.

"war" and "dist" are similar: to package for production.

[2014-04-03 17:40] dsapandora commented on #128
Hello once again... I am trying it in websphere having the same previous issue:

[code]

I got the message in the error log:

[code]

I will debug inside, but if you have any advice I will really appreciate it....

[2014-04-10 15:45] poornerd opened #240 "Unable to resolve reference "NonJtaDataSourceWrapper" JPA with Websphere"
I am trying to deploy a WAR file for the first time to Websphere (newest Community Version), and keep getting this error: Unable to resolve reference "NonJtaDataSourceWrapper"

**The WAR worked fine on Tomcat 7.0.5x**

My persistence.xml looks like this:

[code]

I also created a datasource on the Websphere, and added it like this to the persistence.xml:

[code]

and pretty much got the same error

[2014-04-10 18:16] poornerd commented on #13
@cjk can you summarize how you got it working? I need to get Play2 with WAS and Oracle working without JTA

[2014-04-10 19:14] cjk commented on #13
@poornerd
I'm afraid we no longer pursue the above combination. Requirements have since changed towards WAS+DB2+OpenJPA (without Play2 for now). I'll report back if I get a chance to try your setup again, but for now this seems rather unlikely.

[2014-04-14 06:05] georges commented on #128
+1 experiencing same issue here. The log show this on application start

[code]

Tried using the sample application from play2war source code using the develop.2.1.4+ branch on WebSphere 8.5.5.1 and got the same problem.

[2014-04-14 18:26] mickgiles commented on #79
Are Websockets currently supported or was this feature iced?

[2014-04-14 19:27] dlecan commented on #79
Still frozen.
If you want to defrost it, help us :)

[2014-04-17 01:36] tkawachi commented on #226
I also run into the same problem.

[2014-04-17 07:13] tkawachi commented on #226
It was my mistake in my case. Adding `(implicit lang: Lang)` to template arguments lists fixed the problem, as mentioned http://www.playframework.com/documentation/2.2.x/ScalaI18N.

[2014-04-22 15:30] drudge commented on #167
I'm having the same issue, trying to deploy to Websphere 8.5 Liberty Profile (which says it is supported). How is it supported if this is a play issue?

[2014-04-22 16:06] KevinSheedy commented on #167
The regression in reflections.jar is [logged here](https://code.google.com/p/reflections/issues/detail?id=150)

[2014-04-24 13:26] tru3d3v opened #241 "The application was not successfully started in wase case 3.0.0.3"
Hi dlecan,

I have successfully generate war file, but when i upload the war file to websphere 3.0.0.3
i got error "Lifecycle operation failed" the service cannot start.

FYI : i am using db2

bellow  log error :

[code]
----------------------------------------------------------------------------------

Please Advice.

Thanks

[2014-04-24 14:17] dlecan commented on #241
Can you get more verbose app server logs ?

[2014-04-24 15:16] tru3d3v commented on #241
[code]

[2014-04-24 16:25] dlecan commented on #241
You are using BoneCP plugin (connection pool), which tries to load its XML configuration thanks to Xerces.
But it fails because of `java.lang.NoClassDefFoundError: org/w3c/dom/ElementTraversal`.
Missing `xml-apis-*.jar` in your classpath ?

[2014-04-24 22:02] poornerd commented on #241
I have that exact same error on WAS - and I am stuck with it.... I think the xml-apis in the WAR file are somehow not compatible with the xerces in WAS (does it have xerces? I am trying to determine that now).:

[code]

[2014-04-24 23:56] tru3d3v commented on #241
i am using lib\db2jcc4.jar

and com.avaje.ebean.Ebean

[2014-04-25 03:39] yanns commented on #241
On Apr 25, 2014 12:02 AM, "Brian Porter" notifications@github.com wrote:

Can you try to change the classloader hierarchy?
I experienced that WAS was loading the common jars before the jars in the
WAR ("parent first" vs "application first" or something like that)

[2014-04-25 08:49] poornerd commented on #241
I tried changing the classloader heirarchy - I had a ton of "other" problems.

I finally got rid of this problem by excluding some of the classes from Websphere in the geronimo-web.xml so that the ones in the WAR file could be used:

[code]

[2014-04-25 08:56] dlecan commented on #241
Thank you @poornerd

@tru3d3v can you try the workaround provided by @poornerd ?

[2014-04-25 12:51] poornerd commented on #240
To resolve this I added a datasource to the Websphere Application Server.  Then I added this to the geronimo-web.xml in the WAR file:

[code]

and

[code]

[2014-04-25 12:51] #240 closed, assigned to nobody

[2014-04-25 13:21] dlecan commented on #240
Thank you @poornerd

[2014-04-25 14:09] tru3d3v commented on #241
i had already edited file repository\com\ibm\wasce\configs\welcome-tomcat\3.0.0.3\welcome-tomcat-3.0.0.3.car\WEB-INF\geronimo-web.xml

[code]

and still error

[code]

[2014-04-25 14:10] szotyi commented on #221
Is this fixed? @kuklev can you give a followup on this?
We have ran into it, with a play 2.1.3 app, using play2war 1.0.2. Here is the log from Tomcat7:

[code]

I created a small multi module project and it happens. It is the default play app with a test module just echoing a string. You can check out the project here: https://github.com/szotyi/play-module-test It has a vagrant box (in devbox), th

[2014-04-25 15:53] akuklev commented on #221
@szotyi The problem is still there urging for a fix. I'm working on another project currently, so I just forgot to prepare and send the code.

[2014-04-25 16:07] dlecan commented on #221
@szotyi why do you say it's the same issue ? I see an AbstractError instead of a classcast exception.
Play 2.1.3 and Play2War 1.0.2-snapshot are quite old now, can you try with Play 2.1.5 and Play2war 1.1.1 ?

[2014-04-25 19:17] szotyi commented on #221
@dlecan thx for reply, I will try it with 2.1.5/1.1.1 combo next week and get back with results. If it's not working, should I start a new issue or can I just comment here? I assumed it could be the same problem, because it's Tomcat7 and multi module project also.

[2014-04-28 14:35] szotyi commented on #221
Hi, I tried with 2.1.5/1.1.1 combo, than I tried with 2.2.2/1.2.beta combo and the deploy went fine. Thanks for the help.

[2014-05-08 15:56] ruicnsilva commented on #230
Hi dlecan.
I was able fix the previous problem (configuration issue). Now I'm having some problems with Ebean Annotations. Seems like some classes were not included into the WAR file (not sure):

[code]

[2014-05-09 12:29] ritu-p commented on #226
Hi ,
I have created the war file but when I deploy it in tomcat server Instead of the message key value the message key gets displayed.Same Issue as Eloo has faced. I am not able to resolve this issue.Any help would be appreciated

[2014-05-11 08:37] yanns commented on #95
The PL https://github.com/dlecan/play2-war-plugin/pull/204 only provides the asynchron non-blocking consuming of request, but not the NIO output of play result.

I am actually testing an implementation. If everything goes well, I can pull a request in a few days.

[2014-05-12 07:43] ritu-p commented on #224
Hi is this issue fixed in any of the latest versions?

[2014-05-12 09:14] dlecan commented on #224
This issue is still opened, doesn't it ?

[2014-05-12 09:48] ritu-p commented on #226
Hi this issue is resolved for me.
My resouce file were "Messages.en" and it was not reolving to the string values when deployed through war file.
When i renamed them to "messages.en" it has started working.

[2014-05-12 09:49] ritu-p commented on #224
Sorry,
I didnt notice the status
Thanks for you time and great work

[2014-05-13 19:23] benlwong commented on #224
I also would really like to see this fixed.  I am not sure if I am looking at the right part of the source code, but it appears the code to explode the jar is commented out.  Probably not as simple as uncommenting the code...

[2014-05-13 19:33] yanns commented on #224
2014-05-13 21:23 GMT+02:00 Ben Wong notifications@github.com:

Can you maybe explain why this feature is so important for you? I
personally don't see any value in it.

[2014-05-13 19:51] benlwong commented on #224
I actually was trying to see if I can fix it, but realized the code (after cloning it) is written in Scala and sbt.  I have no experience in Scala at all, so it is going to take me a long time if I decide to attempt it.

This is important because of Issue #179.

Damien recommended that I have the WAR exploded because Tomcat loads resources (jars) in alphabetical order.  Hence, the class loader was

[2014-05-13 20:01] yanns commented on #224
I understand.
I deploy the logger.xml always separated to the war, to be able to change quickly the log debug without deploying a new war.
For this, I start tomcat with the following setenv.sh:

[code]

(`-Dconfig.file=...` is not mandatory for setting the logger.xml)

[2014-05-13 20:11] benlwong commented on #224
I will see if I can work around it.  However, in production, we have a few war apps running.  So one logger.xml file might not be ideal.  You will have to update it and source control it somehow to work for all apps.

[2014-05-13 20:14] yanns commented on #223
After having wrote the asynchronous output for servlet 3.1: https://github.com/yanns/play2-war-plugin/commit/b580b8c9000526aff2d1c6ab07443123fe109177, I am now sure that the [`pushPlayResultToServletOS`](https://github.com/dlecan/play2-war-plugin/blob/develop/project-code/core/common/src/main/scala/play/core/server/servlet/RequestHandler.scala#L116) method is called from the servlet thread.

This

[2014-05-13 20:17] yanns commented on #95
done by https://github.com/dlecan/play2-war-plugin/pull/204 and https://github.com/dlecan/play2-war-plugin/pull/243

[2014-05-13 20:17] #95 closed, assigned to dlecan

[2014-05-13 20:18] yanns commented on #178
closing this issue, it works now

[2014-05-13 20:18] #178 closed, assigned to dlecan

[2014-05-15 08:45] eloo commented on #226
thanks ritu-p for this hint
but in my case I think the problem was the "de-DE" extension.
So I changed my files to "de" and "en" and in the application.conf the languages to "de, en" and now it works :)
Thanks

[2014-05-15 20:40] dlecan commented on #226
So not an issue ?

[2014-05-16 09:40] eloo commented on #226
I think it's still an issue because the "de_DE" naming is not supported
but as as workaround we can use the "de" naming

[2014-05-16 15:22] dlecan commented on #226
According to [Play v2.2.3 code](https://github.com/playframework/playframework/blob/2.2.3/framework/src/play/src/main/scala/play/api/i18n/Messages.scala#L66), here are the allowed language patterns:
- `([a-zA-Z]{2})`: `en`, `FR`...
- `([a-zA-Z]{2})-([a-zA-Z]{2}|[0-9]{3})`: `en-US`, `de-de` ... Using `_` is not supported.

According to [Play v2.2.3 code](https://github.com/playframework/playframewo

[2014-05-16 16:48] eloo commented on #226
yes, now it works.
so issue could be closed
thanks!

[2014-05-16 16:48] #226 closed, assigned to nobody

[2014-05-17 12:23] ritu-p opened #246 "Question regading Production version of Play2war"
Hi,
We are currently using Play2War for war file generation.My organization has speculations since the play2war version now we use is a beta version,whether there will be a production level release of Play2war in near future.

[2014-05-17 14:24] drewes commented on #128
We're also experiencing a similar error when deploying a Websphere 8.5.5 Full Profile:

[code]

We don't get an error when we deploy the WAR file to Websphere 8.5.5 Liberty Profile.

Has anyone found a solution?

[2014-05-17 15:01] georges commented on #128
@drewes The "solution" is to patch the Play localization class as described in:

https://github.com/dlecan/play2-war-plugin/blob/issue-%2393-on-websphere/project-code/core/common/src/main/scala/ImportedCodeFromPlay2.scala

Merely adding println statement in this class makes the problem go away. Speculation is that it sufficiently changes the class loading order. Would be great to have this be a pe

[2014-05-17 19:00] dlecan commented on #246
It used to have stable versions for Play 2.0 and 2.1 series.
For Play 2.2, it's a bit longer because I have less time to work on Play2War, but @yanns provides me a lot of help.
Play2war 1.2.x series is flagged "beta" but very few bugs have been reported.

Finally, Play2War is not the future of Play, but more something to help your ops to accept Play. In the future, you should convinced them to use

[2014-05-18 05:23] ritu-p commented on #246
Thanks Damien.
I will convey this to my senior management.

[2014-05-18 05:23] #246 closed, assigned to nobody

[2014-05-18 11:00] ghost commented on #228
bharath,  Can u please explain how u did those things?
I'm new to wildfly, and i have no knowledge on Guava.

[2014-05-18 12:30] bharath12345 commented on #228
I wrote whatever little I did on my blog - http://bharathwrites.in/posts/play2-on-jboss-wildfly/

[2014-05-19 07:28] dlecan commented on #228
What a great job !
You don't really say why you absolutely need to host your Play applications in Wildfly, do you ?

[2014-05-19 10:54] drewes commented on #128
@georges Your "solution" did the trick. Helped us when we were in a real pickle. Thanks for the help.

[2014-05-19 11:33] bharath12345 commented on #228
Mainly because of Scala and speed of development. However this was an experiment to convince folks to adapt... and for one set of UIs in the larger webapp of my product. But the decision is still pending :)

[2014-06-01 04:02] tkawachi opened #247 "Play 2.3 support"
Is there already Play 2.3 support?

[2014-06-02 15:57] yanns commented on #247
No, I'll soon work on it

[2014-06-02 16:12] mcvitiesjaffa commented on #128
@georges @drewes  I was interested to see that you managed to get this issue resolved, I'm facing the exact same error message when I try to deploy onto 8.5.5.1 with play 2.1.4.

Would you be able to provide more detail about what needs to be edited? I downloaded the play source files and managed to build the play framework ($ ./build  publish-local) however whenever I try to change the Messages.s

[2014-06-02 20:12] poornerd commented on #128
@georges & @mcvitiesjaffa - I worked with @drewes and we ended up renaming the default message file that is being looked for to "messages.default" (instead of messages). We no longer have a file named just "messages", but instead have added one specifically for each language.

In our play version that was around line 306:

[code]

I then took the compiled play (core) jar file and renamed it play_2

[2014-06-02 20:15] poornerd commented on #128
oh, @mcvitiesjaffa if you use Liberty profile you will NOT have have this problem. I was able to deploy just fine on the WAS 8.5 Liberty Profile developer version without the "messages" hack/patch.

[2014-06-03 09:19] yanns commented on #247
For info, the work in progress: https://github.com/yanns/play2-war-plugin/tree/play-2.3
It does not work yet.

[2014-06-03 12:13] mcvitiesjaffa commented on #128
Many thanks for the quick reply @poornerd ! Your suggestion worked and I can now deploy to websphere without issue.

I just wanted to put a quick note on here in case anyone else runs into the same problem. Putting the jar file into the lib file as you suggested caused a play cache issue, so I had to remove it. To get the modified code to work on my system (play 2.1.4 and play2war 1.1.1) I had to

[2014-06-06 16:18] lburcha opened #251 "play2war error resolving dependency"
I am currently using play 2.2.3 after running play in my project folder I am confronted with this error. Is there anyway to fix this so I can get my App up and running?

java.lang.AbstractMethodError
        at play.PlayInternalKeys$class.$init$(PlayInternalKeys.scala:20)
        at com.github.play2war.plugin.Play2WarPlugin$.<init>(Play2WarPlugin.scala:21)
        at com.github.play2war.plugin.Pla

[2014-06-06 18:19] #251 closed, assigned to nobody

[2014-06-10 06:14] yanns commented on #224
https://github.com/play2war/play2-war-plugin/tree/issue-%23224-exploded-jar

[2014-06-10 09:13] #224 closed, assigned to nobody

[2014-06-10 15:00] dlecan commented on #237
Play 2.2.x and Play2War 1.2.x are compatible with SBT 0.13.
It will be possible to use SBT 0.13 with Play 2.3.x and Play2War 1.3.x

[2014-06-10 15:02] #221 closed, assigned to nobody

[2014-06-10 15:06] #8 closed, assigned to dlecan

[2014-06-17 19:03] tomzx commented on #167
Hey,

I'm attempting to do something similar under WebLogic 10.3.6 and getting similar results...

Play 2.1.3 with play2-war-plugin 1.0.2

[code]

Where any of you guys able to get it working?

[2014-06-19 16:34] cg4053 opened #253 "Calling an internal REST API (within the same context) using WS Play API or http client fails"
I have an application that has 2 entry points:
1. Issue a request from an external client, through Tomcat, that is fulfilled through a single controller.
2. Issue a request from an external client, through Tomcat, that is fulfilled by issuing another internal REST API call within the same application context. The internal REST API call is accomplished using either Play's WS APIs or Apache HTTP syn

[2014-06-20 10:11] yanns commented on #253
Hi @cg4053,

we have a test case that looks like your use case: https://github.com/play2war/play2-war-plugin/commit/bb6882aa82c45c7f04bb8aa65b6be98f289a037c

The WS client is used to make an internal call.

Can you check it?
If it is the same, we have to find out why this test works and your use case not.

[2014-06-20 14:12] cg4053 commented on #253
Thanks for getting back to me Simon.

I looked through the use case and the difference between the 2 is that I set up HTTP headers and parameters on the request as well.
The HTTP headers set are:

[code]

The servlet was deployed under Tomcat 6.

The plugin version we're using is: 1.1.1

[2014-06-20 14:17] yanns commented on #253
ok, the test is only checked for the plugin version 1.2.x.
I should add it for the 1.1.1 version.

[2014-06-23 08:01] dlecan commented on #253
@cg4053 Do you plan to upgrade to Play 2.2.x or 2.3.x ?
Is it a blocking issue for you until your upgrade ?

[2014-06-23 08:06] dlecan commented on #224
Play2War 1.2 final has been released with a fix for this issue
Enjoy !

[2014-06-23 08:07] dlecan commented on #216
Play2War 1.2 final has been released with a fix for this issue
Enjoy !

[2014-06-23 12:32] benlwong commented on #224
Thanks for fixing this issue.  Much appreciated!

[2014-06-23 19:25] yanns commented on #223
After having discussed this with @jroper and displaying the thread name in the logs, I can confirm that this issue is still present.

The blocking writing to the servlet output stream is currently done with the play-akka.actor.default-dispatcher.

[2014-06-23 19:36] cg4053 commented on #253
We decided to use Play in standalone mode at this time, but at least we now know we can move to a newer version should we have to support other application servers again.

Thank you for your prompt responses - much appreciated!

[2014-06-23 19:36] #253 closed, assigned to yanns

[2014-06-23 20:01] yanns commented on #223
To solve this issue, I see 3 possibilities:
1. using the servlet IO Thread. I do not really see how it can be possible.
2. using a special thread pool for all blocking IOs, configured to use 100 to 300 threads for example. It implies that the application will use much more threads as a "normal" war application.
3. documenting to configure the default thread pool as in the chapter "Highly synchrono

[2014-07-02 09:34] dlecan commented on #247
Play2War 1.3-beta1 compatible with Play 2.3 (Scala 2.10 & 2.11) has been released !

[2014-07-02 09:34] #247 closed, assigned to yanns

[2014-07-02 09:52] yanns commented on #247
Yeah!

[2014-07-02 15:00] reyjexter opened #254 "1.3-beta2-SNAPSHOT error using Play 2.3"
Tried the latest release today and got this error:

sbt.ResolveException: unresolved dependency: com.github.play2war#play2-war-core-servlet30_2.11;1.3-beta2-SNAPSHOT: not found

I'm building with sbt 0.13.2 but for some reason it only generates _2.10 files/folders not 2.11.

Thank You
Rey

[2014-07-02 19:19] dlecan commented on #254
Play2War 1.3-beta1 has been released today, why do you want to try SNAPSHOT artifacts ?

[2014-07-03 08:55] reyjexter commented on #254
I thought it was the latest to try because of this commit:

https://github.com/play2war/play2-war-plugin/commit/14adde66d0b482dd246760c78bcf261953476a81

Will try 1.3-beta1 later today. By the way, do I always need to build this and publish this on my local repo or this will be uploaded to maven or play repo later?

Thanks
Rey

[2014-07-03 13:04] dlecan commented on #254
This is a **release**, with official binaries published on Maven Central:
http://search.maven.org/#search|ga|1|g%3A%22com.github.play2war%22

Just use it :)

[2014-07-03 13:04] #254 closed, assigned to nobody

[2014-07-09 09:31] poornerd opened #255 "Filter unmanaged dependencies that are statically included in /lib"
I have a few IBM  Websphere Jars that are needed at compile time, but I want to exclude them from the WAR.  I am not including them with sbt as artifacts because I needed to copy them from the WAS installation.

I can't figure out how to exclude them, because they don't seem to be recognized as artifacts.  (should they be?)

What is the best way to do this aside from removing them from the finishe

[2014-07-09 09:53] yanns commented on #255
If the libs are recognized as artifacts, you can exclude them from the war with https://github.com/play2war/play2-war-plugin/wiki/Play2War-configuration#artifacts-to-filter-out-from-war

The question is why are these libs not recognized. Are they kind of special? (I mean apart from being from IBM... ;)

Another solution would be to mark these libs as "provided".

[2014-07-09 12:32] poornerd commented on #255
I have included these jars in my projects /lib directory (unmanaged dependencies - http://www.playframework.com/documentation/2.0/Anatomy ).  How would I mark them as "provided"?  They are not referenced as dependencies in the build.sbt .

Also, I don't want to add it to a local Maven repository, because that makes it more complicated for others in team to compile.

[2014-07-09 14:15] dlecan commented on #255
I think you can't. These artifacts must be filtered by their name. So we can image a new configuration key:
- Name: `Play2WarKeys.filteredUnmanagedDependencies`
- Value: `Seq[String]`

Each dependency whose name is found in `filteredUnmanagedDependencies` won't be packaged in the WAR file.

Do you need that for Play2War 1.2 or 1.3 ?

[2014-07-09 15:02] poornerd commented on #255
I need it for 1.2

[2014-07-10 09:57] diogocarleto opened #256 "Play 2.3.1 deploy problems on jboss 7.1.1"
Hello, I'm trying to deploy a simple play-scala(https://github.com/playframework/playframework/tree/master/templates/play-scala) project on jboss 7.1.1 and I've got the following error:

<pre>
06:38:55,567 INFO  [org.jboss.as.server.deployment] (MSC service thread 1-9) JBAS015876: Starting deployment of "play-scala-1.0.war"
06:38:58,890 INFO  [org.jboss.as.connector.deployers.jdbc] (MSC service th

[2014-07-24 06:44] devikm89 opened #257 "Couldn't create war file for play 2.2.3 application"
I created an application in play 2.2.3. I tried to create a war using play2war plugin. But its not worked. The issue is when I imported the war file to my eclipse , the src folder is empty. I am pretty new to play framework. pls help me

[2014-07-28 16:20] barakyo commented on #198
I think the above workaround should be added to the documentation under the deployment section. Would've save me a lot of time if I found it earlier! Thankfully I found it when I did :)

[2014-08-07 03:54] cridmann commented on #234
Hey guys,

Do we have any proposed solution here?  I think having a way to provide a different -Dconfig.file for multiple apps in the same container is a really good feature to have.

As you get more and more play apps in your ecosystem, you will inevitably structure your project as a multi-module sbt project like shown here: http://eng.kifi.com/multi-project-deployment-in-play-framework/

However

[2014-08-07 15:34] yanns commented on #234
@cridmann a multi-module play application should be package in one war.
Therefore you should not need different configurations.
Or am I missing something?

In general, you should deploy only one play application (war).

[2014-08-07 16:20] cridmann commented on #234
@yanns - true it will package in one WAR - though that particular example had multiple play apps that deploy independently within the same multi-module project.

However, that digresses from the main point, which is: is there a way to specify multiple -Dconfig.file 's to different play apps running in the same container?

Do you guys recommend running multiple play apps in the same container?  If

[2014-08-08 08:59] yanns commented on #234
I'd recommend to run only one play application per container.
Play with netty is designed to be "alone" in the VM.
You'll run into subtle problems if you try to run multiple play apps in one container IMO.

[2014-08-08 09:11] dlecan commented on #234
Such as #108. It can't be fixed without Play modifications.

[2014-08-08 12:56] cridmann commented on #234
Okay thanks for the insight and pointers!  I'll take this info back to our team.

[2014-08-08 14:08] leccyril opened #258 "Use this plugin in maven"
Hi, do you know if there is one solution to use this plugin with maven without use maven-play2-plugin because it does'nt work ???

[2014-08-12 12:53] dlecan opened #259 "Be compatible with Play 2.3.2 and more"
Braking change in Play 2.3.2 !

[2014-08-12 12:54] dlecan commented on #259
See 23bfbd4

[2014-08-12 12:54] #259 closed, assigned to nobody

[2014-08-29 20:56] elamtzvibirnbaum opened #260 "application.conf includes referencing absolute paths not working"
Hello,

In order to support multiple environments, we have designed our Play application to have an application.conf that at the end uses: include "/my/absolute/path/myconfig.conf" that overrides the values set in the application.conf with those appropriate for the environment. In this way we do not have to put any environment-specific information in files that are included in a build.

When runni

[2014-08-30 10:28] dlecan commented on #260
Can you give details ? Stacktrace, file not found ...
Can you debug your config file ? https://github.com/typesafehub/config#debugging-your-configuration

[2014-08-30 22:48] patelkrunal opened #261 "Error while deploying on Tomcat."
Hello All,

I am facing problem while deploying application on tomcat. Tomcat and mysql-server is installed on EC2. I have checked port and security settings but it's okay.

My localhost.2014-08-30.log file is attached:
Aug 30, 2014 10:26:22 PM org.apache.catalina.core.ApplicationContext log
INFO: PlayServletWrapper > contextInitialized
Aug 30, 2014 10:26:24 PM org.apache.catalina.core.Application

[2014-09-01 06:32] yanns commented on #261
Play found out that some database evolution have not been applied.
For more Info: https://www.playframework.com/documentation/2.3.x/Evolutions

If you want to apply database when starting the application, set the property `-DapplyEvolutions.default=true`

[2014-09-01 20:41] #261 closed, assigned to nobody

[2014-09-04 21:38] elamtzvibirnbaum commented on #260
Sorry for the delay. There is no error message, no stacktrace, it simply does not load the included config file. I debugged the config file and its, interesting, it looks like the leading / is stripped out.

So I have an application.conf where at the bottom it looks like this:

include "/MY/DIR/application.conf"

Here is a fragment of the output with sensitive data replaced:

Loading config from U

[2014-09-04 23:35] elamtzvibirnbaum commented on #260
Ok, so I've resolved the issue and indeed it is a different syntax. I instead have to use:

[code]

And it all works now in both native Play and as a WAR. It annoys me so much because all this would need was some decent documentation on the Typesafe/Play end to list that. A reference, something that would show what's possible. 25 Google searches and nothing. I discovered this when I used single qu

[2014-09-06 19:40] gilbertw1 commented on #256
I've been having this exact same issue. It looks like the Play Framework can't properly work with the JBoss VFS (virtual file system) urls. I have pretty much no experience with JBoss apart from my research into running a play app on it (version 7.1.1) over the past few hours, and I have been unable to find any satisfying solution.

The only stop gap (read soul crushing) solution I could come up w

[2014-09-07 19:16] yanns commented on #256
I tried to solve this issue as well, and found out that the current play code cannot run with the JBoss VFS.
I tried several configurations, for example with an exploded WAR and other configuration parameters to try to by-pass the JBoss VFS but without any success.

One possible solution would be to find some Java IO Code that JBoss can understand directly without VFS, and to patch Play to use thi

[2014-09-08 08:15] dlecan commented on #256
Did you try this configuration: https://github.com/play2war/play2-war-plugin/wiki/Configurationspecialebeanjboss7 ?

[2014-09-08 13:21] gilbertw1 commented on #256
I did, that was one of the first things I tried after finding a similar issue that recommended it as a solution. I've found that the problem really stems from these two spots:

[Resources.scala:15](https://github.com/playframework/playframework/blob/master/framework/src/play/src/main/scala/play/utils/Resources.scala#L15)
[PlayIO.scala:55](https://github.com/playframework/playframework/blob/master/

[2014-09-12 09:22] matm opened #262 "Broken demo on CloudBees"
Demo noted as "application currently not available".

http://servlet30.play-war.cloudbees.net/

[2014-09-12 09:54] matm opened #263 "Tutorial on applying DB evolutions in production"
Some documentation in the FAQ describing how to apply DB evolutions in a production environment using Tomcat or JBOSS would be nice.

[2014-09-15 16:06] mkramchandra opened #264 "Does plugin work for 2.3.4 play framework"
As the title says, I tried it but unsuccessful. Does the plugin really work for 2.3.4 version.
If it is can you please provide sample Build.scala and plugins.sbt files.

Thanks for the great plugin.

[2014-09-15 18:37] yanns commented on #264
You nee to use the version `1.3-beta2` as mentioned on the [Homepage](https://github.com/play2war/play2-war-plugin)

project/plugins.sbt

[code]

Then activate the plugin in Build.scala or build.sbt, as mentioned in the [configuration doc](https://github.com/play2war/play2-war-plugin/wiki/Configuration)

If you find an error in the documentation, or if the documentation is not clear, please mentio

[2014-09-15 19:12] dlecan commented on #264
We have 245 successful integration tests, running on real Application Servers (Tomcat 6/7/8, Jetty ...) with Play 2.3.4.
https://play-war.ci.cloudbees.com/job/Play_2_War_Run_integration_tests_-_Play_23x/PLAY_VERSION=2.3.4,label=m1.large/lastCompletedBuild/testReport/

Great !

Please, give more details if you need help :)

[2014-09-17 18:30] quistj commented on #251
How did you resolve this issue?

[2014-09-17 19:55] elamtzvibirnbaum opened #265 "Play on Tomcat logs to both custom log file and catalina.out"
Hello,

We are deploying Play as a war deployed on Tomcat 8 with a logger.xml file in the conf directory that directs logging to appear in a separate log file. This log file is properly updated with log events as expected, however these same events also appear in Tomcat's catalina.out log file. I've tried

Is there anything we can do to prevent this content from appearing in catalina.out?

Thank y

[2014-09-18 07:04] yanns commented on #265
In setenv.sh from Tomcat, I use the following property:
`export JAVA_OPTS="-Dlogback.configurationFile=/etc/tomcat/conf/logger.xml -Dlogger.file=/etc/tomcat/logger.xml`

You can try that.

[2014-09-18 15:50] elamtzvibirnbaum commented on #265
Thanks for the comment, Yanns, however the issue isn't that it cannot find the logger file, it can find it just fine. It was that logging events seemed to be sent to the logger and catalina.out.

I'm closing this ticket as I discovered what the issue was. Logback has a very flexible configuration and the config I was using sent legging messages both to standard out as well as to the file. Playing

[2014-09-18 15:50] #265 closed, assigned to nobody

[2014-09-18 15:53] yanns commented on #265
Thx for your feedback!

[2014-09-20 13:22] mkramchandra commented on #264
Thanks for suggestions.

Here is the sample Build.scala file but it throws error like not found object: PlayPorject. Do you know the import statement for PlayProject ? Or is it not the correct way of building Build.scala ?

import sbt._
import Keys._
import PlayProject._
import com.github.play2war.plugin._

object ApplicationBuild extends Build {

val appName = "SampleApp"
val appVersion = "1.0"

[2014-09-20 14:52] mkramchandra commented on #264
I got it working using build.sbt. I followed the configuration section and it worked.

Thanks for help

[2014-09-20 14:52] #264 closed, assigned to nobody

[2014-09-22 04:32] yanns commented on #256
There was some activity in play to support OSGI bundles:
https://github.com/playframework/playframework/commit/9f212ff8ce158d6792d2fdbab6e2a591b2b46ef5

@gilbertw1 maybe you can push your modifications to Play?

[2014-09-22 12:44] matm commented on #257
Would you mind giving some details about your `build.sbt` and `project/plugins.sbt` at least?

[2014-09-24 12:45] Dinduks opened #267 "Last versions of the plugin are not published to packages repositories"
Including *play2-war-plugin_2.11_0.13/1.3-beta2/play2-war-plugin-1.3-beta2.pom*.

Thanks.

[2014-09-24 15:12] dlecan commented on #267
What di you mean by "packages repositories" ? Maven central ?

I remember it was not impossible to publish SBT plugins to Maven central because artifact layout is incompatible with their policies.

[2014-09-24 15:39] Dinduks commented on #267
I mean Sonata, Maven Central and Typesafe's repos.
SBT checks in two of these by default (can't check which ones are right now as I'm not in front my computer).

On September 24, 2014 5:12:43 PM CEST, Damien Lecan notifications@github.com wrote:

##

Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2014-09-24 19:11] dlecan commented on #267
SBT community plugins are published in Scala SBT repo.
For Play2War:
http://repo.scala-sbt.org/scalasbt/simple/sbt-plugin-releases/com.github.play2war/play2-war-plugin/

There is no Scala 2.11 plugin, as Play's one is only available for Scala 2.10:
http://repo.typesafe.com/typesafe/simple/ivy-releases/com.typesafe.play/sbt-plugin/

[2014-09-24 21:19] Dinduks commented on #267
I don't understand, in the README it says that the _1.3-beta2_ supports _Play 2.3.2+_.
Anyway, would you please publish it? It's very convenient to use, especially with people new to Scala.

[2014-09-26 16:43] engineerKev opened #268 "database path does not exist"
Hello,

I've manged to make a war file, install jetty and set up jetty to deploy as a service. My war file is named ROOT and is in the webapps folder. However, when I try to deploy jetty I get this error:

[code]

I, think, that it may have something to do with the fact that the war file is created in the root folder of the app which, might, explain why the path is ./dbChard. However I am not sure

[2014-09-28 12:47] Dinduks commented on #267
I tried building _play2-war-plugin_ myself, but since a _build.sbt_ is lacking on the root, I just created one and put _scalaVersion := "2.11.2"_ in it. Problem, that publishes in `/Users/xxx/.ivy2/local/default/play2-war-plugin_2.11/` instead of `/Users/xxx/.ivy2/local/com.github.play2war/play2-war-plugin/scala_2.11/sbt_0.13/1.3-beta2/` where SBT looks by default (`addSbtPlugin(…)`).

Can you hel

[2014-09-28 19:32] dlecan commented on #267
To help to do what ? There is no Scala 2.11 plugin for Play2War because there no Scala 2.11 plugin for Play itself.

What are you trying to do ?

[2014-09-28 19:51] Dinduks commented on #267
A plugin to do what? I think I'm missing here, Play works fine with Scala 2.11.

I'm trying to build _play2-war-plugin_ with Scala 2.11.

[2014-10-02 02:25] dongyu1 opened #269 "Runtime error in play 2.3.3: SimpleResult is still used in play2-war-plugin 1.3-beta2"
SimpleResult is deprecated in play 2.3.0+.
Play2-war-plugin 1.3-beta2 is supposed to be compatiable to play 2.3.2+.
But SimpleResult is still used in the following two files:
(1) play2-war-plugin-1.3-beta2\project-code\core\servlet31\src\main\scala\play\core\server\servlet31\RequestHandler31.scala
(2) play2-war-plugin-1.3-beta2\project-code\core\common\src\main\scala\play\core\server\servlet\Reque

[2014-10-02 07:18] sidd-jg opened #270 "Need some pointers for weblogic"
I have deployed play war file to weblogic 12.1.2.0 it is working fine, but still it shows this error all the time , any suggestion or pointers for configuration
#### <1 Oct, 2014 10:00:30 PM IST> <Error> <Weblogic-Validation> <SSS01> <myserver> <play-akka.actor.default-dispatcher-2> <<anonymous>> <> <> <1412181030779> <BEA-2156404> <Unable to find a Validation Context. java.lang.RuntimeException:

[2014-10-02 08:04] yanns commented on #269
Are you sure you use play 2.3.3?

I use the 2.3.4 version with the play2war plugin without any problems.
SimpleResult is deprecated in play 2.3 but will not be removed until play 2.4.

[2014-10-02 08:05] yanns commented on #270
Do you have more information in the logs?
Which name is not what weblogic expect?

[2014-10-02 08:07] yanns commented on #268
Can you provide the following information:
- how do you configure the database connection?
- which path context are you trying to user? Root or /dbChard?
- have you configured `application.context=/dbChard/` in your pay application?

[2014-10-02 08:15] sidd-jg commented on #270
Here is the full log
####<1 Oct, 2014 9:58:13 PM IST> <Info> <Deployer> <SSS01> <myserver> <[ACTIVE] ExecuteThread: '0' for queue: 'weblogic.kernel.Default (self-tuning)'> <<WLS Kernel>> <> <> <1412180893202> <BEA-149059> <Module mam-1.0-SNAPSHOT.war of application mam-1.0-SNAPSHOT is transitioning from STATE_PREPARED to STATE_ADMIN on server myserver.>
####<1 Oct, 2014 9:58:13 PM IST> <Info> <org

[2014-10-02 11:01] sidd-jg commented on #270
Hi finally I figured out the issue,
tyrex.tyrex-1.0.1.jar contains jndi.properties file with
java.naming.factory.initial=tyrex.naming.MemoryContextFactory
I just removed this file and it is fixed.

Thanks..

[2014-10-02 11:03] #270 closed, assigned to nobody

[2014-10-02 11:03] yanns commented on #270
Great, can you explain your solution?

[2014-10-02 11:04] sidd-jg commented on #270
Hi finally I figured out the issue,
tyrex.tyrex-1.0.1.jar contains jndi.properties file with
java.naming.factory.initial=tyrex.naming.MemoryContextFactory
I just removed this file and it is fixed.

Thanks..

[2014-10-02 11:06] yanns commented on #270
Thanks!

[2014-10-02 15:01] dongyu1 commented on #269
Yes. I used play 2.3.3 and play2-maven-plugin 1.0.0-alpha8
I searched the play_2.10-2.3.3.jar and didin't find play.api.mvc.SimpleResult is there. Do you know which jar SimpleResult should be in? Thanks.

[2014-10-02 15:12] dongyu1 commented on #269
I checked play_2.10-2.2.3.jar and SimpleResult.class can be found there.
As from 2.3.3, the SimpleResult is changed back by Result. The solution is:
Replace all SimpleResult with Result
in the following two files:
(1) play2-war-plugin-1.3-beta2\project-code\core\servlet31\src\main\scala\play\core\server\servlet31\RequestHandler31.scala
(2) play2-war-plugin-1.3-beta2\project-code\core\common\src\ma

[2014-10-02 15:17] yanns commented on #269
no it does not break anything.
The problem is not about the patch.

It is about understanding what's happening, as I am using the same configuration without any problem.
And I am sure that play 2.3.3 contains SimpleResult. Check the source: https://github.com/playframework/playframework/blob/2.3.3/framework/src/play/src/main/scala/play/api/mvc/package.scala#L37

Are you sure the maven plugin does

[2014-10-02 15:39] engineerKev commented on #268
Hi there yanns,

Thank you for replied back. I've figured out the issue. I had the application context using a relative path instead of the absolute path. After changing everything seemed to be working as intended.

[2014-10-03 08:13] dlecan commented on #269
Please raise an issue to Maven Play2 plugin, as we cannot reproduce it.
Link it here for traceability.

[2014-10-03 15:55] dongyu1 commented on #269
Yanns, You are right. SimpleResult is still in play_2.10-2.2.3.jar and it is renamed to: package$SimpleResult$.class. The issue is solved. Why the error happens: is another project (play 2.3.3) mistakenly used play2war-plugin-1.2. Please close this issue. Thank you.

[2014-10-04 09:07] yanns commented on #269
Thanks for taking the time to find the issue and for the explanation.
I close the issue.

And in master, I fix the usage of deprecated `SimpleResult`: https://github.com/play2war/play2-war-plugin/commit/df81e687a8e8ebfaf9a2e5b61601eea333e65bf0

[2014-10-04 09:07] #269 closed, assigned to nobody

[2014-10-07 12:00] JonnyHeavey commented on #256
@gilbertw1 Has a pull request been made to Play? I think these changes would be extremely beneficial.

[2014-10-08 16:19] oyevtushok opened #271 "Adding metadata-complete="true" breaks the app in tomcat"
I'm using play2-war-plugin v1.2 for packaging Play2(v2.2.3) application which is deployed to tomcat 7.0.56. It seems to work without web.xml or with web.xml that contains the following:

[code]

Although if I add `metadata-complete="true"` to optimize permgen usage as recommended [here](http://wiki.apache.org/tomcat/HowTo/FasterStartUp) the app stops working in tomcat(I get HTTP Status 404).

I cr

[2014-10-08 18:47] dlecan commented on #271
That's pretty clear, isn't it ? As Play2War relies on `@WebServlet` annotation, `metadata-complete="true"` disables Play2War.

[2014-10-09 07:53] oyevtushok commented on #271
Not to me at least. Haven't found anything about this in documentation

[2014-10-10 04:36] sindhusakthi opened #272 "Play 2.0 war Plugin"
I am new to Play and developing application in Play 2.0 that has to run on tomcat. For generating war file i get dependency error. I don`t know what is wrong. Please help me to resolve this.

plugins.sbt file is:

// Comment to get more information during initialization
logLevel := Level.Warn

// The Typesafe repository
resolvers += "Typesafe repository" at "http://repo.typesafe.com/typesafe/relea

[2014-10-10 08:38] yanns commented on #272
I only see the 0.8.2 version on maven central: http://repo1.maven.org/maven2/com/github/play2war/play2-war_2.9.1/

@dlecan are you aware of this issue?

[2014-10-10 09:05] dlecan commented on #272
Can you upgrade to Play 2.0.8 and Play2War 0.8.2 ?

Play 2.0 is quite old and we won't support it.

Thank you

[2014-10-10 09:42] sindhusakthi commented on #272
Then how to upgrade play framework from 2.0 to 2.0.8. Can you tell me what are all modifications has to done.
I am very new to this Play so help me to find a solution.

[2014-10-10 09:56] yanns commented on #272
in `project/plugins.sbt`, write `2.0.8` instead of `2.0`.
Then you must start play again.

[2014-10-10 10:03] sindhusakthi commented on #272
My plugins.sbt flie is
// Comment to get more information during initialization
logLevel := Level.Warn

// The Typesafe repository
resolvers += "Typesafe repository" at "http://repo.typesafe.com/typesafe/releases/"

//resolvers += "Play2war plugins release" at "http://repository-play-war.forge.cloudbees.com/release/"

// Use the Play sbt plugin for Play projects
addSbtPlugin("play" % "sbt-plugin"

[2014-10-17 03:03] #272 closed, assigned to nobody

[2014-10-27 16:12] davidt99 opened #273 "Logging on JBoss Wildfly"
Hi,
I managed to deploy my war on JBoss, but I can't see any logs.
Is there anything else other then write my log the "JBoss" way?
Is the play-redirect extension will work on JBoss wildfly?
Thanks!

[2014-10-29 04:52] srivatsan-sridharan opened #274 "java.lang.NoClassDefFoundError: Could not initialize class play.core.server.servlet.Play2WarServer$"
Deployment on Tomcat version 7 was successful. However, we are getting the below exception while trying to deploy helloworld application on GAE.

Target servlet version 2.5. PlayFramework 2.3.5, Play2WarPlugin 1.3-beta2, appenginesdk-java-1.9.7 are being used.

Exception Stack Trace

[code]

[2014-10-29 08:46] dlecan commented on #274
Play2War and Play2 are not compatible with GAE as-is.
Some work is necessary, at least because Akka thread model is incompatible with GAE's one.

Your exception is an example of another compatibility issue. Something wrong happens in [Play2WarServer constructor](https://github.com/play2war/play2-war-plugin/blob/develop/project-code/core/common/src/main/scala/play/core/server/servlet/GenericPlay2Se

[2014-11-19 12:37] 0ffTopic commented on #96
I'm sorry to dig up this, but I'm trying to do the exact same steps here, but when I add the resource in the admin console it tells me "null pointer exception" when I give in the war location.

I need to put a play 2.2.4 app on a Jboss 5.1 AG server and I can't figure what I need to do.

[2014-11-19 20:08] dlecan commented on #96
@0ffTopic if you have an issue with Play2War, please open a new one with a precise procedure to reproduce your problem.

If you need support to deploy your Play app with Play2War, please:
1/ Read the docummentation
2/ Aks questions on Play Google Groups

[2014-11-21 16:00] 0ffTopic opened #275 "Create WAR file for play 2.2.4 to deploy on JBOSS 5.1.0 GA"
Hi there

I'm having issues deploying a war file into JBOSS 5.1.0 GA.

I followed all the steps on the documentation to create the .war and created/edited all the necessary files. The war file is created but when I try to put it on the server, it gives me a bunch of errors on the console:

http://sharesend.com/h6f3x46j

The war file is: http://sharesend.com/epahyyn1

What am I doing wrong?

[2014-11-21 20:24] dlecan commented on #275
Your WAR file deploys fine on Tomcat 7, it is ok.
I don't understand your log file, I can't find any `root.war` reference.

[2014-11-21 20:28] dlecan commented on #271
Documented here:
https://github.com/play2war/play2-war-plugin/wiki/Configuration#servlet-30-container-configuration

[2014-11-21 20:28] #271 closed, assigned to nobody

[2014-11-21 20:30] 0ffTopic commented on #275
Sorry.
The war in the log is desafiooe.war

The is root.war because of a deploy try who tells me to rename the created war to root. No success either.

[2014-11-21 20:31] dlecan commented on #273
Play2war may works on Wildfly, we didn't test it.
Tell us (reopen this issue) if it works with the plat-redirect extension.

[2014-11-21 20:31] #273 closed, assigned to nobody

[2014-11-21 20:32] dlecan commented on #274
Feel free to reopen this issue if you have more information to give us.

[2014-11-21 20:32] #274 closed, assigned to nobody

[2014-11-21 20:32] #268 closed, assigned to nobody

[2014-11-21 20:39] dlecan commented on #260
You have found a workaround, thank you.

[2014-11-21 20:39] #260 closed, assigned to nobody

[2014-11-21 20:40] dlecan commented on #258
This plugin is for SBT, it can't work with Maven.

[2014-11-21 20:40] #258 closed, assigned to nobody

[2014-11-21 20:40] dlecan commented on #257
@devikm89 more details ?

[2014-11-21 20:41] dlecan commented on #257
@devikm89 feel free to reopen this issue if you have more details to give us.

[2014-11-21 20:42] dlecan commented on #256
Close, as it's a Play 2 limitation.

[2014-11-21 20:42] #256 closed, assigned to nobody

[2014-11-21 20:44] dlecan commented on #241
@tru3d3v more information to give us ?

[2014-11-21 20:44] #238 closed, assigned to nobody

[2014-11-21 20:44] #237 closed, assigned to nobody

[2014-11-21 20:45] dlecan commented on #230
@ruicnsilva more information to give us ?

[2014-11-21 20:47] dlecan commented on #262
You're right, Cloudbees servers are not available anymore.
We need to find another free JavaEE container hosting :)

[2014-11-21 20:47] #262 closed, assigned to nobody

[2014-11-21 20:47] dlecan commented on #263
Would you like to help us by providing such documentation ?

[2014-11-21 20:53] dlecan commented on #267
To be clear : Play Framework provides two main components:
- a runtime
- a plugin for sbt

Play2War is an extension for Play sbt plugin.

For Play 2.3 and 2.4, the Play plugin is only available for Scala 2.10, even if Play runtime is also available for Scala 2.11.
So we can't provide any Play2War plugin for Scala 2.11.

Your first request was: play2-war-plugin_**2.11**_0.13/1.3-beta2/play2-war-plu

[2014-11-22 20:20] dlecan commented on #275
Your problem is not related to Play2War:

[code]

Something is wrong with your JBoss installation and/or your server.

Indications: http://stackoverflow.com/questions/646322/jboss5-cannot-deploy-due-to-java-util-zip-zipexception-error-in-opening-zip-fi

[2014-11-22 20:25] #275 closed, assigned to nobody

[2014-11-24 09:19] 0ffTopic commented on #275
Thank you for your feedback.
I'll try to resolve the issue from there.

[2014-12-24 05:41] sdpatil commented on #124
I am using Play framework 2.2 and plugin version 1.2 and deploying my application in apache tomcat 7.0.53.

I am facing same problem. I tried profiling the application and it seems that when i stop the application and undeploy it leaves 3 threads running one is play-scheduler-1, play-internal-execution-context-1 and  play-akka.actor.default-dispatcher-1. Because of these 3 threads tomcat is com

!

[2014-12-30 01:15] benmullin333 opened #276 "java.lang.AbstractMethodError with play 2.3.1 with sbt 0.13 with scala 2.10.4 and play2-war-1.2beta1"
'''
[debug]
[debug] Initial source changes:
[debug]     removed:Set()
[debug]     added: Set()
[debug]     modified: Set()
[debug] Removed products: Set()
[debug] External API changes: API Changes: Set()
[debug] Modified binary dependencies: Set()
[debug] Initial directly invalidated sources: Set()
[debug]
[debug] Sources indirectly invalidated by:
[debug]     product: Set()
[debug]     binary dep

[2014-12-30 01:20] benmullin333 commented on #276
oops

[2014-12-30 01:20] #276 closed, assigned to nobody

[2014-12-30 19:57] sdpatil opened #277 "Memory leak when stoping the play2 application"
I am using Play Framework 2.2, play2-war-plugin 1.2 and Tomcat 7.0.53. When i stop my application it generates memory leak. After couple of re-deploys of application without restarting tomcat, my server runs out of PermGen space and throws java.lang.OutOfMemoryError: PermGen space

This is how my plugins.sbt looks like
// Comment to get more information during initialization
logLevel := Level.Warn

[2014-12-30 22:04] dlecan commented on #277
Play runtime is not designed to be embedded in containers.
What does that mean ? It's classloader model is not designed to be restarted in the JVM (except in debug mode, but Play2War forces "prod" mode).

So what to do as there's nothing we can do on Play2War side ?
1/ Leave Play2War an use native and natural Play deployment model
2/ Improve Play runtime itself to handle classloader (un)loading

[2015-01-02 14:18] fullwall opened #278 "Play 2.4.0-M2 incompatibility"
PlayPositionMapper has moved namespaces in 2.4.0 from play to play.sbtplugin causing an incompatibility with play2war.

[2015-01-07 09:55] #241 closed

[2015-01-10 14:08] VitalyOlegovic commented on #251
To solve this issue, you have to update the plugin version:

addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.3-beta2")

1.3-beta2 is the correct version.

[2015-01-13 15:39] curena commented on #230
@ruicnsilva What was your configuration issue? I'm running across a very similar problem.

[2015-01-16 22:20] jawshooah commented on #267
@dlecan I don't understand; in `README.md`, in the very first paragraph is the line

[code]

Are you saying that the `& 2.11` bit is inaccurate?

Also, I am using the Play SBT plugin with Scala 2.11.4, and everything is working fine:

[code]

[2015-01-17 20:20] dlecan commented on #267
To be clearer : Play Framework provides two main components:
- a runtime: available for Scala 2.10 and 2.11
- a plugin for sbt: only available for Scala 2.10

So, the same for Play2War:
- a Play2War runtime: available for Scala 2.10 and 2.11
- a Play2War plugin for sbt: only available for Scala 2.10

[2015-01-17 23:44] jawshooah commented on #267
I understand what you're saying, but I haven't had any problems using the Play plugin for sbt with Scala 2.11 (see previous comment). I also haven't been able to find anything in the [docs](https://www.playframework.com/documentation/2.3.7/Migration23) to suggest that the plugin is not compatible with Scala 2.11.

[2015-01-20 12:00] nimurphy opened #279 "P2W 1.2 for Java 6"
More a Scala/SBT question, I'm respectively pretty/completely new to both. I need to build version 1.2 (Play 2.2.1) for JVM 1.6. How do I go about doing this in SBT?

I'll continue looking throught the SBT docs in the meantime but help would be greatly appreciated!

[2015-01-20 13:17] dlecan commented on #279
Why do you need that ? Play2war plugin is already built with "source" and "target" flags set to 1.6.

[2015-01-20 14:16] nimurphy commented on #279
I deployed to JBoss 4 (Java 6) and got an UnsupportedClassVersionError (52.0 - Java 8) with controllers/Application. I thought this was due to P2W, as Play was configured to compile to 1.6. I realise now that Intellij is configured to compile artifacts to 1.6, not Play itself.

Sorry for the confusion. Thanks.

[2015-01-21 09:11] #279 closed

[2015-01-21 13:29] yanns commented on #267
@jawshooah sbt uses only Scala 2.10, even if your project uses Scala 2.11.
It is quite confusing I know... ;)

Also the SBT plugin is only published with Scala 2.10, as SBT only supports Scala 2.10.
And the runtime is published with Scala 2.10 & 2.11 and is compatible with the Play Runtime that can be used with Scala 2.10 & Scala 2.11.

[2015-02-13 19:33] kahliburke opened #280 "Incompatibility with Play 2.3.8 release"
Trying to use play2war with Play 2.3.8 results in the following error:

    [error] bad symbolic reference. A signature in Play2WarCommands.class refers to type PlayReloader
    [error] in package play which is not available.
    [error] It may be completely missing from the current classpath, or the version on
    [error] the classpath might be incompatible with the version used when compiling Pl

[2015-02-16 20:11] yanns commented on #280
Thanks for reporting.

[2015-02-19 03:22] ikester commented on #267
How do you build the project so that the plugin is compiled for Scala 2.10 and the runtime for 2.11?

I cloned the repo and ran `sbt publish-local` but it only generates files for Scala 2.10.

If I then try to run the 'war' target on a new Play 2.3.8 app I get the following:

[code]

I could get it working by commenting out the following line in `build.sbt`:

[code]

But it would be nice to be abl

[2015-02-19 07:55] yanns commented on #267
Your problem is different, try to remove the `-SNAPSHOT`.
Please check the front-page to know which version you should use: https://github.com/play2war/play2-war-plugin

I _am_ using the war plugin with a Play application with scala 2.11.
Also I know it works.

SBT itself uses scala 2.10 to run. But this is a detail.
SBT and Play are 2 different runtimes, and each uses a different version of scala

[2015-02-19 18:30] ikester commented on #267
The problem is that I'm trying to deploy an app built with Play 2.3.8 and I'm encountering this bug:
https://github.com/play2war/play2-war-plugin/issues/280

Since the last version posted to the public repos is 1.3-beta2 (AFAIK) I need to build the project myself with the fix committed a few days ago.

How can I build and publish-local and make sure I get the full output?

[2015-02-20 06:43] dlecan commented on #267
Just wait a few hours, I will release a new version this weekend.

Le jeudi 19 février 2015, Isaac Arias notifications@github.com a écrit :

[2015-02-20 08:49] yanns commented on #267
@ikester If you want to publish the war plugin locally, please follow the instructions under: https://github.com/play2war/play2-war-plugin/wiki/How-to-help#build-and-publish-plugin-and-core-runtime-in-local-repository

I added a line for Scala 2.11.

And please tell us if you find a problem, before we release a new version ;)
Thanks!

[2015-02-20 23:27] ikester commented on #267
Thanks. Building by following those steps worked by publishing both versions (Scala 2.10 & 2.11) to my local Ivy repo.

Whenever you publish beta3 to the public repos I'll try again with those.

Thanks again!

[2015-02-21 19:05] baerbelK opened #282 "evolutions get not copied in the explodedJar (evolutions are not executed)"
When building the war file with the Play2WarKeys.explodedJar := true option. The subfolders (including the evolutions dir) of the conf directory are not in the war file.
Therefore the evolution scripts can not be executed.

Building the war file without that option, the evolutions directory get copied into the jar and the evolutions do not get executed, too.
I Struggled with this behaviour, becaus

[2015-02-22 20:54] #267 closed

[2015-02-22 21:07] dlecan commented on #280
Play2war v1.3-beta3 with a fix for this issue has been published.
Thank you!

[2015-02-22 21:07] #280 closed

[2015-03-03 08:47] JonnyHeavey commented on #230
@ruicnsilva more information on the configuration issue + fix would be appreciated

[2015-03-20 20:09] guillerminag commented on #260
Hello elamtzvibirnbaum , I have a similar problem, I need use an configuration  file into war file instead of play internal file. How did you resolve this problem? Can you send me an email explaining your solution, please?
my email is: guillermina.galache@gmail.com
 thank very much.

[2015-03-20 22:39] elamtzvibirnbaum commented on #260
My solution was listed above.

[2015-03-31 14:08] guillerminag commented on #260
hi, please could you send me an example? because  I still can not make it
work.
thank very much

2015-03-20 19:39 GMT-03:00 Elam Birnbaum notifications@github.com:

[2015-04-01 08:34] dcdieci commented on #278
How can this be fixed? I run into the same problem

[2015-04-09 19:39] itonics-tbeauvais commented on #277
This is insane that Play isn't made to run in a standard J2EE container!

[2015-04-10 15:51] yanns commented on #278
We will provide a new version of the plugin once Play 2.4.0 is published.
Or you can try yourself to provide a patch for this:
https://github.com/play2war/play2-war-plugin/wiki/How-to-help

I can support you if you want to migrate the plugin to play 2.4.0-M2 yourself.

[2015-04-14 04:36] tomzx commented on #167
For anyone interested (this is about a year later now...), I was actually able to get things rolling for me by clean building, then making some config changes and finally rebuilding. See https://github.com/tomzx/play-framework-notes for more details.

[2015-04-14 04:37] tomzx commented on #203
@kevinmeredith I assume you haven't gone any further into this?
- If you did, how far did you get?
- If not, what did you ended up going with instead?

I'm currently trying to migrate a project from 10.3 (working with play2war and play 2.1.3) to 12.1 (tried latest play2war and play 2.3.8).

Thanks for the information, it'll be appreciated.

[2015-04-14 04:44] tomzx commented on #270
Sorry for thread necromancing. @sidd-jg I'm a bit curious about how you went into debugging this. I would appreciate it a lot if you could tell me more about the way you figured this out (if you can still remember) so that I may be able to do it myself if I need to.

Thanks!

[2015-04-14 12:22] yanns commented on #167
thx for the feedback!

[2015-05-07 03:11] lyzyang opened #283 "Why not support websocket package"
I want to Tomcat deployment, But can not pack  websocket .It's better to be deployed in apache-tomcat-7.0.59  or  8 above

[2015-05-07 09:19] yanns commented on #283
websocket is not implemented yet.
duplicate from https://github.com/play2war/play2-war-plugin/issues/79

[2015-05-07 09:19] #283 closed

[2015-05-08 15:13] btgrant-76 commented on #207
I realize this is an old issue and I've found plenty of references that this is _not_ a play2war issue (I agree). We've been troubleshooting some memory with our container-deployed Play 2 app that have necessitated server restarts a couple of times per week. I consulted with members of another team using Play 2 and play2war and they recommended adding `play.akka.daemonic=on` to `application.conf`

[2015-05-08 19:21] dlecan commented on #207
@btgrant-76 thank you for the feedback. If you can confirm this workaround, I'll add it in P2W documentation.

[2015-05-20 09:03] carguel opened #284 "Cannot retrieve plugin for Play 2.3.8"
Following instructions from https://github.com/play2war/play2-war-plugin/wiki/Configuration, update of my Play 2.3.8 project fails.

I added following line to project/plugins.sbt

    addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.3-beta3")

But _activator update_ returns the following error:

[code]

I guess expected version is not available on Maven Central Repo. How can I recover

[2015-05-20 15:34] dlecan commented on #284
[code]

Both versions don't match. Something wrong in your config files ?

[2015-05-20 16:18] yanns commented on #284
maybe a `reload` in sbt is necessary to reload the plugin configuration?

[2015-05-21 20:35] carguel commented on #284
Well done.
The `reload` command fixes the issue. I guess I had a wrong configuration as I first set the 1.2 version of the plugin, before to see that 1.3-beta3 is necessary for Play 2.3.x.
@dlecan @yanns many thanks for your support.

[2015-05-21 20:35] #284 closed

[2015-05-22 21:11] yanns commented on #278
I started the migration in a branch:
https://github.com/play2war/play2-war-plugin/tree/issue-%23278-be-compatible-with-play-2.4.x

[2015-05-28 13:56] btgrant-76 commented on #207
I may have spoken too soon. We took this config change live last week and we're still seeing the memory leak. Since I need to do some additional testing to figure out what's wrong, I'll post any details that I find if there's any coloration between the config change, but that seems unlikely at this point.

[2015-06-04 16:33] kumaran1979 opened #285 "War file is failing deploy on JBOSS 7.4 (EAP 6.3)"
I'm trying use play2-war-plugin (version 1.3-beta3) with Play 2.3.4 version.  I also added configuration mention in your link (below is my build.sbt file):
import com.github.play2war.plugin._

name := """ums"""

organization := "ca.test.play.common"

version := "1.0-SNAPSHOT"

Play2WarPlugin.play2WarSettings

Play2WarKeys.servletVersion := "3.0"

lazy val root = (project in file(".")).enablePlugin

[2015-06-04 17:58] matmannion commented on #278
Is there any news on this being merged @yanns?

[2015-06-05 07:16] yanns commented on #278
We are trying to publish a first beta version.

[2015-06-14 18:56] #263 closed

[2015-06-14 18:57] #257 closed

[2015-06-14 18:57] dlecan commented on #27
Not enough time to work on this.

[2015-06-14 18:57] #27 closed

[2015-06-14 18:58] #157 closed

[2015-06-14 18:59] #277 closed

[2015-06-14 19:02] dlecan opened #286 "Remove compilation warning (Scala 2.10)"
Compilation warnings with Scala 2.10:

[code]

[2015-06-14 19:04] dlecan opened #287 "Remove compilation warning (Scala 2.11)"
Compilation warning with Scala 2.11:

[code]

[2015-06-26 13:44] kirankumarhm opened #288 "AbstractMethodError Error"
I am using windows 7 + JDK 1.7 + Play 1.3.3
========================================================================
my build.sbt configuration is
========================================================================
import com.github.play2war.plugin._

name := "play-java-spring"

version := "1.0-SNAPSHOT"

Play2WarPlugin.play2WarSettings

Play2WarKeys.servletVersion := "3.0"

=================

[2015-06-26 17:28] yanns commented on #288
I do not think you are using Play 1.3.3 ;)
Please check your play version.
Please notice that you have to choose the play2war plugin version corresponding to your play version.

[2015-06-30 09:46] bookwood1977 opened #289 "[Play-2.2.4, Tomcat7] Twice response header Transfer-Encoding: chunked while file/ stream download"
Hello,

for the moment am forced to use 2.1.5 --> no problems

while debugging  or running local the app... no problems...

while using 2.2.4 (same problem in using 2.2.6) problems after war-packaging and deploying to Tomcat7
--> resulting in twice response header "transfer-encoding: chunked".
   --> the customer system doesnt like and rejects all calls containing streams.

from config...
addSbtPl

[2015-06-30 11:46] dlecan commented on #289
Thank you for reporting this.

Tomcat version?

Please, create a new Github repository and commit/push your test case.

Thank you

[2015-06-30 14:27] bookwood1977 commented on #289
Hello Damien,

Windows 7, Tomcat 7.0.47 (64bit), play-2.2.4

https://github.com/bookwood1977/play2warPluginBugprototype.git

Thank you,
Mathias

2015-06-30 13:46 GMT+02:00 Damien Lecan notifications@github.com:

[2015-07-01 07:55] yanns commented on #289
Thanks @bookwood1977 for your repo.
I could reproduce this bug.
The fix is here: https://github.com/play2war/play2-war-plugin/pull/290

[2015-07-01 08:10] bookwood1977 commented on #289
Hello Yann,

thank you for finding and solving the bug.

For me that means waiting for the next package release?

regards,
Mathias

2015-07-01 9:55 GMT+02:00 Yann Simon notifications@github.com:

[2015-07-01 08:27] yanns commented on #289
you can also deployed it locally if you need it quickly.

[2015-07-01 08:56] bookwood1977 commented on #289
I could wait till package release.

But for learning something new...

How would I deploy it myself?

2015-07-01 10:27 GMT+02:00 Yann Simon notifications@github.com:

[2015-07-01 09:01] yanns commented on #289
https://github.com/play2war/play2-war-plugin/wiki/How-to-help#build-and-publish-plugin-and-core-runtime-in-local-repository

[2015-07-09 14:01] pdincau commented on #218
Hi, is it possible to know how you modified your app.conf to acces the jboss datasource?
thanks

[2015-07-09 16:10] dlecan commented on #278
P2W 1.4-beta1 was released a few weeks ago. It handles Play 2.4.x versions.

[2015-07-09 16:10] #278 closed

[2015-07-09 16:11] dlecan commented on #288
Any news on this issue ?
Please reopen it if you have more information.

[2015-07-09 16:11] #288 closed

[2015-07-09 16:13] dlecan commented on #289
Play2War v1.2.1 for Play 2.2.x versions has been released.

[2015-07-09 16:13] #289 closed

[2015-07-09 16:14] #79 closed

[2015-07-09 22:37] pdincau opened #291 "using jboss datasource"
Hi,
Is it possible to connect via jndi to the jboss datasource using application.conf?

Thanks

[2015-07-26 09:04] davidt99 commented on #256
Hi,
@gilbertw1 , I tried to find your commits in [the repository](https://github.com/gilbertw1/playframework/tree/2.3.x), but i couldn't.
I want to apply this patch to the new version of play.
Can you show me the specific changes?

[2015-07-27 16:59] gilbertw1 commented on #256
Hey @davidt99, I was able to track down the commit.....you can find it here:

https://github.com/gilbertw1/playframework/commit/9f9618d52ea54308418d08d29d711c5855c1d3b1

[2015-08-08 21:15] nstreltsov opened #292 "Not run Tomcat"
Hi, All
All

I have play framework project https://github.com/nstreltsov/aplana-personal

I added play2war plugin. Generate war success After copy war to tomcat webapps folder and rename ROOT.war Startup Tomcat. Go to vy localhost http://localhost:8084/ open empty page.

i use play 2.4.0, play2war 1.4-beta1, tomcat 7

Please help me

Tomcat log have exception
catalina log
<code>
INFO: validateJarF

[2015-08-09 00:36] nstreltsov commented on #292
Found the solution. Use Tomcat 8

[2015-08-09 00:36] #292 closed

[2015-08-10 11:00] dlecan commented on #292
Your real problem was:

[code]

which means you tried to execute Java code compiled with a higher version. Play 2.4 is compiled for Java 8 (bytecode 52.0) and you tried to run it with Java 7 or less.

[2015-08-13 12:48] dlecan commented on #291
Did you try ?

[2015-08-13 12:50] pdincau commented on #291
yes. not working...can you confirm that?

[2015-08-13 13:08] dlecan commented on #282
It's a bug in the plugin.
I'll fix it for the next major version.

[2015-08-13 13:11] dlecan commented on #285
Did you try with JBoss 7.1 or 7.2 ?

[2015-08-13 14:46] baerbelK commented on #282
Thanks!
Am 13.08.2015 15:09 schrieb "Damien Lecan" notifications@github.com:

[2015-08-14 14:48] dlecan commented on #291
I hava never tried! :)
Symptoms ? Stacktraces ?

[2015-08-14 14:54] pdincau commented on #291
symptoms: no documentation :(

[2015-08-27 08:49] PushkarniVK commented on #198
Hii,

I want to publish sbt zip file to nexus repository. Using versions (play -2.4.2 & sbt 0.13.6).
I have tried above workaround for zip file publish. Its giving me authorization errors where everything is well set and working for another projects(for jar publish).
I follow the steps below:
1 sbt compile -> Compile project
2 ./activator dist command -> creates .zip folder in target>universal dir

[2015-09-01 08:01] tekener opened #293 "java.util.zip.ZipException: duplicate entry with .m2 and .ivy2"
We are running into a problem in case that a lib exists in the .m2 and .ivy2 directory. The workaround is to delete the lib in one of the directories.

The exception:
[debug] Webapp resources directory: /e42/buildagent/work/b05723c0abf935c6/app/war
[debug] Embedding /e42/buildagent/work/b05723c0abf935c6/app/war/WEB-INF/web.xml -> /WEB-INF/web.xml
java.util.zip.ZipException: duplicate entry: WEB-IN

[2015-09-01 08:38] dlecan commented on #293
Do you know why commons-lang3 is present twice in classpath ? (Ivy and M2 dependencies)

[2015-09-01 09:12] tekener commented on #293
I don't have a glue. The build servers are also running maven builds. Thats why we have the jar in both directories. But i don't know why sbt puts the jar twice into the classpath.

[2015-09-01 09:14] dlecan commented on #293
Can you precise:
- SBT version
- Play2war version

Thanks

[2015-09-01 12:36] tekener commented on #293
SBT: 0.13.9
Play2war: 1.3-beta3

Thanks

[2015-09-01 20:25] sauldhernandez commented on #256
Has @gilbertw1's commit  been integrated into the Play2 repository? Was trying to run a play application on Wildfly 8 with no success.

[2015-09-02 12:56] gilbertw1 commented on #256
@sauldhernandez: the guys at playframework made it clear that they weren't going to merge any commits that included third party libs from JBoss. So it looks like your only choice is to probably patch Play with these changes if you want to use JBoss.

[2015-09-09 12:21] tekener commented on #293
There is a similar bug in sbt: https://github.com/sbt/sbt-native-packager/issues/657

[2015-09-29 12:51] kanchu1708 opened #294 "War plugin is not getting download for play 2.1.5"
Unresolved dependency play2-war-plugin-1.1.2 not found

play version:2.1.5
sbt version:0.12.2
scala:2.10.4

[2015-09-29 15:01] dlecan commented on #294
As you see here: https://github.com/play2war/play2-war-plugin#versions-not-supported-anymore
play2war v1.1.2 doesn't exist.

Last version for Play 2.1.4+ is P2W v1.1.1.

[2015-09-29 15:01] #294 closed

[2015-09-30 05:25] kanchu1708 commented on #294
even 1.1.1 is also not getting download same unresolved dependency

[2015-09-30 08:57] dlecan commented on #294
Which one ?

[2015-09-30 09:37] kanchu1708 commented on #294
with play 2.1.5 I am using 1.0.5 it is also not getting download

[2015-09-30 14:24] pdincau commented on #291
I have posted a question here:

https://groups.google.com/forum/#!searchin/play-framework/jboss$20jndi/play-framework/FdSvRqO4lhA/RBAzZZGegmcJ

still I can't solve it.

do you have any ideas?

[2015-09-30 14:30] pdincau commented on #291
Hi found https://github.com/play2war/play2-war-plugin/issues/218 but can't find a way out.

[2015-09-30 14:54] dlecan commented on #294
I cannot help you if you just write "it doesn't work".
It used to work for many people before, so either something is wrong in your configuration or something else has changed somewhere (!) which leads to a failure in your project.

Did you read that ? https://github.com/play2war/play2-war-plugin#versions-not-supported-anymore

With Play v2.1.5, you **must** use Play2war v1.1.1.

With this version

[2015-10-01 05:44] kanchu1708 commented on #294
<img width="422" alt="error" src="https://cloud.githubusercontent.com/assets/14889832/10214461/2473fbe6-6836-11e5-8459-41342e530d1b.PNG">
yes I am following only this link: https://github.com/play2war/play2-war-plugin#versions-not-supported-anymore
Build.proeprties:
sbt.version=0.12.2

Build.scala:

[code]

Plugin.sbt

[code]

these are my settings files please tell me what I am missing ,how can I

[2015-10-07 07:03] dlecan commented on #294
Servlet 3.1 engines support was added in Play2War v1.2.
Can you try with ``Play2WarKeys.servletVersion := "3.0"` ?

[2015-10-16 04:48] GaurangaDasa opened #295 "Error during deployment at sub-context path in tomcat7"
Hi,
I am able to successfully deploy the war file at root-context path by renaming the war file to ROOT.war, but for deploying the war file to sub-context path, I rename the war file to my-app.war. The app is getting deployed to tomcat 7. The home page of app is accessible at http://xxx/my-app.
But, when I navigate to another page by clicking some button, the url changes to http://xxx/newpage. Her

[2015-10-16 09:29] dlecan commented on #295
Can you show some code where a link to `http://xxx/newpage` is built ?

[2015-10-19 04:49] GaurangaDasa commented on #295
Hi,

Following is a code snippet which navigates to page http://xxx/Reportees/id, when it should navigate to http://xxx/my-app/Reportees/id.

[code]

[2015-10-22 11:30] BobbyT opened #296 "Play 2.4.x with Glassfish 4 Deployment Exception: WELD-001408"
Hi there,

I'm trying to deploy my Play 2.4.3 App to Glassfish v4.1.1 and I'm getting this Exception:

		Command succeeded with Warning
	"http://localhost:4848/management/domain/applications/application/app-1.0-SNAPSHOT" created successfully.
	Warning: Command _deploy did not complete successfully on server instance dashboard: remote failure: Failed to load the application on instance dashboard.

[2015-10-28 11:33] GaurangaDasa commented on #295
I guess there's a bug in play2war plugin regarding deployment at sub-context path. Is it?

[2015-10-28 15:37] dlecan commented on #295
No, if you want to host your Play application behind a reverse-proxy which adds a root-context, your links will be wrong too.

You should not use this syntax:

[code]

If you have:

[code]

and a war file named `my-root-context.war`

This one is much better:

[code]

It will automagically generate to following HTML:

[code]

https://www.playframework.com/documentation/2.2.x/JavaRouting#Reverse-rou

[2015-10-28 15:37] #295 closed

[2015-10-29 09:29] GaurangaDasa commented on #295
Hi, thanks for replying.

My code is working just fine when run directly in inbuilt server of play framework, but for creating the war file and running the app, my code needs to be changed in some way. That can't be right.
Your plugin needs to handle deployment to sub-context level without any changes to my code.
Would you agree?

[2015-10-29 10:01] dlecan commented on #295
No, I don't agree. War packaging is not supported by Play framework. This is a community effort to help developers and ops to migrate from legacy "application server model" to a container-less model.

If you don't want to use features provided by Play itself, such as reverse-routing which solves your problem, Play2Way can't do anything for you. It can't convert static html code to something else.

[2015-10-29 12:30] GaurangaDasa commented on #295
Okay, thanks Damien for you replies and for the plugin.

[2015-10-30 10:31] BobbyT commented on #296
I found a solution: https://java.net/jira/browse/GLASSFISH-20579

Simply deactivate implicit CDI discovery.

[2015-10-30 10:31] #296 closed

[2015-11-28 20:42] yanns commented on #287
fix https://github.com/play2war/play2-war-plugin/commit/79f32e09d5a6ebba0d3d9db1fde891d265d5c7a6

[2015-11-28 20:42] #287 closed

[2015-11-29 21:14] gkteck opened #297 "Please update the usage page to add this"
After completing the configuration, go to the APP_Home folder and execute

**./activator war**  to generate the war file.

[2015-11-30 09:19] yanns commented on #297
Thx! I updated https://github.com/play2war/play2-war-plugin/wiki/Usage.
Does it look good?

[2015-12-02 06:52] gkteck commented on #297
Yes... Looks good.

[2015-12-02 07:36] #297 closed

[2015-12-11 22:08] nstreltsov commented on #292
Thank you. It works

[2015-12-23 21:16] vkhazin opened #298 "Reference to undefined settings"
Trying to turn simple-rest-scala seed project into a war file.

./project/plugins.sbt
[code]
./build.sbt
[code]
Build Error:
[code]

[2015-12-28 09:25] yanns commented on #298
see https://github.com/play2war/play2-war-plugin/wiki/Configuration#servlet-31-container-configuration

[2015-12-29 17:25] vkhazin commented on #298
Thank you!

[2015-12-29 17:25] #298 closed

[2015-12-31 11:49] xela85 opened #299 "Access to external files from the application context"
Hello,

I would like to read an Excel file containing some useful data for my web application. To do it, I did that:

[code]

The file is in the data folder which is at the root of the project (not in app). It is correctly read after an ``activator dist``, but seems to be excluded after a ``activator war`` command.

I have seen that it works if I add manually the data folder on Tomcat bin director

[2016-01-01 16:15] yanns commented on #299
The `war` does not package the file in `data`. And even if the file is packaged in the war, unless you deploy the war as exploded, you cannot access it with `File`.

You have 3 solutions:
- put the file somewhere in the file system : in your application, you can access it with the absolute path. You could put the absolute path in the configuration.
- put your file in the `conf` folder and access i

[2016-01-04 17:55] xela85 commented on #299
I've tried the third option (exploded war) because I use an external library which requires `java.io.File`. It works, thank you !

[2016-01-04 17:55] #299 closed

[2016-01-08 22:24] iowaguy commented on #166
Has any progress been made on this? I'm hitting the exact same issue:
`request().username() == null;`

Running servlet v2.5, Play 2.2.4, and play2war 1.2.

[2016-01-18 00:23] satomikko94 opened #300 "How to deploy play framework 2.4 application on glassfish and read application.conf?"
Same question is at stackoverflow : http://stackoverflow.com/questions/34738905/how-to-deploy-play-framework-2-4-application-on-glassfish-and-read-application-c

I tried to deploy play framework 2.4 application on glassfish. I used maven play2 plugin and play2 war plugin made war file with the following instruction.

https://play2-maven-plugin.github.io/play2-maven-plugin/1.0.0-beta4/war-packaging

[2016-01-22 17:20] programmist commented on #149
I think this can be safely closed. If I'm wrong, please feel free to reopen. Thanks.

[2016-01-22 17:20] #149 closed

[2016-01-27 15:14] oarshad opened #301 "500 Error when accessing assets files on JBoss only"
I have created a simple app using Play 2.4.6 and packaged it using 1.4-beta1 version of play-2-war plugin and deployed on JBoss 7 (Enterprise 6.4.0.GA). Pages and requests load correctly however I cannot access any files from assets folder and it gives 500 Internal Error.

I deployed the same war on Tomcat 7 and it worked perfectly fine even all files from assets folder.

Then I recreated the same

[2016-01-29 08:40] dlecan commented on #301
Any visible errors on JBoss EAP  ?
Without stacktraces or error messages, it won't be possible to help you.

[2016-02-01 09:44] oarshad commented on #301
This is another problem I am having that I am not being able to enable any type of logging in JBoss with play application. Well anyway I tried to print the stack trace on the page itself and got the following message:

java.lang.NoClassDefFoundError: sun/net/www/protocol/file/FileURLConnection

[2016-02-01 09:58] oarshad commented on #301
This is complete stack trace:

[code]

Caused by: java.lang.NoClassDefFoundError: sun/net/www/protocol/file/FileURLConnection
    at play.utils.Resources$.isUrlConnectionADirectory(Resources.scala:31)
    at controllers.AssetsBuilder$$anonfun$19.apply(Assets.scala:450)
    at controllers.AssetsBuilder$$anonfun$19.apply(Assets.scala:446)
    at scala.concurrent.Future$$anonfun$flatMap$1.apply(Futur

[2016-02-01 10:11] oarshad commented on #285
I have this same issue only if I include the following plugin

"com.github.play2war.ext" %% "redirect-playlogger" % "1.0.1"

If I remove this dependency than the WAR gets deployed and enabled successfully

[2016-02-02 09:37] oarshad commented on #301
I managed to fix this problem by making some JBoss configuration changes based on this blog:

[http://planet.jboss.org/post/dealing_with_sun_jdk_related_noclassdeffounderror_under_jboss](http://planet.jboss.org/post/dealing_with_sun_jdk_related_noclassdeffounderror_under_jboss)

[2016-02-02 09:37] #301 closed

[2016-02-03 05:45] dlecan commented on #301
Great, thank you !

[2016-02-09 06:40] iandow opened #302 "reference to fork is ambiguous"
I have a play 2.3.6 project, with a build.sbt file that ends with the following line:

**fork in run := true**

After I added the play2war plugin, sbt starting giving me this compile error:

**./play-heroku-seed/build.sbt:32: error: reference to fork is ambiguous;**

I can workaround the error if I just delete the `fork in run` line from my build.sbt.  But is this really necessary?  It would be ni

[2016-02-09 17:56] iandow opened #303 "Unable to load class: ${database.driver}"
I've generated a war file for a play app that uses a postgres database driver, but when I deploy that to tomcat, the deploy fails and tomcat gives me an "Unable to load class: ${database.driver}" error.  My app works fine from the activator. How do I get Tomcat to pickup the database driver specified in build.sbt?

[2016-02-10 06:03] dlecan commented on #303
Can you give more information ?
Play and Play2war versions, configuration files, full stacktraces...

[2016-02-10 06:07] dlecan commented on #302
Which version of Play2war ?

[2016-02-10 06:11] dlecan commented on #300
Where is located Oracle driver ? Is it compatible with JDBC v4 ?

[2016-02-10 22:10] #303 closed

[2016-02-10 22:11] iandow commented on #303
I found that `sbt dist` serves my needs.

[2016-02-10 22:12] iandow commented on #302
1.3-beta3

[2016-02-11 15:46] dlecan commented on #303
Much better than deploying in an Application Server!

[2016-02-17 21:13] dlecan commented on #302
Did you try with Play 2.4 and Play2War 1.4-x ?

[2016-03-01 12:20] xring opened #304 "The attempted blocking write is not allowed because the non-blocking I/O has already been started by the application registering the WriteListener"
I'm using Play2.4 with Scala2.11 and play2war on IBM Bluemix with Liberty.

It seems that IBM updated their Bluemix platform on 9 Feb 2016, then my app do not work anymore.

I search the logs, there only one error message:

I want to know this happened due to my codes or due to the play2-war-plugin?

[2016-03-01 16:55] yanns commented on #304
Just a guess: it seems that they are more than one application deployed in the container.
One application is the play app, using async IO, and the other app is using blocking IO.

[2016-03-10 19:54] sirhallt opened #305 "assests directory"
When creating a WAR and deploying to Tomcat 7 non of the files in project/public folder are deployed.  Typically these are mapped to /assests... in normal Play! execution.  How should they be handled using WAR ?

[2016-03-11 08:39] dlecan commented on #305
Please, can you give:
- Play version
- Play2War version

What do you mean ? Are they embedded in the WAR file ?

[2016-03-11 14:09] sirhallt commented on #305
Play version :Play 2.3.8
Play2War version: 1.3-beta3

I have a route defined as:
GET         /assets/*file           controllers.Assets.at(path="/public", file)

Any where in my views/*.scala.html where I use the annotation @routes.Assets.at("") those in normal re-route to my public folder based on the route, but in the WAR they are not present.

[2016-03-16 13:29] Creepix opened #306 "Asynchronous operations"
I'm using play2war 1.4-beta1 plugin with play 2.4.6 on tomcat 8. There is [SPNEGO](http://spnego.sourceforge.net/spnego_tomcat.html) filter on that tomcat, which I want to use with my play application in purpose to have remote user name. As I understand http asynchronous request processing is available, but I'm getting:

Any suggestions how to fix it?

[2016-03-16 19:12] mateobadillo opened #307 "play2 tomcat war not deploying"
Hi i'm having an issue trying to deploy a war file with the war plugin on tomcat 8

parameters:

java play 2.5.x
tomcat 8
java 8

plugins.sbt:

// The Play plugin
addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.4-beta1")

addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.5.0")

// Web plugins
addSbtPlugin("com.typesafe.sbt" % "sbt-coffeescript" % "1.0.0")
addSbtPlugin("com.typesafe

[2016-03-16 20:06] dlecan commented on #306
How did you configure the filter ?

[2016-03-16 20:19] dlecan commented on #307
Play 2.5 is not supported yet. Can you try with Play 2.4.x ?

[2016-03-16 20:53] mateobadillo commented on #307
Thx very much for your quickly response!

so i changed plugins.sbt to versio 2.4.4:

// The Play plugin
addSbtPlugin("com.github.play2war" % "play2-war-plugin" % "1.4-beta1")

addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.4.4")

// Web plugins
addSbtPlugin("com.typesafe.sbt" % "sbt-coffeescript" % "1.0.0")
addSbtPlugin("com.typesafe.sbt" % "sbt-less" % "1.1.0")
addSbtPlugin("com.typesafe.sb

[2016-03-16 21:39] dlecan commented on #307
When do you have this stacktrace ? When Tomcat shutdowns ?

[2016-03-16 21:43] mateobadillo commented on #307
when i start the Tomcat, the .war is inside the webapps directory

[2016-03-17 13:58] mateobadillo commented on #307
so i tried with tomcat 7, but the error persist, y changed the servletVersion to 3.0.

This is the error that appears in the Catalina.out when i try to deploy

Mar 17, 2016 8:56:12 AM org.apache.catalina.loader.WebappClassLoaderBase validateJarFile
INFO: validateJarFile(/Users/mateobadillo/Desktop/IBM/apache-tomcat-7.0.68/webapps/consultarApp/WEB-INF/lib/javax.el.javax.el-api-3.0.0.jar) - jar not

[2016-03-18 17:20] dlecan commented on #305
Can you describe:
- where are your assets in your project
- where do you want to see them in the WAR file

Thank you

[2016-03-24 21:28] sirhallt commented on #305
in my project the assets are under the public folder in my project.  In typical play I can access these at the /assets URL using the above described route.  The assets contains things like my JS, CSS, and image files.

Thank you

[2016-04-17 11:10] pawitk commented on #307
I have also found the same error, doing the exact same process (initially started with 2.5.x, then downgrading to 2.4.6).  Below are the config files and stacktrace:

Current stack:
- Play 2.4.6
- Tomcat 7
- Java 8

plugins.sbt

[code]

build.sbt

[code]

application log

[code]

Any help or hint will be greatly appreciated :)

[2016-05-03 14:39] realzeus opened #308 "Play Framework 2.5 support is needed"
play2war currently does not support play 2.5.

[2016-05-24 17:11] masudjbd commented on #308
when play 2.5 version will be available?

[2016-06-09 15:32] victorjussiani commented on #308
+1

[2016-06-11 15:43] litts commented on #308
+1 upgraded to 2.5 but can't deploy to client have to revert back

[2016-06-17 07:34] pdenc commented on #308
When play 2.5 version will be available?

[2016-06-22 21:55] mwiley63 commented on #308
+1  I would really like to utilize the custom logging framework in 2.5 in a Tomcat environment.  https://www.playframework.com/documentation/2.5.x/SettingsLogger#using-a-custom-logging-framework

[2016-06-30 13:10] kbarzen-idn commented on #308
Any idea when it's compatible with Play 2.5? Is it already scheduled?

[2016-06-30 13:14] yanns commented on #308
Thanks all of us for manifesting interest!
The play2war is completely depending on free time of some people (like me).
I do not have the time/motivation to make this change now.
If one of you want to try, I'd be glad to assist.

[2016-07-06 09:01] cecton commented on #203
Hello,

Well if that's easy enough for a beginner in Scala to fix, maybe I can help.

I'm running Weblogic 12c (running on Docker), play 2.3.9, java 7, servlet 2.5 (works on tomcat, servlet 3.0 didn't work on tomcat 7 for some reason but I suspect bad luck), play2-war-plugin 1.3-beta3.

I found these 2 log files that reflect what I have in the stdout:

[weblogic:/u01/oracle/user_projects/domains/b

[2016-07-06 18:26] tomzx commented on #203
@cecton You might be interested in https://github.com/tomzx/play-framework-notes/tree/12.1. I compiled a bunch of notes while I was working on getting weblogic 12 to work and it appears the issue you are having is related to [this](https://github.com/tomzx/play-framework-notes/tree/12.1#warweb-infweblogicxml), where you need to override the logger used so weblogic uses the one that comes with play

[2016-07-07 12:12] cecton commented on #203
@tomzx many thanks! Adding the weblogic.xml helps weblogic to not get stuck in an infinite loop. But it still not works because of some other issue.

First of all, I must say I don't expect you to help me too much on this one but if any idea comes to your mind about this new issue, it would be very welcome.

(Btw, I realized that there is an extension for [redirecting the logger or something](http

[2016-07-07 12:28] cecton commented on #203
After a small research in the code of playframework. It seems they handle jar and zip in the recent version. But not in the 2.3.9 (which I need because I have to make it to run on java7), they only handle jar... which should be the same.

https://github.com/playframework/playframework/blob/2.3.9/framework/src/play/src/main/scala/play/utils/Resources.scala

Update: It seems the change is already in

[2016-07-07 20:06] tomzx commented on #203
@cecton As I noted in my notes, I only tested for play 2.1.3. If I remember correctly, I had attempted to make a latest version of play to work at the time, but I had some issues, and since my task was to make our current website running with the least amount of changes, not upgrading play was part of that.

I do recall seeing the error you describe (`java.lang.IllegalArgumentException: Cannot che

[2016-07-12 09:44] cecton opened #309 "Servlet filters and Play Framework filters"
Hello,

I have a small question here for play2-war-plugin's developers.

I have built a caching filter using the Play framework 2.3.x and it works fine in a sample Play web application. But I wonder if it is possible to export this filter as a Servlet filter. If I understood properly, Servlet have a [filter mechanism](http://www.oracle.com/technetwork/java/filters-137243.html), but I don't think t

[2016-07-12 11:22] dlecan commented on #309
No, Play filters work only on Play. Play doesn't use a servlet engine, so servlet are useless for a "native" Play application.

With a Play2War application, servlet filters can be used. But Play filters do the work, so why would you want to change ?

[2016-07-12 14:32] cecton commented on #309
It's because the application already exists and is not even written in Java, I want to put a cache on top of it. One way to do it would be to add a Servlet filter so every call made to this application would use the filter first.

[2016-07-12 19:31] dlecan commented on #309
Good luck!

[2016-07-12 19:31] #309 closed

[2016-07-16 09:54] cecton commented on #203
@tomzx I have made a Docker image with Play framework 2.3.x running and able to run on Weblogic 12c [here](https://github.com/cecton/playframework-for-weblogic12c) (Docker image: [cecton/playframework-for-weblogic12c](https://hub.docker.com/r/cecton/playframework-for-weblogic12c/)).

If someone else runs to this post and need to get Play working on Weblogic 12c, I suggest to use this Docker image

[2016-08-02 11:22] prabharj opened #310 "war file is not getting deployed when using Tomcat 8 embedded in Eclipse"
The following error pops up:

Exception in thread "http-nio-8080-Acceptor-0" java.lang.ClassCircularityError: java/util/logging/LogRecord
	at org.slf4j.bridge.SLF4JBridgeHandler.getSLF4JLogger(SLF4JBridgeHandler.java:198)
	at org.slf4j.bridge.SLF4JBridgeHandler.publish(SLF4JBridgeHandler.java:293)
	at java.util.logging.Logger.log(Logger.java:738)
	at java.util.logging.Logger.doLog(Logger.java:765)

[2016-08-02 11:23] prabharj commented on #310
Please note : Play version is 2.4.x , Eclipse Mars (4.5.2)

[2016-09-16 13:33] pevers commented on #307
Any news on this issue? I'm facing the same problem as @pawitk

[2016-09-16 14:31] pawitk commented on #307
@pevers

Sorry, it's been a while, and my memory's fuzzy, but here's a gist of what I did to get it to work.

I remember creating a new play 2.4.6 project and moving my code over.  From this, i discovered that some classes were using ebean syntax compatible with only 2.5.  After another thorough code cleanup, and more debugging, it finally worked.

Wish I could be more specific, but due to time co

[2016-09-19 13:50] pevers commented on #307
@pawitk thanks! I'll give it a try!

[2016-09-20 09:08] pevers commented on #307
I figured it out, I was still polluting the project with Play 2.5 specific code. There is a small issue with newly introduced logging in Play 2.5 that is not yet in play2war. See:

https://www.playframework.com/documentation/2.5.x/Migration25

My code was also referencing to cached Play 2.5 code that caused more problems.

[2016-12-02 07:36] nagapavan opened #311 "Any way to start app with grizzly"
I am planning to deploy war in Grizzly server. Is this supported?

[2017-01-03 11:18] KaterKarlo opened #312 "Version 1.4-beta1 without fix: 289: Transfer-Encoding chunked header duplicated"
Could the version "1.4-beta1" for Play 2.4.x be deployed with the bugfix #289 "Transfer-Encoding chunked header duplicated". Thjis bugfix was commited on on Jul 9, 2015. but the"1.4-beta1" version was deployed on Jun 14, 2015. :(

A new maven repo version of  on "1.4-beta1" would be great.

Thanks

[2017-01-03 12:49] dlecan commented on #312
Already been fixed in ba8f293, so we "just" need a release.

[2017-01-03 12:49] #312 closed

[2017-01-03 13:29] KoneFuzius commented on #312
could you please create a 1.4-beta2 release?

[2017-01-03 14:28] dlecan commented on #312
It will be a v1.4.0 release.

[2017-01-04 09:54] KoneFuzius commented on #312
Thanks! do you already know what date?

[2017-01-14 22:18] dlecan commented on #312
Play2War 1.4.0 is available!

[2017-01-16 11:26] kushNumberTheory opened #313 "run war file on tomcat 8"
HI i have made rest api in scala using play framework. My Routes files include"

 GET     /                           controllers.Application.index
 # Map static resources from the /public folder to the /assets URL path
 GET     /assets/*file                controllers.Assets.at(path="/public", file)

 POST   /createfile                @controllers.scala.CaffeOnSpark.FileCreation

Now I added Play

[2017-01-16 12:32] kushNumberTheory commented on #292
Hi,
@nstreltsov
I build restful api using play framework 2.4.2. Added Play2war plugins as suggested. We don't need web.xml as Routes file take care of POST and GET request.
My Routes file is:-
GET / controllers.Application.index
GET /assets/*file controllers.Assets.at(path="/public", file)
POST /createfile @controllers.scala.CaffeOnSpark.FileCreation

My Build.sbt include
name := "NT_CAFFE"
versio

[2017-01-16 14:13] dlecan commented on #313
What do you expect ?

Which URL ? Don't forget root context path in the URL if you didn't install your WAR as root context.

[2017-01-16 19:37] kushNumberTheory commented on #313
@dlecan When we create jar files.. it includes classes so that we can use jar files on any other system. But in here i didnt got any class.  I checked that now its working for GET requests
I tried all POST and GET requests
i am able to use GET requests using
http://localhost:8080/nt_caffe-1.0/
But for POST requests it'snot working
http://localhost:8080/nt_caffe-1.0/createfile

[2017-01-16 19:49] dlecan commented on #313
All classes are packaged as jar files, even your Scala files (look at something like `nt_caffe-1.0.jar`)

Great !

If you need help, you have to give us more information: error code, exception ...

[2017-01-16 20:02] kushNumberTheory commented on #313
In my POST request, i have to send JSON text to tomcat server.Where should i write this JSON text in tomcat server. I mean just like postman we can send data in body while making request. How can i do that in play framework and deploy it to tomcat

[2017-02-01 16:36] cyrilfr commented on #308
@yanns  Hi, I could try to do it depending on how much work it represents.

[2017-02-02 09:49] yanns commented on #308
@cyrilfr thx for the proposition.
Look at https://github.com/play2war/play2-war-plugin/wiki/How-to-help for some general information.

How you can proceed:
- you can start from the in progress implementation: https://github.com/play2war/play2-war-plugin/tree/308_play_2.5.
- the first step is to make the `project_code` compiling so that you can deploy a local version of the sbt plugin. The not-impl

[2017-02-16 16:03] yespeebala opened #314 "How to invoke a play2 application without hitting the URL in WAS liberty profile"
I'm using Play Framework (version 2.4.2) with WebsphereMQ. So I would like to start my web application which is deployed as war in **WAS liberty profile** without hitting the execution URL  on server startup.

[2017-02-16 20:28] dlecan commented on #314
What do you mean by "invoke" ?

[2017-03-15 15:10] yespeebala commented on #304
I'm also facing same issue. It is working in WAS Liberty profile 8.5.5.7. But,  When I deployed in WAS Liberty profile 8.5.5.9 or upgraded version. got same error like below.
[ERROR ] "SRVE0918E: The attempted blocking write is not allowed because the non-blocking I/O has already been started by the application registering the WriteListener [play.core.server.servlet31.Play2Servlet31RequestHandler$

[2017-03-17 06:58] xring commented on #304
@yespeebala No, I still can not run Play2.4(or above) on Bluemix(Liberty based runtime). I used Akka-HTTP instead.

[2017-04-03 03:34] z07diac opened #316 "Whether Play2WarKeys.servletVersion := "2.5" is suitable for tomcat7?"
As the title, I used Tomcat 7.0.62 as contents.
I think the suggested Play2WarKeys.servletVersion  is "3.0".
But if I use 3.0, the response of Application will be strange, such as twice response happen towards one request.
If I use 2.5, the application will work well.

So I have a question that whether it is OK if I use a 2.5 servletVersion  on Tomcat7.

[2017-04-03 08:41] yanns commented on #316
Yes you can use a 2.5 servlet version on Tomcat 7.
But it's be great to find out why you have such a misbehaviour with the 3.0 servlet.

[2017-04-03 10:29] z07diac commented on #316
@yanns  Thank you so much for your reply.
Yeah, you are right. I will find out where is the problem.

[2017-05-08 13:36] haroldoramirez commented on #316
Hello,

I have the same problem and post a question on [playframework-my-application-does-not-work-as-expected-on-apache-tomcat](http://stackoverflow.com/questions/42300901/playframework-my-application-does-not-work-as-expected-on-apache-tomcat)

The application has been sent to production and is working well. I am running on tomcat 8.

The settings and dependencies used are:

addSbtPlugin("com.gi

[2017-05-17 15:51] yespeebala opened #317 "How to start Play application as Production mode using Play2-war-plugin"
How to start Play application as Production mode using Play2-war-plugin and targeted server is Liberty profile.

[2017-05-18 09:57] yanns commented on #317
The play war plugin starts the play application in production mode.

[2017-05-18 15:14] yespeebala commented on #317
@yanns . In my play application I wrote some services It should starts when we deploy code in server(in my case Liberty profile) So, I extended GlobalSetting and override  onStart(Application app) method. And It is working fine when I running **"play start"** command. But, If I create WAR file using play2war plugin and deployed it server. I have to start application/service by hitting rest URL to

[2017-05-30 19:36] yanns commented on #317
My guess is that the play servlet is loaded lazily. Maybe you can try to configure your server to load the servlet on application start.

[2017-07-06 08:40] at-tantv commented on #308
I need it now, so when you free time you can support for me

[2017-07-07 07:56] at-tantv opened #318 "Cannot run war on tomcat 8 - Playframwork 2.4.x"
[help me]
I will config as below
import com.github.play2war.plugin._
name := """light-play-rest-api"""
scalaVersion := "2.11.7"
version := "1.0-SNAPSHOT"
val appVersion = "1.0-SNAPSHOT"
Play2WarPlugin.play2WarSettings
Play2WarKeys.servletVersion := "3.1"
lazy val main = (project in file("."))
  .enablePlugins(PlayScala)
  .settings(Play2WarPlugin.play2WarSettings: _*).settings(
    Play2WarKeys.se

[2017-07-11 12:52] yanns commented on #318
Is your application as `jar` file in the `lib` folder?

[2017-07-17 10:29] at-tantv commented on #318
i have jar and lib folder But it dont have file index.

[2017-08-19 01:02] guilhermejccavalcanti opened #319 "Cannot deploy to production server"
I'm struggling with Tomcat 8.0.32 and Play 2.4.x, but only in the production server! Locally, the same environment works like a charm.

In particular, when I deploy as ROOT.war, production's tomcat is unable to route the URLs and returns 404. For instance, the first access redirects from index to /login, but it returns 404 instead of the corresponding view.

Now, the weird facts: if I deploy to a

[2017-08-23 09:33] yanns commented on #319
If you deploy locally with Tomcat as ROOT.war, it works?

[2017-08-23 16:53] guilhermejccavalcanti commented on #319
Unfortunatelly not. I changed to another server where I could deploy with "sbt dist" , no need for tomcat. :)

[2017-12-21 04:18] matiastoro opened #320 "Have two different configuration files for two projects"
Hi, I have two play project that run as was in a EAP server. But the problem is that I want to have different configuration for the two projects. The problem is that if I use -DConfig.file ... or -DCondig.resource, then this configuration file is loaded for both projects at the same time.

Is there a way to load different configurations for different projects? Or maybe to read an external file lik

[2018-01-02 07:05] jroper commented on #308
For anyone wishing to take this up, I've implemented a [servlet 3.1 based reactive streams implementation](https://github.com/jroper/reactive-streams-servlet) that can be used to bridge to Akka streams in Play 2.5. I've verified it against both Tomcat and Jetty.

[2018-01-06 14:45] yanns commented on #308
Thanks a lot @jroper !!

To whoever is interested, it should be much easier now to bind play and a servlet container.
I can offer some support.

[2018-06-29 10:38] pwyczes opened #321 "Play Framework 2.6 support"
Hi there.
In our company, we are currently in a process of migrating our Play modules from 2.3 to 2.6 (yup, huge jump).

We managed to upgrade almost everything, except play2war of course. :)

This is very important for us and therefore I am willing to work on making play2war work with Play 2.6.

Is there any specific procedure to follow? :)

Also, anyone who is willing to help is welcome. :)

PS.

[2018-07-01 09:34] pwyczes commented on #308
Hi there, I started to work on #321 (play 2.6) so if anyone is willing to help me with that (or at least comment if I am moving in the right direction), I will be more than happy. :)

PS.
Thanks @yanns for your work on play 2.5 - it helped me a lot.

[2018-07-27 16:06] pwyczes commented on #308
Hi @yanns, as I wrote, I am working on #321 (play 2.6).
If you still can offer some support, maybe you can give me some hints on https://github.com/play2war/play2-war-plugin/pull/323 ;) I would appreciate.

[2018-08-23 18:44] amanraj09 opened #324 "Created war for play-2.5.12 does not contain my application class files."
I followed the document to create war using play2war plugin. But in war file all i get is lib directory.
I am not seeing my application classes.

What am I missing?
I used following configuration

----- **in build.sbt**----

import com.github.play2war.plugin._
version := "1.0-SNAPSHOT"

Play2WarPlugin.play2WarSettings
Play2WarKeys.servletVersion := "3.1"

-------------------------------

---------

[2019-03-15 18:00] pwyczes commented on #321
I managed to find some time to get back to this one. :)

All the tests in the branch 321_play_2_6 are green and it looks like on my machine, locally, our application (that uses play2war) runs as it should on Wildfly.
However, this is not always true...
On our test environments (they only differ by having nginx as a proxy from my local setup) I am getting some concurrency issues again. :(

I think,

[2019-09-07 10:30] pwyczes commented on #321
@yanns, @jroper
I just cleaned TODOs.
All tests `sbt itt` are green.
My tests of our application also are green.

I think, that we can release `1.6.0` version of this plugin. :)
Can you please advice how this can be achieved?

[2019-09-07 17:10] yanns commented on #321
Awesome news @pwyczes !!
Sorry for my lack of participation.
To be honest, as I don't use it anymore, it's difficult for me to find time & motivation for this.
AFAIK, only @dlecan can perform a release.
If he does not have the time anymore, maybe he can transfer the rights to you so that you can take care of this project.
I'd advise to do a `1.6.0-RC1` release before, to announce it on the play li

[2019-10-08 19:41] dlecan commented on #321
Hi all,

Sorry for my response time @yanns and @pwyczes, I'm working on other projects now.
Yes, I agree with @yanns, I can transfer to @pwyczes the rights of the project, and even of the whole organization.
Let's do that now, you will be able to do a release on your own.

[2019-11-12 18:18] srigaur commented on #321
Hi @pwyczes,
I know that everyone is busy but do you have any plan to release it any time sooner ?

[2020-04-02 11:23] rr2013 commented on #321
Hi @pwyczes  @dlecan

It looks like all the handwork is already done and would appreciate your help to release support for 2.6. Please help? thank you!

[2020-10-23 13:10] nikam03 opened #327 "play2-war-plugin issue with Play 2.8.2"
Hi,

Im new to Play framework. Im trying to migrate application from PLay 2.0 to 2.8.2

Project has Build.scala
build.properties : sbt.version=1.3.4

plugin.sbt:
logLevel := Level.Warn

// The Typesafe repository
resolvers += "Typesafe repository" at "http://repo.typesafe.com/typesafe/releases/"

// Use the Play sbt plugin for Play projects
addSbtPlugin("com.typesafe.play" % "sbt-plugin" % "2.8.2"

[2020-10-23 14:14] valdar commented on #327
As you might have notice the project is not that active any more, see https://github.com/play2war/play2-war-plugin/issues/321
your best shot is trying to manually build the mentioned branch: https://github.com/play2war/play2-war-plugin/tree/321_play_2_6
hoping that it is a good base to support 2.8.2.

[2020-10-23 14:29] nikam03 commented on #327
Thanks @valdar for the quick reply.
is there any other packing plugin available which support 2.8.2 ?

[2020-10-23 14:31] valdar commented on #327
Not that I am aware of, do you need to package as war? Do you have other options?

[2020-10-23 19:04] nikam03 commented on #327
Hi @valdar ,

I have figured out way to package and ran from any location<other than target location where zip is generated> on Ubantu machine.

Just followed this https://www.playframework.com/documentation/2.8.x/Deploying

zip is packaged with all required jars including in built Netty Server and  it did worked :)

Cheers,Thanks.

[2020-10-23 19:04] #327 closed

[2020-11-06 11:27] nikam03 opened #328 "Spring DI in Play 2.8"
closing ticket

[2020-11-06 11:36] #328 closed

[2022-01-07 08:29] #286 closed